<tr id='draft_<%= draft_item.id %>'>
  <td class="title"><div><%= link_to draft_item.title, edit_draft_url(draft_item) %></div></td>
  <td class="time"><%= ftime draft_item.created_at %></td>
  <td class="icon"><%= link_to '', edit_draft_url(draft_item), :class => "icon-active icon-active-edit" %></td>
  <td class="icon"><%= link_to_function "", "Iyxzone.Blog.confirmDeletingDraft(#{draft_item.id}, #{current_user.id})", :class => "icon-active" %></td>
</tr>
