<% facebox_tag "将#{@recipient.login}加为好友？" do %>
  <p class="z-w">此请求需经 <%= @recipient.login %> 验证，你们才能成为好友。</p>
  <%= avatar_image @recipient, :class => "imgbox01 left" %>
  <% rows_form_remote_for :request, :url => friend_requests_url, :html => {:onsubmit=> "Iyxzone.disableButton($(new_friend_request_btn),'请等待..');"} do |f| %>
    <%= hidden_field_tag 'request[friend_id]', @recipient.id %>
    <div class="left"><span class="blk tip01">验证信息</span><%= f.text_area 'data' %></div>
    <div class="rows"></div>
    <%= f.z_submit :submit => {:text => '发送', :id => 'new_friend_request_btn'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
  <% end %>
<% end %>
