<table cellpadding="0" cellspacing="0">
	<% guild_items.each do |guild| %>
  <tr>
    <td>
      <div class="imgwrap">
        <%= album_cover_image guild.album, :size => 'large', :class => 'imgbox01' %>
      </div>
      <div class="data jl-data">
        <p><%= guild_link guild, :class => 'shine' %></p>
        <p>游戏：<%= server_location guild.game_server %></p>
        <p>会长: <%= profile_link guild.president %></p>
        <p>你的状态：<%= guild.has_member?(current_user) ? '已经加入' : '还没加入' %></p>
        <p><span>
					<% if current_user == guild.president %><%= link_to "邀请更多人", new_guild_invitation_url(guild) %> | <% end %> <%= link_to "逛逛论坛", forum_topics_url(guild.forum) %>
				</span></p>
      </div>
    </td>
		<td class="party-num">
			<%= link_to "#{guild.people_count}人参加", guild_memberships_url(guild) %>
    </td>
  </tr>
  <% end %>
</table>

<% if @remote %>
  <%= remote_will_paginate guild_items, :remote => @remote %>
<% else %>
  <%= will_paginate guild_items %>
<% end %>
