  <div class="guildProfile fix">
    <div class="avatar">
      <%= album_cover guild.album, :class => "imgbox01" %>
                    <div class='follow' id='follow_guild_<%= guild.id %>'>
                      <% attention = current_user.mini_topic_attentions.find_by_topic_name guild.name %>
                      <% if attention.blank? %>
                        <%= link_to_function "<span class='i iFollow'></span>关注", "Iyxzone.Guild.follow('#{guild.name}', #{guild.id});" %>
                      <% else %>
                        <%= link_to_function "<span class='i iNoFollow'></span>取消关注", "Iyxzone.Guild.unfollow(#{attention.id}, '#{guild.name}', #{guild.id});" %>
                      <% end %>
                    </div> 
    </div>
    <div class="con">
      <ul>
        <li>会长：<span class="memberName"><%= profile_link guild.president %></span></li>
        <li>成立：<span class="time"><%= ftime3 guild.created_at %></span></li>
        <li>游戏：<span class="gameName"><%= game_link guild.game %></span></li>
      </ul>
      <% if guild.is_requestable_by? current_user %>
        <% if !guild.requestable_characters_for(current_user).blank? %>
          <div><%= facebox_link '申请加入该公会', new_guild_request_url(guild), :class => 'red' %></div>
        <% else %>
          <div><%= facebox_tip '无法申请加入?', "你已经没有在该游戏的游戏角色，请查看该工会的游戏、服务器，然后创建相应的游戏角色，然后你就可以申请加入工会啦~", :class => 'red' %></div>
        <% end %>
      <% else %>
      <% end %>
    </div>
  </div>

