<div class="s2m2 guildIntro">
  <div class="title fix">
    <div class="wrap">
      <h2 class="fix"><strong>公会活动</strong><span></span></h2>
      <%= link_to "更多", guild_events_url(guild), :class => :more %>
    </div>
    <em></em>
  </div>
  <div class="s2m2bd fix">
    <% events.each do |e| %>
      <div class="item fix">
        <div class="avatar">
          <%= album_cover e.album, :class => "imgbox01" %>
        </div>
        <div class="con">
          <ul>
            <li><%= event_link e, :class => 'red' %></li>
            <li>游戏：<%= game_link e.game %></li>
            <li>时间：<%= ftime3 e.start_time %></li>
            <li>地点：<%= server_location e.game_server, false %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
