<% content_for :html_title, "#{current_user.login} - 热门公会 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 热门公会 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <h1 class="app-cons">公会</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 0} %>
	    <div class="piclist-rows">
        <%= render :partial => 'hot_nav', :locals => {:hover => 0} %>
      <% if @guilds.total_entries != 0 %>
        <table cellpadding="0" cellspacing="0">
          <%= render :partial => 'user/guilds/guild_item', :collection => @guilds %>
        </table>
        <%= will_paginate @guilds %>
      <% else %>
        <div class='tip'>没有热门公会，你赶紧<%= link_to '创建一个', new_guild_url %>吧</div>
      <% end %>
      </div>
    </div>
<% end %>
