<% content_for :javascript_include do %>
  <%= javascript_include_tag 'guild' %>
<% end %>

<% content_for :html_title, "#{current_user.login} - 新建公会 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 新建公会 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <h1 class="app-cons">公会</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 1} %>
      <div class="appcontent01">
        <h3>新建公会</h3>
        <div class="cons-form formcontent">
          <% rows_form_for @guild, :html => {:onsubmit => "Iyxzone.Guild.Builder.save(this, $('submit_btn')); return false;"} do |f| %>  
            <%= f.text_field :name, :label => '公会名字' %>
            <%= f.collection_select :character_id, current_user.characters, :id, :name_with_game_and_server, {:prompt => '---'}, :class => 'selector selector02', :label => "会长游戏角色" %>
            <%= f.text_area :description, :label => '公会描述' %>
            <%= f.submit '提交' => {:type => 'submit', :id => 'submit_btn'} %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
