<% content_for :html_title, "#{current_user.login} - 参加的公会 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 参加的公会 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="big-cons">公会</h1>
    <div class="box02 canvas_int space">
	    <div class="tab tab01">
		    <% subject = get_subject @user %>
		    <ul>
			    <li><span><%= link_to "热门公会", hot_guilds_url %></span></li>
          <li class='hover'><span><%= link_to "#{subject}的公会", guilds_url(:uid => @user.id) %></span></li>
          <li><span><%= link_to "好友公会", friends_guilds_url %></span></li>
		    </ul>
		    <div class='right'>
			    <%= link_to "新公会", new_guild_url %>
		    </div>
      </div>
	    <div class="piclist-rows">
        <div class='nav-link'>
          <ul class='s_clear'>
            <li><%= link_to "<span>#{subject}发起的(#{@user.guilds_count})</span>", guilds_url(:uid => @user.id) %></li>
            <li class='hover'><%= link_to "<span>#{subject}参加的(#{@user.participated_guilds_count})</span>", participated_guilds_url(:uid => @user.id) %></li>
          </ul>
        </div>
        <% if @guilds.total_entries != 0 %>
		      <%= render :partial => 'user/guilds/guild_items', :object => @guilds %>
        <% else %>
          <div class='tip'>你还没加入过别人的公会，你可以加入<%= link_to '好友的公会', friends_guilds_url %> 或者 <%= link_to '最近别人创建的公会', recent_guilds_url %> 或者 <%= link_to '最近的热门公会', hot_guilds_url %></div>
        <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
