<% content_for :html_title, "#{current_user.login} - 参加的公会 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 参加的公会 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <% if @user==current_user %>
      <h1 class="app-cons">公会</h1>
    <% else %>
      <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的工会"} %>
    <% end %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>
      <div class="piclist-rows">
        <%= render :partial => 'index_nav', :locals => {:user => @user, :hover => 1} %>
        <% if @guilds.total_entries != 0 %>
          <table cellpadding="0" cellspacing="0">
            <%= render :partial => 'user/guilds/guild_item', :collection => @guilds %>
          </table>
          <%= will_paginate @guilds %>
        <% else %>
          <div class='tip'>你还没加入过别人的公会，你可以加入<%= link_to '好友的公会', friends_guilds_url %> 或者 <%= link_to '最近别人创建的公会', recent_guilds_url %> 或者 <%= link_to '最近的热门公会', hot_guilds_url %></div>
        <% end %>
      </div>
    </div>
<% end %>
