<% content_for :html_title, "#{current_user.login} - 新创公会 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 新创公会 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-cons">公会</h1>
    <div class="box02 canvas_int">
	    <div class="tab tab01">
        <div class="icon">
          <%= link_to "新建公会", new_guild_url, :class => "icon-add-table" %>
        </div>
		    <ul>
			    <li class='hover'><span><%= link_to "热门公会", hot_guilds_url %></span></li>
			    <li><span><%= link_to "我的公会", guilds_url(:uid => current_user.id) %></span></li>
			    <li><span><%= link_to "好友公会", friends_guilds_url %></span></li>
		    </ul>
      </div>
	    <div class="piclist-rows">
        <div class='nav-link'>
          <ul class='s_clear'>
            <li><%= link_to "<span>人气最高</span>", hot_guilds_url %></li>
            <li class='hover'><%= link_to "<span>最近创建</span>", recent_guilds_url %></li>
          </ul>
        </div>
      <% if @guilds.total_entries != 0 %>
		    <%= render :partial => 'user/guilds/guild_items', :object => @guilds %>
        <%= will_paginate @guilds %>
      <% else %>
        <div class='tip'>还没有公会被创建，你赶紧<%= link_to '创建一个', new_guild_url %>吧</div>
      <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
