<% content_for :html_title, "#{@guild.name}的首页 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的首页 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
<%= javascript_include_merged :guild %>
<% end %>

<% content_for :left do %>
  <% mc_avatar do %>
    <%= album_cover @album %>
  <% end %> 
  <div class='info-list'>
    <%= render :partial => 'guild_info', :locals => {:guild => @guild} %>
    <%= render :partial => 'guild_menu', :locals => {:guild => @guild, :role => @role, :attention => @attention} %>  
    <%= render :partial => 'guild_request', :locals => {:guild => @guild} %>
  </div>
<% end %>

<% content_for :right do %>
  <% unless @memberships.blank? %>
    <%= render :partial => 'my_memberships', :locals => {:memberships => @memberships, :guild => @guild} %>
  <% end %>
  <% unless @hot_topics.blank? %>
	  <%= render :partial => 'guild_topics', :locals => {:hot_topics => @hot_topics, :guild => @guild} %>
  <% end %>
  <% unless @events.blank? %>
	  <%= render :partial => 'guild_events', :locals => {:events => @events, :guild => @guild} %>
  <% end %>
<% end %>

<div class="box02 canvas_con">
  <%= render :partial => "guild_desc", :locals => {:guild => @guild} %> 
  <%= render :partial => "recent_photos", :locals => {:album => @album, :photos => @photos} %>
  <%= render :partial => "guild_members", :locals => {:guild_characters => @guild_characters, :guild => @guild} %>
  <%= render :partial => "guild_feeds", :locals => {:guild => @guild, :feed_deliveries => @feed_deliveries, :first_fetch_size => @first_fetch_size} %>
  <% if @role and (@role.is_president? or @role.is_authorized?) %>
    <%= render :partial => 'user/wall_messages/wall_form', :locals => {:wall => @guild, :recipient => @guild.president, :with_comments => false} %>
  <% else %>
    <div class="bookbox"><h3><label for="book">留言板</label>(共<%= @guild.comments_count %>条留言)</h3></div>
  <% end %>
  <div class="feed-box" id='comments'>
    <%= render :partial => 'user/wall_messages/wall_messages', :locals => {:messages => @messages} %>
  </div>
</div>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id})" %>
<% end %>
