<% content_for :html_title, "#{@guild.name}的首页 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的首页 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
<%= javascript_include_merged :guild %>
<% end %>

<% content_for :left do %>
  <%= render :partial => 'guild_avatar' %>
  <div class='info-list'>
    <%= render :partial => 'guild_info' %>
    <%= render :partial => 'guild_menu' %>  
    <%= render :partial => 'guild_request' %>
  </div>
<% end %>

<% content_for :right do %>
  <% if !@memberships.blank? %>
    <%= render :partial => 'my_memberships' %>
  <% end %>
	<%= render :partial => 'guild_topics' %>
	<%= render :partial => 'guild_events' %>
<% end %>

<div class="box02 canvas_con">
  <%= render :partial => "guild_desc" %> 
  <%= render :partial => "recent_albums" %>
  <%= render :partial => "guild_members" %>
  <%= render :partial => "guild_feeds" %>
  <% if @role and (@role.is_president? or @role.is_authorized?) %>
    <%= render :partial => 'user/wall_messages/wall_form', :locals => {:wall => @guild, :recipient => @guild.president, :with_comments => false} %>
  <% else %>
    <div class="bookbox"><h3><label for="book">留言板</label>(共<%= @guild.comments_count %>条留言)</h3></div>
  <% end %>
  <div class="feed-box" id='comments'>
    <%= render :partial => 'user/wall_messages/wall_messages', :locals => {:messages => @messages} %>
  </div>
</div>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id})" %>
<% end %>
