<% content_for :javascript_include do %>
  <%= javascript_include_merged :guild %>
<% end %>

<% content_for :style do %>
  guildHome
<% end %>

<% content_for :title do %>
  <strong><%= @guild.name %></strong>
<% end %>

<% content_for :notice do %>
  <span class="i40 iGuildLogo"></span>
  <span class="i iGuildMsg">公告：</span>
  <div class="msg">
  <% if @guild.president == current_user %>
    <strong><%= in_place_text_field @guild, :bulletin, '有啥公告?', :param_name => 'guild[bulletin]' %></strong>
  <% else %>
    <strong><%= h @guild.bulletin %></strong>
  <% end %>
  </div>
<% end %>

<% content_for :side_bar do %>
  <%= render :partial => 'guild_info', :locals => {:guild => @guild} %>  
  <% if !@memberships.blank? %>
    <%= render :partial => 'my_memberships', :locals => {:guild => @guild, :memberships => @memberships} %>
  <% end %>
  <%= render :partial => 'guild_desc', :locals => {:guild => @guild} %>
  <%= render :partial => 'guild_menu', :locals => {:guild => @guild, :role => @role} %>
  <% if !@events.blank? %>
    <%= render :partial => 'guild_events', :locals => {:events => @events, :guild => @guild} %>
  <% end %>
  <%= render :partial => 'guild_members', :locals => {:members => @members, :guild => @guild} %>
<% end %>

<% content_for :content do %>
  <%= render :partial => "user/home/talking_about", :locals => {:mini_blogs => @mini_blogs, :topics => @topics} %>
  <%= render :partial => "guild_tab", :locals => {:guild => @guild} %>
  <div id='presentation'>
    <%= render :partial => 'feed_list', :locals => {:feed_deliveries => @feed_deliveries, :fetch_size => @fetch_size} %>
  </div>
  <% javascript_tag do %>
    Iyxzone.Guild.Presentor.init(<%= @guild.id %>, <%= @guild.album.id %>, <%= @guild.president_id %>, <%= @fetch_size %>);
  <% end %>
<% end %>
