<% content_for :javascript_include do %>
  <%= javascript_include_tag 'invitation' %>
<% end %>

<% content_for :html_title, "#{@guild.name}的邀请 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的邀请 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <div class="friend-head space s_clear">
      <span class="left"><%= album_cover_image @guild.album, :class => "imgbox01" %></span>
      <p class="left">
        <strong>会员邀请</strong><br/>
        <%= guild_link @guild, :class => 'red' %>的主页
      </p>
    </div>
    <div class="box02 canvas_int space">
      <div class="rows s_clear"></div>
      <div class="tab tab01">
        <div class="icon">
          <%= link_to "邀请新会员", new_guild_invitation_url(@guild), :class => "icon-add-table" %>
        </div>
        <ul>
          <li><span><%= link_to "所有会员", guild_memberships_url(@guild, :type => 0) %></span></li>
          <li><span><%= link_to "被邀请", guild_memberships_url(@guild, :type => 1) %></span></li>
          <li><span><%= link_to "请求加入", guild_memberships_url(@guild, :type => 2) %></span></li>
        </ul>
      </div>
      <div class="friend-box">
        <div class="appcontent01">
          <div class="friend-invite-head">
            <strong class="green">搜索好友的游戏角色：</strong> 
            <%= text_field_tag 'search', '输入游戏角色的名字', :class => 'ipt', :onclick => "this.clear();", :onfocus => "Iyxzone.Invitation.Builder.startObserving(this);", :onblur => "Iyxzone.Invitation.Builder.stopObserving(this);"  %>
          </div>
          <div class="friend-invite-list">
          <% if @characters.blank? %>
              你的好友没有可以参加该工会的游戏角色
          <% else %>
            <div id='invitations'><%= render :partial => 'characters' %></div>
            <div class="rows s_clear">
              <span class="button"><span><%= button_to_function '邀请', "Iyxzone.Invitation.Builder.submit(this, $('invitation_form'))" %></button></span></span>
            </div>
          <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>
<% form_tag guild_invitations_url(@guild), :id => 'invitation_form' do %>
<% end %>
