<% content_for :javascript_include do %>
  <%= javascript_include_merged :guild %>
<% end %>

<% content_for :html_title, "#{@guild.name}的邀请 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的邀请 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <%= render :partial => "user/guilds/guild_header", :locals => {:text => "会员邀请", :guild => @guild} %>
    <div class="box02 canvas_int space">
      <div class="rows s_clear"></div>
      <%= render :partial => 'user/guilds/memberships/tab', :locals => {:guild => @guild} %>
      <div class="friend-box">
        <div class="appcontent01">
          <div class="friend-invite-head">
          <% unless @characters.blank? %>
            <strong class="green">搜索好友的游戏角色：</strong> 
            <%= text_field_tag 'search', '输入游戏角色的名字', :class => 'ipt', :onclick => "$(this).clear();", :onfocus => "Iyxzone.Guild.Invitation.Builder.startObservingInput($('search'));", :onblur => "Iyxzone.Guild.Invitation.Builder.stopObservingInput($('search'));"  %>
						<% end %>
          </div>
          <div class="friend-invite-list">
          <% if @characters.blank? %>
              你的好友没有可以参加该公会的游戏角色
          <% else %>
            <div id='invitations'><%= render :partial => 'characters', :object => @characters %></div>
            <div class="rows s_clear">
              <span class="button"><span><%= button_to_function '确定', "Iyxzone.Guild.Invitation.Builder.submit(this, #{@guild.id})" %></span></span>
            </div>
          <% end %>  
          </div>
        </div>
      </div>
    </div>
<% end %>
