<% attendances.each do |id, info| %>
<% character = @event.characters.find(id) %>
<tr class="jl-cutline" id='character_<%= id %>'>
  <td>
    <%= avatar character.user, {:class => 'imgbox01'}, {:class => 'left'} %>
    <p class="left">
      <%= profile_link character.user, :class => 'blk' %>
      <span class="red blk"><%= character.name %></span>
    </p>
  </td>
  <td>
    迟到 <%= check_box_tag "late_#{id}", 1, info[:late] == 1, :onclick => "Iyxzone.Event.Summary.Attendance.lateOnchange(#{id}, this)" %>
  </td>
  <td>
    <div class="op">
      <div class='percent'>
        <%= link_to_function '<span class="icon-minus"></span>', "Iyxzone.Event.Summary.Attendance.decComplete(#{id})", :class => 'left' %>
        <span class="percent01 left w-l">
          <span id = "complete_<%= id %>_bar" class="green" style="width:<%= info[:complete] %>%">
          </span>
        </span>
        <strong id = "complete_<%= id %>_number"><%= info[:complete] %>%</strong>
        <%= link_to_function '<span class="icon-plus"></span>', "Iyxzone.Event.Summary.Attendance.incComplete(#{id})", :class => 'left' %>
      </div>
    </div>
  </td>
  <td>
    <%= link_to_function '', "Iyxzone.Event.Summary.Attendance.remove(#{id})", :class => "icon-active" %>
  </td>
</tr>
<% end %>
