<div class="rows s_clear"></div>
<div class="tab tab01">
  <ul>
    <li class="hover"><span><%= link_to "其他赏罚", event_summary_url(@event, :step => 4) %></span></li>
  </ul>
</div>
<div class="appcontent01 formcontent">
  <div class="rows s_clear">
    <div class="fldid">选择接受额外赏罚的角色</div>
    <div class="fldvalue">
      <div class="selector" style="width:200px">
        <%= link_to_function '', :onclick => "Iyxzone.Event.Summary.Rule.selectCharacters();" %>
        <input />
        <div id="friend-wrap" class="drop-wrap" style="display:none"> 
          <iframe src="" frameborder="0"></iframe>
          <div class="wrap-bg"></div>
          <div class="con">
            <div class="head s_clear">
              <h4 class="left"><span>选择接受赏罚的角色</span></h4>
            </div>
            <ul class="checkboxes rows s_clear">
              <% @attendants.each do |p| %>
                <li><span><%= check_box_tag '', 1, false, :character_id => p.id, :avatar => avatar_path(p.user, 'small'), :name => p.name %><%= "#{p.user.login}-#{p.name}" %></span></li>
              <% end %>
            </ul>
            <div class="foot rows">
              <span class="button"><span><%= button_to_function "确定", "Iyxzone.Event.Summary.Rule.addCharacters()" %></span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <table class="act-member-list space" cellpadding="0" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td class="tl" style="border-right:0;">会员列表</td>
        <td style="border-left:0;border-right:0;width:300px;text-align:center;">规定</td>
        <td style="border-left:0;border-right:0;">次数</td>
        <td style="border-left:0;width:100px">分值</td>
        <td style="border-left:0;width:100px"></td>
      </tr>
    </thead>
    <tbody id='rewards'>
      <%= render :partial => 'rule_info', :locals => {:rules => @rule_infos} %>
    </tbody>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="textfield" id='new_rule'><input value="点击添加新的规则" onclick="Iyxzone.Event.Summary.Rule.newRule()" /></div>
          <div id='new_rule_reason' style="display:none">
            <div class='textfield'><%= text_field_tag 'rule[reason]', '', :onclick => "$(this).clear()" %></div>
          </div>
        </td>
        <td></td>
        <td>
          <div id='new_rule_outcome' style='display:none'>
            <div class='textfield' style="width: 80px; margin: 0 auto;"><%= text_field_tag 'rule[outcome]', '', :onclick => "$(this).clear()" %></div>
          </div>
        </td>
        <td>
          <div id='new_rule_submit' style='display:none'>
            <%= button_to_function '创建', "Iyxzone.Event.Summary.Rule.createRule(this)" %>
            <%= link_to_function '取消', "Iyxzone.Event.Summary.Rule.cancelRule(this)" %>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td colspan="3">
        <span class="button w-l"><span><button type="submit" onclick="Iyxzone.Event.Summary.Rule.prev()">上一步</button></span></span>
        <span class="button w-l"><span><button type="submit" onclick="Iyxzone.Event.Summary.Rule.next()">下一步</button></span></span>
      </td>
    </tfoot>
  </table>
</div>

<div class='drop-box' id='rule_selector' style='display:none'>
  <a class='member-toggle' rule_id=''><span><strong>----</strong></span></a>
  <% @guild.basic_rules.each do |r| %>
    <a class='member-toggle' rule_id=<%= r.id %> outcome=<%= r.outcome %>><span><strong><%= truncate r.reason, :length => 20, :omission => '...' %>(<%= r.outcome %>)</strong></span></a>
  <% end %>
</div>

<%= javascript_tag "
  Iyxzone.Event.Summary.Rule.load(#{@event.id}, #{@event.guild_id}, '#{form_authenticity_token}', #{integer_array_for_javascript @rule_ids}, #{integer_array_for_javascript @character_ids}, #{integer_array_for_javascript @counts}, #{array_or_string_for_javascript @reasons}, #{integer_array_for_javascript @outcomes});
  Iyxzone.Event.Summary.Rule.reset();
" %>
