<% content_for :html_title, "#{@guild.name}的相片上传 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的相片上传 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <%= render :partial => "user/guilds/guild_header", :locals => {:text => "#{@guild.name}的照片"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'user/guilds/albums/tab' %>
      <div class="box02 appcontent02">
        <div class='path-box'>
          <label>公会"<%= guild_link @guild %>"</label>
          <span>上传照片</span>
        </div>
        <%= swfupload_head %>
        <div class='photo-upload-box'>
          <%= swfupload :controller => 'user/guilds/photos', :action => 'create', :album_id => @album.id %>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>
