<%= stylesheet_link_tag 'test' %>
<%= stylesheet_link_tag 'cropper' %>
<%= javascript_include_tag 'textboxlist' %>
<%= javascript_include_tag 'friend' %>
<%= javascript_include_tag 'cropper' %>
<%= javascript_include_tag 'photo' %>

<% content_for :html_title, "#{@guild.name}的照片 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的照片 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <div class="friend-head space s_clear">
      <span class="left"><%= album_cover_image @guild.album, :class => "imgbox01" %></span>
      <p class="left">
        <strong>公会照片</strong><br/>
        <%= guild_link @guild, :class => 'red' %>的主页
      </p>
    </div>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <div class="right">
          <% if @membership and (@membership.is_veteran? or @membership.is_president?) %>
          <%= link_to "上传照片", new_guild_photo_url(:album_id => @album.id) %>
          <% end %>
        </div>
        <ul>
          <li><span><%= link_to "热门照片", hot_personal_photos_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "#{@guild.name}的相册", guild_albums_url(@guild) %></span></li>
        </ul>
      </div>
      <div class="box02 pic-box">
        <div class="img-container-main s_clear">
          <div class="img-container-wrap">
            <div class="img-container">
              <div class="path-box">
                <ul>
                  <li><%= facebox_link "分享", new_sharing_url(:shareable_type => 'Photo', :shareable_id => @photo.id) %></li>
                  <li><%= dig_link @photo %></li>
                  <% if @membership and (@membership.is_authorized? or @membership.is_president?) %>
                    <li><%= link_to_function "标记", "tagger.start();" %></li>
                  <% end %>
                  <% if @membership and @membership.is_president? %>
                    <li class="icon-photo"><%= link_to '编辑', edit_guild_photo_url(@photo), :rel => 'facebox' %>
                    <li class="icon-del" ><%= facebox_confirm '删除', guild_photo_url(@photo), {:method => :delete, :msg => '你确定要删除吗?'} %></li>
                  <% end %>
                </ul>
                <label>工会"<%= guild_link @guild %>"</label>
                <span><%= album_link @album %></span><span>照片</span>
              </div>
              <div class="img-main">
                <div class="imgwrap">
                  <table cellpadding="0">
                    <tr>
                      <th><%= image_tag @photo.public_filename, :id => "photo_#{@photo.id}" %></th>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="pic-desc">
                <h4>
                  <% if @user == current_user %>
                    <%= in_place_text_field :span, @photo, :notation, true, guild_photo_url(@photo), {}, {:empty_text => '点击增加照片描述', :parameter_name => 'photo[notation]', :rows => 2, :cols => 70} %>
                  <% else %>
                    <%= @photo.notation %>
                  <% end %>
                </h4>
                <div class="pic-flag s_clear">
                  <ul id='photo_tags'></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="album">
            <%= render :partial => 'shared/photo_slide', :locals => {:album => @album, :photo => @photo} %>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="feed-list">
          <h4>评论(<%= @photo.comments_count %>)</h4>
          <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @photo, :recipient => @user} %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div></div>
</div></div></div></div>

<%= render :partial => 'user/photo_tags/control_panel', :locals => {:photo => @photo, :tags => @tags, :user => @user} %>

<% unless @reply_to.blank? %>
  <%= javascript_tag "Iyxzone.Comment.set('guild_photo', '#{@photo.id}', '#{@reply_to.login}', #{@reply_to.id})" %>
<% end %> 
