<%= javascript_include_tag 'guestbook' %>

<% facebox_tag '汇报错误' do %>
  <% rows_form_for :guestbook, :html => {:onsubmit => "Iyxzone.Guestbook.submit(this); return false;"} do |f| %>
    <%= hidden_field_tag 'guestbook[priority]', Guestbook::Urgent, :id => 'priority_field' %>
    <div class='formcontent'>
      <%= f.text_area 'description', :label => '错误描述' %>
      <%= f.collection_select :catagory , @error_elements, 'to_s', "to_s", {:prompt => '---'}, :label => '错误分类', :class => 'selector selector02' %>
    </div>
    <%= f.z_submit :submit => [{:text => '这错误难以忍受', :id => 'button2', :onclick => "$('priority_field').value=#{Guestbook::Urgent}"}, {:text => '这错误让人不爽', :id => 'button1', :onclick => "$('priority_field').value=#{Guestbook::Justsoso}"}] %>
  <% end %>
<% end %>
