<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= (html_title = yield :html_title) ? html_title : '欢迎您' %> - 一起游戏网</title>
<meta name="description" content="<%= (html_description = yield :html_description) ? html_description : '一起游戏网(17Gaming.com)愿做网络游戏玩家的精神家园。在这里，您能找到曾经一起战斗的游戏网友，结交到新的游戏战友，并一起分享，一起成长，一起快乐。' %>">
<meta name="keywords" content="<%= (html_keywords = yield :html_keywords) ? html_keywords : '17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区' %>">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag 'common' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'welcome' %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'swfobject' %>
	<%= javascript_include_tag 'iyxzone' %>
	<%= javascript_include_tag 'facebox' %>
</head>

<body>
	<div class="welcome-box">
		<div id="navbar">
			<div id="navwrap">
				<div id="navmid">
					<a href="http://www.17gaming.com/" class="logo-top png" title="一起游戏网">一起游戏网</a>
					<p class="top_link right">
						<%= link_to_function "设为主页", "Iyxzone.addToHomepage()" %> |
						<%= link_to_function "加入收藏", "Iyxzone.addToBookmark()" %> |
						<%= link_to '关于我们', about_us_help_url %>
					</p>
				</div>
			</div>
		</div>
					<% flash.each do |key, msg| %>
						<div class="<%=key%>-msg" id="notice_<%=key%>">
							<span class="icon-<%= key %>"></span>
							<%= msg %>
						</div>
						<script type="text/javascript">
							setTimeout("new Effect.Fade('notice_<%= key %>');", 5000);
						</script>
					<% end %>
    <div class="welcome-banner">
				<div class="welcome-text">没有一辈子的游戏，但有一辈子的朋友。加入一起游戏网（www.17gaming.com）共建网络游戏玩家的精神家园。</div>
        <div class="login-box formcontent">
					<% form_tag sessions_url do %>
              <div class="rows s_clear">
									<div class="fldid"><strong>邮箱：</strong></div>
									<div class="fldvalue">
											<div class="textfield"><%= text_field_tag 'email', nil %></div>
									</div>
                </div>
              <div class="rows s_clear">
									<div class="fldid"><strong>密码：</strong></div>
									<div class="fldvalue">
										<div class="textfield"><%= password_field_tag 'password', nil %></div>
									</div>
									<div class="fldcb">
											<%= link_to '忘记密码？', forgot_password_url %>
									</div>
							</div>
							<div class="rows s_clear">
									<div class="fldid">&nbsp;</div>
									<div class="fldvalue">
											<%= check_box_tag 'remember_me', 1, true %><%= label_tag 'auto', '下次自动登录' %>
									</div>
								</div>
								<div class="rows s_clear">
                    <div class="fldid">&nbsp;</div>
                    <div class="fldvalue">
											 <input class='login-btn' id='loginBtn' title="登录" name="commit" type="submit" value="" onmouseover="$('loginBtn').writeAttribute('class', 'login-btn-hover');" onmouseout="$('loginBtn').writeAttribute('class','login-btn')"/>
									</div>
							</div>  
							<div class="rows idxRegTips">
                    <strong>还没有账号么？</strong>
                </div>  
							<div class="rows s_clear">
									<div class="fldid">&nbsp;</div>
									<div class="fldvalue">
										<%= link_to '', signup_url, :class => 'reg-btn', :title=>"马上注册" %>
									</div>
							</div>  
							<% end %>
        </div>
    </div>
		
    <!--公告-->
    <div class="idxMessage fix">
    	<h2 class="t">一起游戏网公告：</h2>
        <div class="bd">
            <ul>
                <li><span class="time">07月30日</span>新版网站正是上线</li><li><span class="time">07月30日</span>今日话题：ChinaJoy</li><li><span class="time">07月30日</span>微博功能闪亮登场</li> 
            </ul>
        </div>
        <div class="ft clear"><span></span></div>
    </div>
    <!--公告 end-->

    <!--每日推荐-->
    <div class="idxCommend fix">
    	<h2 class="t"><strong>每日推荐</strong></h2>
        <div class="guild">
        	<div class="avatar"><img src="images/photo/photo01.png" alt="" class="imgbox01" /></div>
            <div class="con">
                <h3><%= facebox_tip "【九龍帝盟】〆网游娱乐会所","登录后才能执行此操作", :title => "【九龍帝盟】〆网游娱乐会所" %></h3>
                <ul>
                    <li>所属游戏：<span class="gameName">龙之谷</span></li>
                    <li>成员：<span class="num">5</span></li>
                    <li>创建时间：<span class="time">2010-07-24</span></li>
                </ul>
            </div>
        </div>
        <div class="pipe"></div>
        <div class="memberShow">
        	<div class="star fix">
            	<div class="subTitle"><strong>游戏达人</strong></div>
                   <ul class="list">
                     <li>
                     <div class="m-card">
                        <div class="m-avatar"><img class="imgbox01" src="images/photo/photo11.png"></div>
                        <div class="m-con">
                          <h4><%= facebox_tip "esports海涛","登录后才能执行此操作", :class => "memberName red" %></h4>
                          <div class="gameName">Dota</div>
                          <div class="op"><%= facebox_tip "<span class=\"i iFollow\"></span>成为粉丝","登录后才能执行此操作", :class => "memberName red" %></div>
                        </div>
                      </div>
                     </li>
                     <li>
                     <div class="m-card">
                        <div class="m-avatar"><img class="imgbox01" src="images/photo/photo11.png"></a></div>
                        <div class="m-con">
                          <h4><%= facebox_tip "苹果牛","登录后才能执行此操作", :class => "memberName red" %></h4>
                          <div class="gameName">魔兽世界</div>
                          <div class="op"><%= facebox_tip "<span class=\"i iFollow\"></span>成为粉丝","登录后才能执行此操作", :class => "memberName red" %></div>
                        </div>
                      </div>
                     </li>
                     <li>
                     <div class="m-card">
                        <div class="m-avatar"><img class="imgbox01" src="images/photo/photo11.png"></div>
                        <div class="m-con">
                          <h4><%= facebox_tip "xiaoy","登录后才能执行此操作", :class => "memberName red" %></h4>
                          <div class="gameName">魔兽争霸</div>
                          <div class="op"><%= facebox_tip "<span class=\"i iFollow\"></span>成为粉丝","登录后才能执行此操作", :class => "memberName red" %></div>
                        </div>
                      </div>
                     </li>
                   </ul>
								</div>

        	<div class="online fix">
            	<div class="subTitle"><strong>在线用户</strong></div>
                   <ul class="list">
                     <li>
                     <div class="m-card">
                      <!---->
                        
                        <div class="m-avatar"><a href="#" title=""><img class="imgbox01" src="images/photo/photo11.png"></a></div>
                        <div class="m-con">
                          <h4><%= facebox_tip "TLRN","登录后才能执行此操作", :class => "memberName red" %></h4>
                          <div class="gameName">魔兽世界</div>
                        </div>
                      <!---->
                      </div>
                     </li>
                     <li>
                     <div class="m-card">
                      <!---->
                        
                        <div class="m-avatar"><a href="#" title=""><img class="imgbox01" src="images/photo/photo11.png"></a></div>
                        <div class="m-con">
                          <h4><%= facebox_tip "风中雨中","登录后才能执行此操作", :class => "memberName red" %></h4>
                          <div class="gameName">龙之谷</div>
                        </div>
                      <!---->
                      </div>
                     </li>
                     <li>
                     <div class="m-card">
                      <!---->
                        
                        <div class="m-avatar"><a href="#" title=""><img class="imgbox01" src="images/photo/photo11.png"></a></div>
                        <div class="m-con">
                          <h4><%= facebox_tip "米粒","登录后才能执行此操作", :class => "memberName red" %></h4>
                          <div class="gameName">跑跑卡丁车</div>
                        </div>
                      <!---->
                      </div>
                     </li>
                   </ul>
			</div>
        </div>
    </div>

    <!--每日推荐 end-->
    <!--今日话题-->
    <div class="idxTopic fix">
    	<div class="wrap">
            <h1>游戏微博</h1>
            <h3 class="t">ChinaJoy</h3>
            <div class="con">
               <ul class="list">
								<% @mini_blogs.each do |mini_blog|%>
                 <li>
                 <div class="m-card">
                  <!---->
                    <div class="m-avatar"><%= avatar_image mini_blog.poster, :class=>"imgbox01" %></div>
                    <div class="m-con">
                      <div><%=mini_blog.poster.login%>：<%=mini_blog.content%></div>
                      <div class="time"><%= ftime mini_blog.created_at %></div>
                    </div>
                  <!---->
                  </div>
                 </li>
								 <% end %>
            	</ul>
            </div>
            <div class="r-c"></div>
        </div>
    </div>

    <div class="welcome-intro s_clear">
    	<ul>
    	  <li class="item-1">
          	<div class="con">
              <h2>交友</h2>
              <p>用最便捷的方式找到昔日的玩伴和现在的战斗伙伴，并以虚拟身份保持联系。</p>
           </div>
          </li>
    	  <li class="item-2">
          	<div class="con">
              <h2>微博</h2>
              <p>开始你的游戏微博，分享你的游戏精彩给更多的玩家</p>
           </div>
          </li>
    	  <li class="item-3">
          	<div class="con">
              <h2>公会</h2>
              <p>创立或找到那个真正属于你的公会，最快的了解身边会员的动态。</p>
           </div>
          </li>
    	</ul>
    </div>
</div>

<div class="footer-shine s_clear">
	<div class="logo"><img src="images/welcome/footer-logo.png" alt="" /></div>
    <div class="con">
        <div class="link">
					<%= link_to '关于我们', about_us_help_url %> | 
					<%= link_to '应用介绍', app_info_help_url %> | 
					<%= link_to '联系方式', contact_info_help_url %> | 
					<%= link_to '隐私说明', privacy_info_help_url %>
				</div>
        <div class="copyright"><span class="w-l">Copyright © 2010-2010 MingZen. All Rights Reserved</span><span>鸣禅公司 版权所有</span></div>
    </div>
    <div class="cyberpolice"><a href="http://sh.cyberpolice.cn/"><img src="images/110.gif?1273208676" alt="110"></a></div>
		<div class="company-logo">一起游戏网</div>
    <div class="r-c"></div>
</div>
</body>
</html>
