<dl class='menu-op space20'>
  <dt>操作</dt>
<% if @event.expired? %>
  <% if @user == current_user %>
    <dd><%= link_to '上传照片', new_event_photo_url(:album_id => @album) %></dd>
  <% elsif @event.has_participant? current_user %>
    <dd><%= link_to '给组织者发信', new_mail_url(:recipient_ids => [@event.poster_id]) %></dd>
  <% end %>
  <dd>该活动已经过期</dd>
<% else %>
  <% if @user == current_user %>
    <dd><%= link_to '编辑活动', edit_event_url(@event) %></dd>
    <dd><%= link_to '邀请更多人', new_event_invitation_url(@event) %></dd>
    <dd><%= link_to '上传图片', new_event_photo_url(:album_id => @album) %></dd>
    <dd><%= facebox_confirm '放所有人鸽子', event_url(@event), {:msg => '你确定要取消这次活动吗?', :method => :delete} %></dd>
  <% elsif @event.has_participant? current_user %>
    <dd><%= link_to '给组织者发信', new_mail_url(:recipient_ids => [@event.poster_id]) %></dd>
  <% end %>
    <% code = @event.is_requestable_by?(current_user).to_i %>
    <% if code > 0 %>
      <table class="title"><tr><td><h3 class="icon-sinker">发送 <%= facebox_link '请求', new_event_request_url(@event, :show => 1) %> 加入该活动？</h3></td></tr></table>
    <% elsif code == 0 %>
      <div>只有他的好友可以参加，<%= facebox_link '加他为好友', new_friend_request_url(:friend_id => @user.id), :class => 'red' %></div> 
    <% elsif code == -1 %>
      <dd>你没有在该游戏、服务器的游戏角色</dd>
    <% elsif code == -2 %>
      <dd>只有该工会的会员才能参加, 去工会 <%= guild_link @event.guild %> 看看</dd>
    <% end %>
<% end %>
</dl>
