      <div class="tab tab01">
        <div class="right">
          <%= application_link %>
          <%= link_to "新建活动", new_event_url %>
        </div>
        <ul>
          <li <% if hover==0 %>class='hover'<% end %>><span><%= link_to "热门活动", hot_events_url %></span></li>
          <li <% if hover==1 %>class='hover'<% end %>><span><%= link_to "#{get_subject user}的活动", events_url(:uid => user.id) %></span></li>
          <% if user == current_user %>
          <li <% if hover==2 %>class='hover'<% end %>><span><%= link_to "朋友的活动", friends_events_url %></span></li>
          <% end %>
        </ul>
      </div>

