<p class='z-h s_clear'>
  <strong class='left'>编辑活动</strong>
  <%= link_to_function '', "facebox.close();", :class => "icon2-close right" %>
</p>

<div id='errors'></div>
<div class='z-con'>
<% form_for :event, :html => {:id => "event_form"} do |f| %>  
  <div class="rows s_clear">
    <div class="fldid"><label for="name">活动标题：</label></div>
    <div class="fldvalue">
      <div class="textfield"><%= f.text_field :title %></div>
    </div>
  </div>
  <div class="rows s_clear">
    <div class="fldid"><label for="name">开始时间：</label></div>
    <div class="fldvalue"><%= calendar_date_select :event, :start_time %></div>
  </div>
  <div class="rows s_clear">
    <div class="fldid"><label for="name">结束时间：</label></div>
    <div class="fldvalue"><%= calendar_date_select :event, :end_time %></div>
  </div>
  <div class="rows s_clear">
    <div class="fldid"><label for="name">任务描述：</label></div>
    <div class="fldvalue"><%= f.text_area :description %></div>
  </div>
  <div class="rows s_clear">
    <div class="fldid"><label for="name">谁可以加入：</label></div>
    <div class="fldvalue"><%= privilege_select_tag :event %></div>
  </div>
  <div class="z-submit s_clear space">
    <table class="center" cellpadding="0"><tr><td>
      <span class="button"><span><button onclick="Iyxzone.Event.Builder.update(<%= @event.id %>, event)">完成</button></span></span>
      <span class="button button-gray"><span><button type="button" onclick="facebox.close();">取消</button></span></span>
    </td></tr></table>
  </div>
<% end %>
</div>
