<% content_for :html_title, "#{@user.login} - 发起活动 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的发起活动 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
	<% if @user==current_user %>
    <h1 class="app-ploy">活动</h1>
	<% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的活动"} %>
	<% end %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>
    <div class="piclist-rows">
      <%= render :partial => 'index_nav', :locals => {:user => @user, :hover => 0} %>
      <% if @events.count != 0 %>
        <table cellpadding="0" cellspacing="0">
          <%= render :partial => 'event_item', :collection => @events %>
        </table>
        <%= will_paginate @events %>
      <% else %>
        <% if @user == current_user %>
          <div class='tip'>你还没有发起任何活动，赶紧<%= link_to '发起', new_event_url %>吧!
						<br/><br/>或者观看以下视频对这项功能进行进一步的了解，随时点击右上角<a href="#" class="icon-movie"></a>都可以观看此视频<br/><br/>
						<%= application_show %>
					</div>
        <% else %>
          <div class='tip'><%= get_subject @user %>没有发起任何活动，一个无趣的人</div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
