<% content_for :html_title, "#{current_user.login} - 编辑活动 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的编辑活动 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 编辑活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :event %>
<% end %>

<% canvas_tag do %>
	<% if params[:guild_id].blank? %>
		<h1 class="app-ploy">活动</h1>
	<% else %>
    <%= render :partial => 'user/guilds/guild_header', :locals => {:text => "工会活动"} %>
	<% end %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 1} %>
    <div class="appcontent01">
      <h3>新建活动</h3>
      <div class="cons-form formcontent">
        <%= error_messages_for :event, :header_message => '以下原因导致没法保存', :message => nil %>
        <% rows_form_for @event, :html => {:onsubmit => "Iyxzone.Event.Builder.save($(this), $('submit_btn')); return false;"} do |f| %>
          <%= f.text_field 'title', :label => '活动标题' %>
					<% if params[:guild_id].blank? %>
            <% f.rows :label => '工会活动' do %>
              <%= check_box_tag 'is_guild_event', 1, false, :onchange => "Iyxzone.Event.Builder.checkGuild(this)" %>
              <span id='event_guild_selector' style="display:none">所属公会<%= collection_select :event, :guild_id, current_user.privileged_guilds, :id, :name, {:prompt => '---'}, {:onchange => "Iyxzone.Event.Builder.guildOnChange(this.value)"} %></span>
            <% end %>
            <%= f.collection_select :character_id, current_user.characters, :id, :name_with_game_and_server, {:prompt => '---'}, :label => '游戏角色', :class => "selector selector02" %> 
					<% else %>
            <%= hidden_field_tag 'event[guild_id]', @guild.id %>
            <% f.rows :label => '工会活动' do %>
              <%= check_box_tag 'is_guild_event', 1, true, :disabled => true %>
              <span id='event_guild_selector'>所属公会: <%= @guild.name%></span>
            <% end %>
            <%= f.collection_select :character_id, @characters, :id, :name, {:prompt => '---'}, :label => '游戏角色', :class => "selector selector02"%>
					<% end %>
          <%= f.calendar_date_select 'start_time', :label => '开始时间' %>
          <%= f.calendar_date_select 'end_time', :label => '结束时间' %>
          <%= f.text_area 'description', :label => '任务描述' %>
          <% if params[:guild_id].blank? %>
            <%= f.select 'privilege', event_privilege_options, {}, :label => '谁可以加入', :class => "selector selector02" %>
          <% else %>
            <%= f.span '工会的人才能加入', :label => '谁可以加入' %>
          <% end %>
          <%= f.submit '提交' => {:type => 'submit', :id => 'submit_btn'} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if params[:guild_id].blank? %>
  <% onload_javascript_tag do %>
    Iyxzone.Event.Builder.reset();
  <% end %>
<% end %>
