<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'event' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<% subject = get_subject @user %>

<%= link_to '热门活动', hot_events_url(:id => @user.id) %> |
<%= link_to '最新活动', recent_events_url(:id => @user.id) %> |
<%= link_to "#{subject}发起的活动", events_url(:id => @user.id) %> |
<%= link_to "#{subject}要参加的活动", upcoming_events_url(:id => @user.id) %> |
<%= link_to "#{subject}参加过的活动", participated_events_url(:id => @user.id) %>|
<% if @user == current_user %>
<%= link_to '朋友的活动', friends_events_url %>|
<%= link_to '创建新活动', new_event_url %>
<% end %>

<%= error_messages_for :event, :header_message => '以下原因导致保存失败', :message => nil %>

<div class='event-input'>
<% form_for :event, :html => {:id => 'event_form'} do |f| %>
  <div>
    <%= f.label "标题：" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "游戏：" %>
    <%= collection_select :event, :game_id, current_user.games, :id, :name, {:prompt => '---'} %>
  </div>
<div id='game_details'>
  <div id='areas'>
    <%= f.label "服务区：" %>
    <%= collection_select :event, :game_area_id, [], :id, :name, {:prompt => '---'} %>
  </div>
  <div id='servers'>
    <%= f.label "服务器：" %>
    <%= collection_select :event, :game_server_id, [], :id, :name, {:prompt => '---'} %>
  </div>
</div>
  <div>
    <%= f.label '开始时间' %>
    <%= calendar_date_select :event, :start_time %>
  </div>
  <div>
    <%= f.label '结束时间' %>
    <%= calendar_date_select :event, :end_time %>
  </div>
  <div>
    <%= f.label "任务描述:" %>
    <%= f.text_area :description, :rows => 8 %>
  </div>
  <div>
    <%= f.label "谁可以申请加入:" %>
    <%= privilege_select_tag :event %>
  </div>
  <%= button_to_function "提交", "Iyxzone.Event.Builder.save();" %>
<% end %>
</div>

<%= javascript_tag "
  Iyxzone.Event.Builder.gameSelector = new Iyxzone.Game.Selector('event_game_id', 'event_game_area_id', 'event_game_server_id', null, null, {});
  Iyxzone.Event.Builder.gameSelector.setEvents();
  Iyxzone.Event.Builder.gameSelector.reset();
" %>
