<% content_for :html_title, "#{@user.login} - 参加活动 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的参加活动 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
	<% if @user==current_user %>
    <h1 class="app-ploy">活动</h1>
	<% else %>
    <div class="friend-head space s_clear">
      <span class="left"><%= avatar @user, :class=>"imgbox01"%></span>
      <p class="left">
        <strong><%= @user.login %>的活动</strong><br />
        <%= link_to '个人主页', profile_url(@user.profile), :class=>'red'%>
      </p>
    </div>
	<% end %>
    <div class="box02 canvas_int">
	    <div class="tab tab01">
        <div class="icon">
          <%= link_to "新建活动", new_event_url, :class => 'icon-add-table' %>
        </div>
		    <ul>
			    <li><span><%= link_to "热门活动", hot_events_url(:id => @user.id) %></span></li>
			    <li class='hover'><span><%= link_to "#{get_subject @user}的活动", events_url(:id => @user.id) %></span></li>
			    <% if @user == current_user %>
			      <li><span><%= link_to "朋友的活动", friends_events_url %></span></li>
			    <% end %>
		    </ul>
      </div>
      <div class="piclist-rows" id='events'>
        <div class="nav-link">
          <ul class="s_clear">
            <li><%= link_to "<span>#{get_subject @user}发起的(#{@user.events_count})</span>", events_url(:uid => @user.id) %></li>
            <li><%= link_to "<span>#{get_subject @user}要参加的(#{@user.upcoming_events_count})</span>", upcoming_events_url(:uid => @user.id) %></li>
            <li class='hover'><%= link_to "<span>#{get_subject @user}参加过的(#{@user.past_events_count})</span>", participated_events_url(:uid => @user.id) %></li>
          </ul>
        </div>
        <% if @user.past_events_count != 0 %> 
          <%= render :partial => 'event_items', :object => @events %>
        <% else %>
          <div class='gray'>
            <%= get_subject @user %>的过去一片空白
          </div>
        <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
