<% content_for :html_title, "#{@user.login} - 参加活动 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的参加活动 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
  <% if @user==current_user %>
    <h1 class="app-ploy">活动</h1>
  <% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的活动"} %>
  <% end %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>
    <div class='piclist-rows'>
      <%= render :partial => 'index_nav', :locals => {:user => @user, :hover => 2} %>
      <% if @events.count != 0 %> 
        <table cellpadding="0" cellspacing="0">
          <%= render :partial => 'event_item', :collection => @events %>
        </table>
        <%= will_paginate @events %>
      <% else %>
        <div class='tip'>
          <%= get_subject @user %>的过去一片空白
        </div>
      <% end %>
    </div>
  </div>
<% end %>
