<% content_for :left do %>

<div class="mcAvatar">
  <div class="picwrap">
		<div class="middle"><div class="middle-center"><div class="center">
			<%= album_cover @event.album %>
    </div></div></div>
  </div>
</div>

<div class='info-list'>
<div class="avatarbox">
	<b>组织者：</b><span><%= profile_link @event.poster %></span>
</div>

<% if !@event.expired %>
	<%= render :partial => 'operations' %>
<% else %>
  活动已经过期了
<% end %>

</div>

<% end %>

<% content_for :right do %>

<%= render :partial => 'rsvp' %>

<div class="multibox">
	<div class="title">
		<%= link_to "更多", event_participations_url(@event, :type => 1) %>
    <b>可能参加的人(<%= @event.maybe_count %>)</b>
  </div>
  <div class="photolist-box">
		<ul class="collection s_clear">
			<% @event.maybe_characters[0..5].each do |c| %>
			<li>
				<div class="middle"><div class="middle-center"><div class="center"><%= avatar c.user, :class => 'imgbox01' %></div></div></div>
        <p><%= profile_link c.user %></p>
			</li>
			<% end %>
    </ul>
  </div>
</div>

<div class="multibox">
  <div class="title">
    <%= link_to "更多", event_participations_url(@event, :type => 2) %>
    <b>被邀请的人(<%= @event.invitations_count %>)</b>
  </div>
  <div class="photolist-box">
    <ul class="collection s_clear">
      <% @event.invite_characters[0..5].each do |c| %>
      <li>
        <div class="middle"><div class="middle-center"><div class="center"><%= avatar c.user, :class => 'imgbox01' %></div></div></div>
        <p><%= profile_link c.user %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="multibox">
  <div class="title">
    <%= link_to "更多", event_participations_url(@event, :type => 3) %>
    <b>请求加入的人(<%= @event.requests_count %>)</b>
  </div>
  <div class="photolist-box">
    <ul class="collection s_clear">
      <% @event.request_characters[0..5].each do |c| %>
      <li>
        <div class="middle"><div class="middle-center"><div class="center"><%= avatar c.user, :class => 'imgbox01' %></div></div></div>
        <p><%= profile_link c.user %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>

<% content_for :html_title, "活动：#{@event.title} - 17Gaming.com" %>
<% content_for :html_description, "活动：#{@event.title} - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@event.title}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div class='box02 canvas_con'>
  <div class="formComposer">
	  <div class="formcontent">
      <% if @event.is_guild_event? %>
  		<div class="rows s_clear">
				<div class='fldid'><strong>名称：</strong></div>
				<div class='fldvalue'><span class='shine'><strong><%= h @event.title %></strong></span></div>
			</div>
  		<div class="rows s_clear">
				<div class='fldid'><strong>公会：</strong></div>
				<div class='fldvalue'><span class='shine'><strong><%= guild_link @event.guild %></strong></span></div>
			</div>
      <% else %>
  		<div class="rows s_clear">
				<div class='fldid'><strong>名称：</strong></div>
				<div class='fldvalue'><span class='shine'><strong><%= h @event.title %></strong></span></div>
			</div>
      <% end %>      
  		<div class="rows s_clear">
        <div class="fldid"><label for="server">游戏：</label></div>
		  	<div class="fldvalue"><%= @event.game.name %></div>
      </div>
	  	<% unless @event.game.no_areas %>
		  <div class="rows s_clear">
        <div class="fldid"><label for="server">游戏服务区：</label></div>
        <div class="fldvalue"><%= @event.game_area.name %></div>
      </div>
	  	<% end %>
		  <div class="rows s_clear">
        <div class="fldid"><label for="server">游戏服务器：</label></div>
        <div class="fldvalue"><%= @event.game_server.name %></div>
      </div>
	  	<div class="rows s_clear">
        <div class="fldid"><label for="server">时间：</label></div>
        <div class="fldvalue">从 <span class='shine'><%= ftime @event.start_time %></span> 到 <span class='shine'><%= ftime @event.end_time %></span> </div>
      </div>
  	</div>
  </div>

  <div class="multibox">
    <div class="title"><b>描述</b></div>
    <div class="feed-box">
			<%= simple_format h @event.description %>
		</div>
  </div>

	<div class="multibox">
		<div class="title"><%= link_to "更多", event_album_url(@album, :format => 'html') %><b>照片</b></div>
    <div class="photolist-big-box">
			<ul class="collection s_clear">
				<% @album.photos[0..4].each do |p| %>
					<li>
						<div class="middle"><div class="middle-center"><div class="center"><%= photo_link p, :size => 'large', :class => 'imgbox02' %></div></div></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

	<div class="multibox">
		<div class="title"><%= link_to "更多", event_participations_url(@event, :type => 0) %><b>参加的人</b></div>
    <div class="photolist-box gamer-list">
			<ul class="collection s_clear">
				<% @event.confirmed_characters[0..5].each do |c| %>
					<li>
						<div class="middle"><div class="middle-center"><div class="center"><%= avatar c.user, :class => 'imgbox01' %></div></div></div>
            <p><%= profile_link c.user %></p>
          </li>
				<% end %>
      </ul>
    </div>
  </div>

  <% if @event.has_participant? current_user %>
    <%= render :partial => 'user/wall_messages/wall_form', :locals => {:wall => @event, :recipient => @event.poster} %>
  <% else %>
    <div class="bookbox">
      <h3><label for="book">留言板</label>(共<%= @event.comments_count %>条留言)</h3>
    </div>
  <% end %>

  <div class='feed-box' id='comments'>
    <%= render :partial => 'user/wall_messages/wall_messages', :locals => {:messages => @messages} %>
  </div>

</div>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id})" %> 
<% end %>

