<% content_for :left do %>
  <%= render :partial => 'event_avatar' %>
  <%= render :partial => 'operations' %> 
<% end %>

<% content_for :right do %>
  <% if !@participations.blank? %>
    <%= render :partial => 'rsvp' %>
  <% end %>
  <%= render :partial => 'maybe_participants' %>
  <%= render :partial => 'invitees' %>
  <%= render :partial => 'requestors' %>
<% end %>

<% content_for :html_title, "活动：#{@event.title} - 17Gaming.com" %>
<% content_for :html_description, "活动：#{@event.title} - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@event.title}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div class='box02 canvas_con'>
  <%= render :partial => 'event_info' %>
  <%= render :partial => 'recent_photos' %>
  <%= render :partial => 'participants' %>
  <% if @event.has_participant? current_user %>
    <%= render :partial => 'user/wall_messages/wall_form', :locals => {:wall => @event, :recipient => @event.poster} %>
  <% else %>
    <div class="bookbox"><h3><label for="book">留言板</label>(共<%= @event.comments_count %>条留言)</h3></div>
  <% end %>
  <div class='feed-box' id='comments'>
    <%= render :partial => 'user/wall_messages/wall_messages', :locals => {:messages => @messages} %>
  </div>
</div>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id})" %> 
<% end %>

