<% content_for :javascript_include do %>
  <%= javascript_include_merged :event %>
<% end %>

<% content_for :style do %>
  eventHome
<% end %>

<% content_for :title do %>
  <strong><%= @event.title %></strong>
<% end %>

<% content_for :notice do %>
  <span class="i40 iGuildLogo"></span>
  <span class="i iGuildMsg">公告：</span>
  <div class="msg">
  <% if @event.poster == current_user %>
    <strong><%= in_place_text_field @event, :bulletin, '有啥公告?', :param_name => 'event[bulletin]' %></strong>
  <% else %>
    <strong><%= h @event.bulletin %></strong>
  <% end %>
  </div>
<% end %>

<% content_for :side_bar do %>
  <%= render :partial => 'event_info', :locals => {:event => @event} %>  
  <%= render :partial => 'event_desc', :locals => {:event => @event} %>
  <%= render :partial => 'event_menu', :locals => {:event => @event, :album => @album, :user => @user} %>
  <% if !@participations.blank? %>
    <%= render :partial => 'rsvp', :locals => {:participations => @participations, :event => @event} %>
  <% end %>
  <%= render :partial => 'event_confirmed_participants', :locals => {:event => @event, :participants => @confirmed_participants} %>
  <% unless @maybe_participants.blank? %>
    <%= render :partial => 'event_maybe_participants', :locals => {:event => @event, :participants => @maybe_participants} %>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render :partial => "user/home/talking_about", :locals => {:mini_blogs => @mini_blogs, :topics => @topics} %>
  <%= render :partial => "event_tab", :locals => {:event => @event} %>
  <div id='presentation'>
    <%= render :partial => 'event_photos', :locals => {:photos => @photos, :album => @album} %>
  </div>
  <%= javascript_tag "Iyxzone.Event.Presentor.init(#{@event.id}, #{@event.poster_id})" %>
<% end %>
