<% link = link_sharing.shareable %>
<div class="share-side-list">
  <%= dig_link link_sharing %>
  <div class="box02 share-content s_clear">
    <div class="right">
      <p><%= ftime link_sharing.created_at %></p>
      <p>首次分享人：<%= avatar link.first_sharer, :width => '27px', :height => '27px' %> <%= profile_link link.first_sharer %></p>
    </div>
    <div>
      <p><%= link_to link.url, sharing_url(link_sharing), :popup => true %></p>
      <p><%= link_sharing.reason %></p>
      <p class="green"><%= link_to_function "评论", "Iyxzone.Comment.toggleBox('sharing', #{link_sharing.id})" %>(<%= link_sharing.comments_count %>)-<%= facebox_link "我也分享", new_sharing_url(:shareable_type => 'Link', :shareable_id => link.id) %><span>(<%= link.sharings_count %>)</span></a> -<%= link_to "更多分享", sharings_url(:id => link.first_sharer.id) %></p>
    </div>
    <div id="sharing_comment_box_<%= link_sharing.id %>" style="display:none">
      <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => link_sharing, :recipient => nil} %>
    </div>
  </div>
</div>
