<% poll = poll_sharing.shareable %>
<% style = (poll_sharing.comments_count == 0) ? 'display:none' : '' %>
<div class="feed-list feed-share">
  <%= dig_link poll_sharing %>
  <div class="feed-header">
    <div class="right">
      <%= ftime poll_sharing.created_at %><br/>
      首次分享人：<%= avatar poll.first_sharer, :with => '27px', :height => '27px' %>
			<%= profile_link poll.first_sharer%>
    </div>
    <h3>玩家：<%= poll_link poll, :popup => true %></h3>
    <p class="con">
      <% poll.answers[0..2].each do |a| %>
        <%= check_box_tag '', '', false, :disabled => true %><%= truncate a.description, :length => 20, :omission => '...' %><br/>
      <% end %>
      <%= truncate poll_sharing.reason, :length => 100, :omission => '...' %>
     </p>
    <div class="feeds">
      <%= link_to_function "评论(#{poll_sharing.comments_count})", "Iyxzone.Comment.toggleBox('sharing', #{poll_sharing.id}, #{poll_sharing.comments_count})" %> | 
      <%= facebox_link "我也分享", new_sharing_url(:shareable_type => 'Poll', :shareable_id => poll.id) %><span>(<%= poll.sharings_count %>)</span> | 
      <%= link_to "更多分享", sharings_url(:uid => poll.first_sharer.id), :type => 0 %>
    </div>
  </div>
	<div id="sharing_comment_box_<%= poll_sharing.id %>" style="<%= style %>">
		<%= render :partial => 'user/comments/comment_box', :locals => {:commentable => poll_sharing, :recipient => poll_sharing.poster} %>
	</div>
</div>
