<% topic = topic_sharing.shareable %>
<% style = 'display:none' %>
<div class="feed-list feed-share">
  <%= dig_link topic_sharing %>
  <div class="feed-header">
    <div class="right">
      <%= ftime topic_sharing.created_at %><br/>
      首次分享人：<%= avatar topic.first_sharer, :with => '27px', :height => '27px' %>
      <%= profile_link topic.first_sharer%>
    </div>
    <h3>公会<%= topic.forum.guild.name %>的话题: <%= topic_link topic, :popup => true %></h3>
    <p class="con"><%= truncate topic_sharing.reason, :length => 100, :omission => '...' %></p>
    <div class="feeds">
      <%= link_to_function "评论(#{topic_sharing.comments_count})", "Iyxzone.Comment.toggleBox('sharing', #{topic_sharing.id}, #{topic_sharing.comments_count})" %> |
      <%= facebox_link "我也分享", new_sharing_url(:shareable_type => 'Topic', :shareable_id => topic.id) %><span>(<%= topic.sharings_count %>)</span> | 
      <%= link_to "更多分享", sharings_url(:uid => topic.first_sharer.id, :type => 0) %>
    </div>
  </div>
<div id="sharing_comment_box_<%= topic_sharing.id %>" style="<%= style %>">
  <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => topic_sharing, :recipient => topic_sharing.poster} %>
</div>
</div>

