<% video = video_sharing.shareable %>
<div class="share-side-list">
  <div class="comment-simple-box"><b><%= 150 %></b></div>
  <div class="box02 share-content s_clear">
    <div class="right">
      <p><%= ftime video_sharing.created_at %></p>
      <p>首次分享人：<%= avatar video.first_sharer, :width => '27px', :height => '27px' %> <%= profile_link video.first_sharer %></p>
    </div>
    <div>
      <h3><%= sharing_link video_sharing %></h3>
      <p class="img" id='video_<%= video.id %>'><%= image_tag video.thumbnail_url, :class => 'imgbox01', :width => '150px', :height => '100px', :onclick => "Iyxzone.Video.play(#{video.id}, '#{video.embed_html}');" %></p>
      <p><%= truncate video.title, :length => 80, :omission => '...'  %></p>
      <p class="green"><%= link_to_function "评论", "Iyxzone.Comment.toggleBox('sharing', #{video_sharing.id})" %>(<%= video_sharing.comments_count %>)-<%= facebox_link "我也分享", new_sharing_url(:shareable_type => 'Blog', :shareable_id => video.id) %><span>(<%= video.sharings_count %>)</span></a> -<%= link_to "更多分享", sharings_url(:id => video.first_sharer.id) %></p>
    </div>
    <div id='sharing_comment_box_<%= video_sharing.id %>' style='display:none'>
      <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => video, :recipient => nil} %>
    </div>
  </div>
</div>
