<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>外部分享</title>
<%= stylesheet_link_tag 'home' %>
<%= stylesheet_link_tag 'common' %>
<%= javascript_include_merged :base %>
<style type="text/css">
.z-box{width:420px}
.z-con{background:#f8fcf6;color:#666;width:100%}
.login-box{border:1px solid #ebf3e5;background:#fff;margin:10px;padding:10px;}
.formcontent .fldid{width:60px}
.login-box .item input,.login-box .item textarea{width:260px;padding:5px;border:1px solid #999;color:#666}
.login-box .item .share-title{background:#feffcf;padding:3px}
.login-box .item .share-title input{width:254px}
.login-box .item span{color:#999;padding:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:250px;display:block}
.sign-cookie{float:left}
.z-box .z-submit .buttons {margin-left:120px;}
</style>
</head>
<body>
<div class="z-box">
  <div class="z-m rows s_clear">
    <div class="box01 s_clear">
      <p class="z-h"><%= image_tag "skin/logo.png" %></p>
      <div class="z-con">
      <% form_remote_for :sharing, :url => sharings_url(:outside => 1) do |f| %>
        <% if params[:link] %>
          <%= hidden_field_tag 'sharing[link]', params[:link] %>
        <% end %>
        <div class="login-box formcontent s_clear">
          <div class="item rows">
            <div class="fldid"><label for="name">分享理由</label></div>
            <div class="fldvalue"><%= f.text_area 'reason' %></div>
          </div>
          <div class="item rows">
            <div class="fldid"><label for="name">分享标题</label></div>
            <div class="fldvalue share-title">
              <%= f.text_field 'title' %>
              <span><%= params[:link] %></span>
            </div>
          </div>
        </div>
        <div class="z-submit s_clear space">
          <div class="buttons">
            <span class="button"><span><button type="submit">立即分享</button></span></span>
            <span class="button button-gray"><span><button onclick="window.close();">取消</button></span></span>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
