<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分享web连接页面</title>
  <%= javascript_include_merged :base %>
  <%= stylesheet_link_merged :base %>
</head>

<body>
  <div id="header" style="width:100%">
  <!--navbar-->
    <div id="navbar">
      <div id="navwrap">
        <div id="navmid">
          <a href= "" class="logo-top png" title="17gaming"></a>
          <div id="navmain">
            <ul id="w-nav">
              <li style="position:relative;">
                <%= link_to_function "<span>评论</span>", "$('comments_form').toggle();", :id => 'cmt' %>
                <div class="drop-box" style="display:none" id='comments_form'>
									<div class='feed-list'>
                  <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @sharing, :recipient => @sharing.poster} %>
									</div>
                </div>
              </li>
              <li>
                <%= link_to_remote "<strong><span id='dig_sharing_#{@share.id}'>#{@share.digs_count}</span></strong>", :url => digs_url("dig[diggable_type]" => 'Share', "dig[diggable_id]" => @share.id, :at => 'sharing'), :html => {:class => 'praise'} %>
              </li>
              <li>
                <%= facebox_link "我也分享", new_sharing_url(:url => link_url(@link)), :width => 450 %>(<%= @link.sharings_count %>)
              </li>
              <li style="_margin-top:6px">
                <span>首次分享人：</span><%= avatar_image @link.first_sharer, :width => 27, :height => 27 %> <%= profile_link @link.first_sharer %></a>
              </li>
            </ul>
          </div>
          <div id="navextra">
            <%= link_to_function "<span class='close w-l'></span>关闭顶栏", "window.location.href = '#{@link.url}';" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<iframe frameborder="0" width="100%" height="100%" id="ifr" src="<%= @link.url %>">
</iframe>

<%= onload_javascript_tag "
  $('ifr').setStyle({height: '768px'});
  $(document.body).setStyle({overflow: 'hidden'});
" %>
<div id="footer">
<%= copyright %>
</div>
</body>
</html>
