<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>
  
<%= link_to '一定去的人', event_participations_url(@event, :type => 0) %> |
<%= link_to '可能去的人', event_participations_url(@event, :type => 1) %> |
<%= link_to '去他娘的人', event_participations_url(@event, :type => 2) %> |
<% if !@event.past %>
<%= link_to '受邀请的人', event_participations_url(@event, :type => 3) %> |
<%= link_to '请求加入的人', event_participations_url(@event, :type => 4) %>
<% end %>


<div id='participations'>
	<% if params[:type].to_i == 3 %>
		<%= render :partial => 'invitee', :collection => @participants %>
	<% elsif params[:type].to_i == 4 %>
		<%= render :partial => 'requestor', :collection => @participants %>
	<% else %>
		<%= render :partial => 'participant', :collection => @participants %>
	<% end %>
</div>

<%= will_paginate @participants %>
