<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'event' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<%= render :partial => 'event/menu' %>


<%= error_messages_for :event, :header_message => '以下原因导致保存失败', :message => nil %>

<div class='event-input'>
<% form_for :event, :html => {:id => 'event_form'} do |f| %>
  <div>
    <%= f.label "标题：" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "游戏：" %>
    <%= collection_select :event, :game_id, current_user.games.all, :id, :name, {:prompt => '---'}, {:onchange => "event_builder.change_game();"} %>
  </div>
<div id='game_details'>
  <div id='areas'>
    <%= f.label "服务区：" %>
    <%= collection_select :event, :game_area_id, [], :id, :name, {:prompt => '---'}, {:onchange => "event_builder.change_area();"} %>
  </div>
  <div id='servers'>
    <%= f.label "服务器：" %>
    <%= collection_select :event, :game_server_id, [], :id, :name, {:prompt => '---'} %>
  </div>
</div>
  <div>
    <%= f.label '开始时间' %>
    <%= calendar_date_select :event, :start_time %>
  </div>
  <div>
    <%= f.label '结束时间' %>
    <%= calendar_date_select :event, :end_time %>
  </div>
  <div>
    <%= f.label "任务描述:" %>
    <%= f.text_area :description, :rows => 8 %>
  </div>
  <div>
    <%= f.label "谁可以申请加入:" %>
    <%= privilege_select_tag :event %>
  </div>
  <%= button_to_function "提交", "event_builder.save();" %>
<% end %>
</div>

<%= javascript_tag "
  event_builder = new EventBuilder();
" %>
