<ul>
	<% @visibleTask.each do |task| %>
			<li> id: <%= task.id %></li>
			<li> prerequisite: <%= task.prerequisite %> </li>
			<li> requirement: <%= task.requirement %> </li>
			<li> description: <%= task.description %> </li>
			<li> title?: <%= task.description[:title] %> </li>
			<li> reward: <%= task.reward %> </li>
			<%= task.get_user_task_tip(current_user.id).inject("") {|sum, tip| sum + content_tag(:li, tip) } %>
			<li> 开始时间: <%= task.starts_at %> </li>
			<li> 结束时间: <%= task.expires_at %> </li>
			<li> <%= link_to "详细信息", task_path(task) %> </li> 
	<% end %>
</>

<h1> <%= @alltasks.first.description[:title] %> </h1>
<%= image_tag @alltasks.first.description[:thumbnail] %>
