<table>
	<% @visibleTask.each do |task| %>
		<tr>
			<th> id: <%= task.id %></th>
			<th> prerequisite: <%= task.prerequisite %> </th>
			<th> requirement: <%= task.requirement %> </th>
			<th> description: <%= task.description %> </th>
			<th> title?: <%= task.description[:title] %> </th>
			<th> reward: <%= task.reward %> </th>
			<th> 开始时间: <%= task.starts_at %> </th>
			<th> 结束时间: <%= task.expires_at %> </th>
			<th> <%= link_to "详细信息", user_task_path(task) %> </th> 
		</tr>
	<% end %>
</table>

<h1> <%= @alltasks.first.description[:title] %> </h1>
<%= image_tag @alltasks.first.description[:thumbnail] %>
<h1> <%= @alltasks.last.description[:title] %> </h1>
<%= image_tag @alltasks.last.description[:thumbnail] %>
