<% blog = blog_item2 %>
<div class="feed-img-list">
  <div class='feed-list eval-list'>
    <div class='feed-img'>
      <%= avatar blog.poster, :class => 'imgbox01' %>
    </div>
    <div class='feed-header'>
      <div class="topIsay right"><span class="button04"><span><%= facebox_button "我来说说", new_mini_blog_url(:content => "#{blog.title} #{SITE_URL}/blogs/#{blog.id}"), :width => 500 %></span></span></div> 
      <h3><%= blog_link blog %></h3>
      <p><%= profile_link blog.poster, :class => "shine"%> <%= ftime blog.created_at %></p>
    </div>
    <div class='feeds'>
      <p><%= blog_content blog, :length => 100, :omission => '...' %></p>
    </div>
    <div class='feeds'><%= link_to "阅读(#{blog.viewings_count})", blog_url(blog) %> | <%= link_to "评论(#{blog.comments_count})", blog_url(blog) %> | <%= link_to "赞(#{blog.digs_count})", blog_url(blog) %></div>
  </div>
</div>
