        <div class="page-foot s_clear">
          <div class="foot-func s_clear">
            <div class='left'>
              <span class="w-l red">评论(<%= @blog.comments_count %>)</span><span class="w-l">|</span>
              <span class="w-l red">浏览(<%= @blog.viewings_count %>)</span><span class="w-l">|</span>
              <span class="photo-op-praise" ></span><%= text_dig_link @blog, :class => 'red' %>
            </div>
            <div class='right'>
              <span class='w-l red'><%= report_link @blog %></span>
            </div>
          </div>
          <div class="s_clear rows">
            <div class="feed-list">
              <%= dig_count_html @blog %>
              <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @blog, :recipient => @blog.poster} %>
            </div>
          </div>
        </div>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.Comment.set('blog', #{@blog.id}, '#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>

