      <div class="tab tab01">
        <div class="right"><%= application_link %><%= link_to "写新日志", new_blog_url %></div>
        <ul>
          <% subject = get_subject user %>
          <li <% if hover==0 %>class='hover'<% end %>><span><%= link_to "热门日志", hot_blogs_url %></span></li>
          <li <% if hover==1 %>class='hover'<% end %>><span><%= link_to "#{subject}的日志", blogs_url(:uid => user.id) %></span></li>
          <li <% if hover==2 %>class='hover'<% end %>><span><%= link_to "与#{subject}相关的日志", relative_blogs_url(:uid => user.id) %></span></li>
          <% if user == current_user %>
            <li <% if hover==3 %>class='hover'<% end %>><span><%= link_to "好友日志", friends_blogs_url %></span></li>
            <li <% if hover==4 %>class='hover'<% end %>><span><%= link_to "草稿箱", drafts_url %></span></li>
          <% end %>
        </ul>
      </div>

