<% content_for :html_title, "#{current_user.login} - 编辑日志 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的编辑日志 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :blog %>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-log">日志</h1>
    <div class="box02 canvas_int space">
      <div class="tab tab01">
        <div class="right"><%= link_to "写新日志", new_blog_url %></div>
        <ul>
          <li><span><%= link_to "热门日志", hot_blogs_url %></a></span></li>
          <li><span><%= link_to "我的日志", blogs_url(:uid => current_user.id) %></span></li>
          <li><span><%= link_to "好友日志", friends_blogs_url %></span></li>
          <li><span><%= link_to "与我相关的日志", relative_blogs_url(:uid => current_user.id) %></span></li>
          <li><span><%= link_to "草稿箱", drafts_url %></span></li>
        </ul>
      </div>
      <div class='appcontent01'>
        <div id='errors'></div>
        <div class="cons-form formcontent">
				<% form_for @blog, :html => {:onsubmit => "Iyxzone.Blog.Builder.updateBlog($('submit_btn'), #{@blog.id}, this); return false;"} do |f| %>
			    <div class='rows s_clear'>
				    <div class='fldid'><%= f.label "日志标题：" %></div>
				    <div class='fldvalue'><div class='textfield'><%= f.text_field 'title' %></div></div>
			    </div>
			    <div class='rows s_clear'>
				    <%= f.text_area 'content', :style =>"width: 98%; height: 300px;" %>
			    </div>
			    <div class='rows s_clear'>
				    <div class='fldid'><%= f.label "日志类别: " %></div><div class='fldvalue'><%= f.collection_select 'game_id', current_user.games, :id, :name, {:prompt => '---'}%></div>
			    </div>
			    <div class='rows s_clear'>
				    <div class='fldid'><%= f.label "浏览权限: "%></div><div class='fldvalue'><%= privilege_select_tag(:blog) %></div>
			    </div>
          <div class='rows s_clear'>
            <div class='fldid'><%= f.label "点名相关好友" %></div>
            <div class='fldvalue'>
              <%= render :partial => 'user/friend_tags/control_panel', :locals => {:taggable => @blog} %>
            </div>
          </div>
          <div class='rows s_clear'>
		        <div class='fldid'>&nbsp;</div>
		        <div class='fldvalue'><span class="button03"><span><button type='submit' id='submit_btn'>修改</button></span></span>
		      </div>
        <% end %>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>

<% tagged_user_ids = '[' + @blog.tags.map(&:tagged_user_id).join(',') + ']' %>
<% tag_ids = '[' + @blog.tags.map(&:id).join(',') + ']' %>
<% user_names = '[' + @blog.relative_users.map{|u| "'#{u.login}'"}.join(',') + ']' %>
<% onload_javascript_tag do %>
  nicEditors.albums = <%= current_user.all_albums.map {|a| {:id => a.id, :title => a.title, :type => a.class.name.underscore}}.to_json %>;
  Iyxzone.Blog.Builder.editor = new nicEditor().panelInstance('blog_content'); 
  Iyxzone.Blog.Builder.tagBuilder = new Iyxzone.Friend.Tagger(10, <%= tagged_user_ids %>, <%= tag_ids %>, <%= user_names %>, 'toggle_button', 'friend_login', 'friend_list', 'friend-wrap', 'friend_items', 'game_selector', 'confirm_btn', 'cancel_btn');
<% end %>

<% onload_javascript_tag do %>
  window.onbeforeunload = function(){
    if(Iyxzone.Blog.Builder.saved){
      return null;
    }else{
      return "你还没保存，你确定要离开?";
    }
  };
<% end %>

