<% content_for :html_title, "#{current_user.login} - 热门日志 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的热门日志 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-log">日志</h1>
    <div class="box02 canvas_int">
      <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 0} %>
      <div class="feed-box01">
        <div class="nav-link">
          <ul class="s_clear">
            <li class='hover'><%= link_to "<span>人气最高</span>", hot_blogs_url %></li>
            <li><%= link_to "<span>最新创建</span>", recent_blogs_url %></li>
          </ul>
        </div>
      <% if @blogs.total_entries != 0 %>
        <div class='gray'>共<%= @blogs.total_entries %>篇</div>
        <%= render :partial => 'blog_item2', :collection => @blogs %>
        <%= will_paginate @blogs %>
      <% else %>
        <div class='tip'>没有热门日志，你<%= link_to '写一篇', new_blog_url %>？很有可能上榜的阿</div>
      <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
