<% content_for :html_title, "#{@user.login} - 个人日志 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的个人日志 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
	<% if @user == current_user %>
    <h1 class="app-log">日志</h1>
	<% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的日志"} %>
  <% end %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:hover => 1, :user => @user} %>
    <div class="appcontent05">
      <div class="myblog">
        <% if @count == 0 %>
          <% if @user == current_user %>
            <div class='tip'>你还没有日志，赶紧<%= link_to '写一篇', new_blog_url %>
	  	  			<br/><br/>或者观看以下视频对这项功能进行进一步的了解，随时点击右上角<a href="#" class="icon-movie"></a>都可以观看此视频<br/><br/>
		  	  		<%= application_show %>
			  		</div>
          <% else %>
            <div class='tip'><%= get_subject @user %>还没写日志，是个懒虫</div>
          <% end %>
        <% else %>
          <div class="tip">共<%= @count %>篇日志</div>
          <div class="myblog-table">
            <table cellpadding="0">
              <%= render :partial => 'blog_item', :collection => @blogs %>
            </table>
          </div>
          <%= will_paginate @blogs %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
