<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
  <div class='blog-right-bar'>
    <div class='part'>
      <h3>日志分类: </h3>
      <% game_options = [['全部', nil]] %>
      <% @user.games.each {|g| game_options << [g.name, g.id] } %>
      <%= select_tag '', options_for_select(game_options, params[:game_id].to_i), :onchange => "window.location.href = '#{blogs_url(:id => @user.id)}' + '&game_id=' + this.value;" %>
    </div>
  </div>
<% end %>

<% subject = get_subject @user %>

<%= link_to "热门日志", hot_blogs_url(:id => @user.id) %> |
<%= link_to "最新日志", recent_blogs_url(:id => @user.id) %> |
<%= link_to "#{subject}的日志", blogs_url(:id => @user.id) %> |
<% if @user == current_user %>
  <%= link_to "好友日志", friends_blogs_url %> |
<% end %>
<%= link_to "#{subject}的相关日志", relative_blogs_url(:id => @user.id) %> |
<% if @user == current_user %>
  <%= link_to "草稿箱", drafts_url %> |
  <%= link_to "新日志", new_blog_url %>
<% end %>


<div><%= "共#{@user.blogs_count}篇日志" %></div>

<div id='blogs'>
  <%= render :partial => 'blog_item', :collection => @blogs %>
</div>

<%= will_paginate @blogs %>
