<% content_for :html_title, "#{current_user.login} - 新建日志 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的新建日志 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :blog%> 
<% end %>

<% canvas_tag do %>
  <h1 class="app-log">日志</h1>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:hover => 1, :user => current_user} %>
    <div class='appcontent01'>
      <div id='errors'></div>
      <div class="cons-form formcontent">
        <% rows_form_for :blog, :html => {:onsubmit => 'return false', :id => 'blog_form'} do |f| %>
          <%= f.text_field 'title', :label => '日志标题' %>
          <%= f.text_area 'content', :style =>"width: 700px; height: 300px;" %>
          <%= f.select 'privilege', privilege_options, {}, :label => '浏览权限', :class => "selector selector02" %>
          <%= render :partial => 'user/game_resources/control_panel', :locals => {:title => '相关游戏:', :z_index => 2} %>
          <%= render :partial => 'user/friend_tags/control_panel', :locals => {:title => '相关好友', :z_index => 1} %>
          <%= f.submit '发布' => {:onclick => "Iyxzone.Blog.Builder.saveBlog(this, $('blog_form'))"}, '保存为草稿' => {:onclick => "Iyxzone.Blog.Builder.saveDraft(this, $('blog_form'));"} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% onload_javascript_tag do %>
  Iyxzone.Blog.Builder.init('blog_content', '<%= form_authenticity_token %>', <%= album_infos %>, 10, [], 'toggle_button', 'friend_login', 'friend_list', 'friend-wrap', 'friend_items', 'game_selector', 'confirm_btn', 'cancel_btn', 10, [], 'game_name', 'rel_game_list');
<% end %> 
