<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-log">活动</h1>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <ul>
          <li <% if params[:type].to_i == 0 %>class="hover"<% end %>><span><%= link_to "待审核活动", admin_events_url(:type => 0) %></span></li>
          <li <% if params[:type].to_i == 1 %>class="hover"<% end %>><span><%= link_to "通过活动", admin_events_url(:type => 1) %></span></li>
          <li <% if params[:type].to_i == 2 %>class="hover"<% end %>><span><%= link_to "屏蔽活动", admin_events_url(:type => 2) %></span></li>
        </ul>
        <div class='right'>
          <%= render :partial => 'admin/verify/category', :locals => {:selected => 7} %>
        </div>
      </div>
      <div class="piclist-rows">
        <div class='gray'>共<%= @events.total_entries %>篇</div>
        <table cellpadding='0' cellspacing='0'>
        <%= render :partial => 'event_item', :collection => @events %>
        </table>
        <%= will_paginate @events %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
