<% if @messages.blank? %>
  没有消息
<% else %>
<% @messages.each do |m| %>
  <%= m.poster == current_user ? "<h4 class='own'>" : "<h4>" %><%= m.poster.login %>(<%= ftime m.created_at %>)</h4>
  <p><%= m.content %></p>
<% end %>

<%= remote_will_paginate @messages, :remote => @remote %>
<% end %>
