<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div style="width:595px;padding:5px;border:1px solid #f6f5f5">
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td><img src="<%=SITE_URL%>/images/mails/t2.png" width="190" height="142" alt="一起游戏网" /></td>
        <td style="font-size:12px;line-height:22px;color:#333"><strong style="color:#dc5e04;font-size:14px"> <%=@user.login%>，您好！</strong><br />我们注意到您已经有一周时间未登陆<strong style="color:#dc5e04">一起游戏网(17gaming)</strong>，一起游戏网新增了好多功能，新的会员，精彩不容错过！<br /><a href="<%=SITE_URL%>" target='_blank'><img src="<%=SITE_URL%>/images/mails/login.png" width="130" height="27" border="0" alt="立刻登陆" /></a></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<td valign="top">
          <div><img src="<%= SITE_URL%>/images/mails/new_func.png" width="275" height="43" alt="新功能" /></div>
        	<table border="0" cellspacing="5" cellpadding="0">
        	  <tr>
              <td><%= td_header "05月18日 游戏库的显示更改" %></td>
            </tr>
        	  <tr>
							<td><%= td_header "05月19日  更改了日志的显示，并可以插入视频"%></td>
            </tr>
        	  <tr>
							<td><%= td_header "05月20日  DOTA视频解说海涛入入住"%></td>
            </tr>
        	  <tr>
							<td><%= td_header "05月24日 增加了5种皮肤"%></td>
            </tr>
        	  <tr>
              <td></td>
            </tr>
        	  <tr>
              <td></td>
            </tr>
            </table>
        </td>
      	<td valign="top" style="padding-left:10px">
          <div><%= image_tag "/images/mails/new_user.png", :width => "275", :height => "43", :alt => "新用户" %></div>
        	<table border="0" cellspacing="5" cellpadding="0" align="center">
							<% @hot_users.each_with_index do |hot_user, index|%>
								<% if index%3 == 0 %>
									<tr>
								<% end %>
                  <td class= "<%=index%>"align="center" width="33%">
									<% if hot_user.avatar.blank? %>
                    <a href="<%=SITE_URL%>/profiles/<%= hot_user.id%>" style="text-decoration:none;" target='_blank'><%= image_tag "/images/default_medium.png", :width=>"50", :height=>"50", :border=>"0"%>
									<% else %>
										<a href="<%=SITE_URL%>/profiles/<%= hot_user.id%>" style="text-decoration:none;" target='_blank'><%= image_tag "#{hot_user.avatar.public_filename("medium")}", :width=>"50", :height=>"50", :border=>"0" %>
									<% end %>
                    <div style="width:80px;height:22px;line-height:22px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;color:#333;font-size:12px"><%= hot_user.login%></div></a>
                  </td>
								<% if index%3 == 2 %>
									</tr>
								<% end %>
							<% end %>
           	</table>
        </td>
        </tr>
     </table>
		 <% unless @games.empty? %>
    <div><%= image_tag "/images/mails/new_game.png", :width=>"587", :height=>"46", :alt=>"新游戏", :border=>"0" %></div>
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
				<% @games.each do |game| %>
        <td align="center">
					<% if File.exist? "/images/gamepic/#{game.name}.gif" %>
						<a href="<%=SITE_URL%>/games/<%= game.id%>" target='_blank'><%= image_tag "/images/gamepic/#{game.name}.gif", :alt=>"#{game.name}", :style=>"border:1px solid #aaa;padding:4px" %></a>
					<% else %>
						<a href="<%=SITE_URL%>/games/<%= game.id%>" target='_blank'><%= image_tag "/images/gamepic/default.gif", :alt=>"#{game.name}", :style=>"border:1px solid #aaa;padding:4px" %></a>
					<% end %>
					<br/>
          <%= link_to "#{game.name}", "games/#{game.id}", :style=>"line-height:24px;font-size:14px;color:#db5903;font-weight:700;text-decoration:none"%>
        </td>
				<% end %>
			</tr>
     </table>        
		 <% end %>
    <div><%= image_tag "/images/mails/new_pic.png", :width=>"587", :height=>"46", :alt=>"热门图片", :border=>"0" %></div>
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
				<% @photos.each do |photo| %>
        <td align="center" valign="bottom">
					<%= image_tag "#{photo.public_filename('large')}", :alt=>"", :style=>"border:1px solid #aaa;padding:4px" %>
        </td>
				<% end %>
			</tr>
     </table>    
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<td valign="top">
          <div><%=image_tag "/images/mails/new_poll.png", :width=>"276", :height=>"43", :alt=>"热门投票" %></div>
        	<table border="0" cellspacing="5" cellpadding="0">
					<% @polls.each do |poll| %>
        	  <tr>
                <td><a href="<%=SITE_URL%>/polls/<%=poll.id%>" style="color:#333;text-decoration:none;font-size:12px;display:block;width:260px;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;" target='_blank'><%=image_tag "/images/mails/icon01.png", :width=>"17", :height=>"18", :border=>"0", :align=>"absmiddle", :hspace=>"5" %><%= poll.name %></a></td>
              </tr>
						<% end %>
            </table>
        </td>
      	<td valign="top" style="padding-left:10px">
              <div><%= image_tag "/images/mails/new_article.png", :width=>"276", :height=>"43", :alt=>"最热新闻" %></div>
        	<table border="0" cellspacing="5" cellpadding="0">
					<% @news.each do |onenews| %>
        	  <tr>
                  <td><a href="<%=SITE_URL%>/news/<%=onenews.id%>" style="color:#333;text-decoration:none;font-size:12px;display:block;width:260px;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;word-break:keep-all;" target='_blank'><%=image_tag "/images/mails/icon02.png", :width=>"17", :height=>"18", :border=>"0", :align=>"absmiddle", :hspace=>"5" %><%=onenews.title%></a></td>
              </tr>
						<% end %>
           	</table>
        </td>
        </tr>
     </table>   
 <div style="background-color:#73bd21;color:#fff;padding:5px;font-size:12px;text-align:center">Copyright©2009-2010 17gaming.com.All Rights Reserved 鸣禅网络 版权所有 </div> 
</div>
