<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div style="width:595px;padding:2px;">
    <div>
    <a href="<%= SITE_URL %>" target="_blank"><img src="<%= SITE_URL %>/images/mails/mblog_welcome_title.jpg" width="600" height="440" border="0" alt="进入17Gaming.com" /></a>
    </div>
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
      	<td valign="top">
        <img src="<%= SITE_URL %>/images/mails/chinajoy_logo.jpg" width="111" height="111" style="border:1px solid #99cf5d" alt="ChinaJoy2010" />
        </td>
      	<td valign="top">
        <div style="font-size:14px;color:#333;font-weight:700;line-height:30px">7月末，又是一年CJ时</div>
        <div style="font-size:12px;color:#333;line-height:20px">在每年的CJ盛会，各大厂商都会带着他们满意的作品、礼品、showgirl来到ChinaJoy进行展出，于是在ChinaJoy上，不仅可以抢先体验到游戏，获得礼品，看到周边产品，还能欣赏到各类的美女。你会来参加么？</div>
        <div style="text-align:right"><a href="<%= SITE_URL %>" target="_blank"><img src="<%= SITE_URL %>/images/mails/letmesay.png" width="74" height="24"  border="0" alt="我来说说" /></a></div>
        </td>
        </tr>
    </table>
 <div style="background-color:#73bd21;color:#fff;padding:5px;font-size:12px;text-align:center">Copyright©2009-2010 17gaming.com.All Rights Reserved <a href="<%= SITE_URL %>" target="_blank" style="color:#fff;text-decoration:none">17Gaming.com</a> 版权所有 </div> 
</div>
