<%= @user.login %>
<br />
您好！
<br />

您已经在17gaming.com(一起游戏网)上创造了一个帐户。
<br />

  Username: <%= @user.email %>
<br />
  Password: <%= @user.password %>
<br />

我们非常期待您的加入，请点击以下连接完成注册。
<br />
<a href=<%= @url %>><%= @url %></a>
<br />

希望您开心每一天
<br />
www.17gaming.com
<br />

----<br/>
此邮件由系统发出，请勿回复这封邮件。如果想联系我们，请登录17gaming.com。
