<%= @user.login %>

您好！

您已经在17gaming.com(一起游戏网)上创造了一个帐户。

  Username: <%= @user.email %>
  Password: <%= @user.password %>

我们非常期待您的加入，请点击以下连接完成注册。
<a href=<%= @url %>><%= @url %></a>

希望您开心每一天
17gaming.com

－－
此邮件由系统发出，请勿回复这封邮件。如果想联系我们，请登录17gaming.com。
