<!--
parameters:
  commentable: 
  comment_template: path of comment template view 
  recipient: default recipient of comment. this value can be null
-->   
<% type = commentable.class.to_s.underscore %>
<% comment_template = "/#{type}/comments/comment" if comment_template.blank?%>
<div id='<%= type %>_comments_<%= commentable.id %>'>
  <% if commentable.comments_count >= 3 %>
    <% c = commentable.comments.first %>
		<%= render :partial => "#{comment_template}", :object => c %>
    <div class="box04 comment-box">
      <%= link_to_function "显示更多#{commentable.comments_count}条评论", "Iyxzone.Comment.more('#{type}', #{commentable.id}, this);" %>
    </div>
    <% c = commentable.comments.last %>
		<%= render :partial => "#{comment_template}", :object => c %>
	<% else %>
		<%= render :partial => "#{comment_template}", :collection => commentable.comments %>
	<% end %>
</div>
<div class="box04 comment-box">
  <%= text_area_tag 'add-comment', '添加评论...', :id => "add_#{type}_comment_#{commentable.id}", :class => "textarea txt-add-comment", :onclick => "Iyxzone.Comment.showForm('#{type}', #{commentable.id}, null)" %>
  <div class="formcontent" id='<%= type %>_comment_<%= commentable.id %>' style="display:none">
    <% form_remote_for :comment, :html => {:id => "#{type}_comment_form_#{commentable.id}"} do |f| %>
			<%= hidden_field_tag 'comment[recipient_id]', recipient.nil? ? nil : recipient.id, :id => "#{type}_comment_recipient_#{commentable.id}" %>
      <div class="rows">
        <%= f.text_area 'content', :class => "textarea", :id => "#{type}_comment_content_#{commentable.id}" %>
      </div>
      <div class="rows s_clear">
        <span class="button"><span><button type="button" onclick="Iyxzone.Comment.save(<%= "'#{type}'" %>, <%= commentable.id %>, this)">发表</button></span></span>
        <span class="button button-gray"><span><button type="button" onclick="Iyxzone.Comment.hideForm(<%= "'#{type}'" %>, <%= commentable.id %>)" >取消</button></span></span>
        <%= emotion_link "#{type}_comment_content_#{commentable.id}" %>
      </div>
    <% end %>
  </div>
</div>
