<% type = commentable.class.to_s.underscore %>
<div class="bookbox">
  <h3><label for="book">留言板</label>(<%= link_to "查看所有#{commentable.comments_count}条留言", eval("#{type}_comments_url(commentable)") %>)</h3>
  <div class="formcontent s_clear">
    <% form_remote_for :comment, :url => eval("#{type}_comments_url(commentable)"), :condition => "validate_comment($('comment_content'))" do |f| %>
      <%= hidden_field_tag 'comment[recipient_id]', recipient.nil? ? nil : recipient.id %>
      <div class="rows">
        <div class="textarea-wrap"><div class="textarea-wide">
          <%= f.text_area 'content', :class => 'textarea' %>
        </div></div>
      </div>
      <div class="buttons">
      <span class="button"><span><button type="submit">发布</button></span></span>
        <%= emotion_link 'comment_content' %>
      </div>
    <% end %>
  </div>
</div>
<% if with_comments %>
  <% comment_template = "#{type}/comments/comment" if comment_template.blank? %>
  <div class="feed-box" id='comments'>
    <%= render :partial => comment_template, :collection => @comments %>
  </div>
<% end %>
