<% form_remote_for :profile, :html => {:id => 'contact_info_form'} do |f| %>
  <div class='game-character'>
    <%= f.label 'qq', 'qq'  %>
    <%= f.text_field 'qq', :size => 20 %><br/>
    <%= f.label 'phone', '电话' %>
    <%= f.text_field 'phone', :size => 20 %><br/>
    <%= f.label 'website', '个人网站' %>
    <%= f.text_field 'website', :size => 20 %><br/>
  </div>
  <%= button_to_function '更新', "profile_manager.update_contact_info();" %>
  <%= link_to_function '取消', "profile_manager.leave_edit_contact_info()", :class => 'cancel-button' %>
<% end %>
