<%= stylesheet_link_tag 'cropper' %>
<%= javascript_include_tag 'cropper' %>
<%= javascript_include_tag 'photo_tag' %>
<%= javascript_include_tag 'photo_slide' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>
  
<div class='crumb'>
<div class='left'>
<% subject = get_subject @user %>
<%= link_to "#{subject}的照片", personal_albums_url(:id => @user.id) %> -> <%= album_link @album %> -> 照片<br/>
</div>
</div>

<div class='photo-view'>
  <div class='photo-wrap' >
    <%= image_tag @photo.public_filename, :id => "photo_#{@photo.id}" %>
  </div>
  <div class='photo-info'>
	<% if @user == current_user %>
    <%= in_place_text_field :span, @photo, :notation, true, avatar_url(@photo), {}, {:parameter_name => 'photo[notation]', :empty_text => '点击增加照片描述', :rows => 2, :cols => 70}, {} %>
	<% else %>
		<%= @photo.notation %>
	<% end %>
  </div>
	<div id='photo_tags'>
    <%= render :partial => 'avatar_album/tags/tag', :collection => @photo.tags %>
  </div>
</div>

<div id='control_panel' style="display:none" >
  <div>
    <%= label_tag '这是谁...' %><br/>
    <%= text_field_tag 'tag[tagged_user]', '', :id => 'tag_tagged_user' %>
    <%= button_to_function '', "tag_manager.toggle_friend_list('#{form_authenticity_token}');" %><br/>
    <div id='friend_dropdown_list'></div>
    <div id="friend_radio_list" class="box05" style="display:none">
      <div class="title01">
        <div class="right">
          <select name="" onchange="tag_manager.get_friends(this.value)" >
            <option value=0>全部好友</option>
            <% current_user.games.each do |game| %>
              <option value=<%= game.id %>><%= game.name %></option>
            <% end %>
          </select>
        </div>
        <h1>限选1人</h1>
      </div>
      <div class="checkgroup" id='friend_names'>
      </div>
    </div>
    <% form_remote_for :tag, :url => avatar_tags_url(@photo), :html => {:id => 'tag_form'} do |f| %>
      <%= f.label '说点什么吧' %><br/>
      <%= hidden_field_tag 'tag[tagged_user_id]', '' %>
      <%= f.text_area 'content', :rows => 2, :cols => 40 %><br/>
      <%= button_to_function '确定', "tag_manager.submit_tag();", :id => 'confirm_btn'%>
      <%= button_to_function '取消', "tag_manager.reset();", :id => 'cancel_btn'%>
    <% end %>
  </div>
</div>


<div id='photo_options'>
  <%= dig_link @photo %> |
	<%= link_to_function '标记', "tag_manager.start();" %> |
  <% if @user == current_user %>
    <%= link_to '编辑', edit_avatar_url(@photo), :rel => 'facebox' %> |
    <%= facebox_confirm 'x', avatar_url(@photo), {:method => :delete, :msg => '你确定要删除这张照片吗?'} %>  
  <% end %>
</div>

<div id='photo_preview'>
  <div class='prev'>
    <% if @album.photos_count > 4 %>
      <%= link_to_function '上一张', "slide.prev();" %>
    <% end %>
  </div>
  <div class='photo-list'>
    <ul id='frames'>
    <% window_size = (@album.photos_count > 4)? 4 : @album.photos_count %>
    <% window_size.times do |i| %>
      <li></li>
    <% end %>
    </ul>
  <div class='next'>
    <% if @album.photos_count > 4 %>
      <%= link_to_function '下一张', "slide.next();" %>
    <% end %>
  </div>
</div>

<%= render :partial => 'comments/comment_box', :locals => {:comment_template => '/avatar_album/photo_comments/comment', :commentable => @photo, :recipient => @user} %>

<% photo_ids = array_or_string_for_javascript @album.photos.map(&:id) %>
<% urls = array_or_string_for_javascript @album.photos.map {|p| p.public_filename(:small)} %>
<%= javascript_tag "
  slide = new PhotoSlide('avatar', #{photo_ids}, #{urls}, #{window_size}, $('frames').childElements(), #{@photo.id});
  tag_manager = new PhotoTagManager('avatar', #{@photo.id}, 'control_panel', '#{form_authenticity_token}');
"%>
