<tr id='news_<%= news_item.id %>'>
  <td class='title'><div><%= link_to news_item.title, news_url(news_item) %></div></td>
  <td class="time"><%= ftime news_item.created_at %></td>
  <td class="icon"><%= link_to '', edit_admin_news_url(news_item), :class => "icon-active icon-active-edit" %></td>
  <td class="icon"><%= facebox_confirm "", admin_news_url(news_item), {:msg => '你确定要删除这篇新闻?', :method => :delete}, {:class => 'icon-active'} %></td>
</tr>
