<% invitation = event_invitation %>
<% event = invitation.event %>
<div class="request-box" id='event_invitation_<%= invitation.id %>'>
  <h4><span> <%= ftime invitation.created_at %> </span>活动</h4>
  <div class="request-list s_clear">
    <div class="img"><%= avatar event.poster %> </div>
    <div class="info" id='ei_<%= invitation.id %>'>
      <p> <%= profile_link event.poster %> 邀请你加入他的活动 <%= event_link event %>, 是否同意？</p>
      <div class="buttons">
        <span class="button"><span><%= button_to_function '肯定去', "Iyxzone.Event.Invitation.accept1(#{invitation.id}, #{event.id}, #{Participation::Confirmed}, this);", :id => "ei_btn1_#{invitation.id}" %></span></span>
        <span class="button"><span><%= button_to_function '可能去', "Iyxzone.Event.Invitation.accept1(#{invitation.id}, #{event.id}, #{Participation::Maybe}, this);", :id => "ei_btn2_#{invitation.id}" %></span></span>
        <span class="button button-gray"><span><%= button_to_function '不去', "Iyxzone.Event.Invitation.decline1(#{invitation.id}, #{event.id}, this);", :id => "ei_btn3_#{invitation.id}" %></span></span>
      </div>
    </div>
  </div>
</div>
