        <div class='nav-link'>
          <ul class='s_clear'>
            <% if params[:type].nil? %>
              <li class='hover'><%= link_to "<span>所有邀请</span>", invitations_url %></li>
            <% else %>
              <li><%= link_to "所有邀请", invitations_url %></li>
            <% end %>
            <% if params[:type].to_i == 1 %>
              <li class='hover'><%= link_to "<span>投票邀请</span>", invitations_url(:type => 1) %></li>
            <% else %>
              <li><%= link_to "投票邀请", invitations_url(:type => 1) %></li>
            <% end %>
            <% if params[:type].to_i == 2 %>
              <li class='hover'><%= link_to "<span>活动邀请</span>", invitations_url(:type => 2) %></li>
            <% else %>
              <li><%= link_to "活动邀请", invitations_url(:type => 2) %></li>
            <% end %>
            <% if params[:type].to_i == 3 %>
              <li class='hover'><%= link_to "<span>公会邀请</span>", invitations_url(:type => 3) %></li>
            <% else %>
              <li><%= link_to "公会邀请", invitations_url(:type => 3) %></li>
            <% end %>
          </ul>
        </div>

