<% content_for :html_title, "#{current_user.login} - 所有通知 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 所有通知 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <h1 class="app-notice">邀请</h1>
    <div class="box02 canvas_int space">
      <%= render :layout => 'user/notifications/tab', :locals => {:hover => 2} %>
      <div class="box02 appcontent02">
        <%= render :partial => 'nav_link' %>
        <% @invitations.each do |invitation| %>
          <% if invitation.instance_of? PollInvitation %>
            <%= render :partial => 'poll_invitation', :object => invitation %>
          <% elsif invitation.instance_of? Participation %>
            <%= render :partial => 'event_invitation', :object => invitation %>
          <% elsif invitation.instance_of? Membership %>
            <%= render :partial => 'guild_invitation', :object => invitation %>
          <% end %>
        <% end %>      
      </div>
    </div>
<% end %>

<%= will_paginate @invitations %>
