<%= javascript_include_tag "contacts_grabber" %>

万能邀请连接: <%= text_field_tag 'invite_code', invite_url(:token => current_user.invite_code), :enabled => false %>
QQ邀请连接: <%= text_field_tag 'invite_code', invite_url(:token => current_user.qq_invite_code), :enabled => false %>
MSN邀请连接: <%= text_field_tag 'invite_code', invite_url(:token => current_user.msn_invite_code), :enabled => false %>

<div id='email_invite'></div>
<% form_remote_for :invite, :url => signup_invitations_url do |f| %>
好友邮件: <%= text_field_tag 'email[]', '输入你好友的邮件', :onfocus => "this.clear();" %>
<%= f.submit '提交' %>
<% end %>

<div id='msn_invite'></div>
MSN联系人
<% form_tag :controller => 'user/signup_invitations', :action => 'add_friend' do %>
<%= hidden_field_tag 'type', 'msn' %>
<%= text_field_tag 'user_name', '' %>
<%= password_field_tag 'password', '' %>
<%= submit_tag '提交' %>
<% end %>

<div id='email_contacts'></div>
邮件联系人
<% form_tag :controller => 'user/signup_invitations', :action => 'add_friend' do %>
<%= text_field_tag 'user_name', '' %>
@
<select id='email_selector' name='type'>
<option value=''>---</option>
<option value='gmail'>gmail.com</option>
<option value='sina'>sina.com.cn</option>
<option value='yahoo'>yahoo.com</option>
<option value='yahoo'>yahoo.com.cn</option>
<option value='netease'>netease.com</option>
<option value='hotmail'>hotmail.com</option>
</select>
<%= password_field_tag 'password', '' %>
<%= submit_tag '提交' %>
<% end %>
