<% content_for :javascript_include do %>
  <%= javascript_include_tag "contacts_grabber" %>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-friend">好友</h1>
    <div class="box02 canvas_int space">
      <div class="multibox">
        <h3 class="title">请选择邀请方式</h3>
      </div>
      <div class="formcontent invite-friend">
        <%= render :partial => 'invite_by_link' %>
        <%= render :partial => 'invite_by_email' %>
        <%= render :partial => 'invite_by_msn' %> 
        <%= render :partial => 'invite_by_mail_contacts' %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
