<% content_for :html_title, "邀请好友" %>
<% content_for :javascript_include do %>
  <%= javascript_include_tag "signup_invitation" %>
<% end %>

<% canvas_tag do %>
    <h1 class="app-friend">好友</h1>
    <div class="box02 canvas_int space">
      <div class="multibox">
        <h3 class="title">请选择邀请方式</h3>
      </div>
      <div class="formcontent invite-friend">
        <%= render :partial => 'invite_by_link' %>
        <%= render :partial => 'invite_by_email' %>
        <%= render :partial => 'invite_by_msn' %> 
        <%= render :partial => 'invite_by_mail_contacts' %>
      </div>
    </div>
<% end %>
