<div class="title">
  <b><%= "搜索到#{games.total_entries}个游戏" %></b>
</div>

<% if games.blank? %>
<div class='feed-box'>没有你想要的游戏类型，换几个关键词试试？</div>
<% else %>
<table class="data-table01 game-table" cellpadding="0">
  <tr>
    <th>游戏图片</th>
    <th>游戏名称</th>
    <th>公测时间</th>
    <th>玩家评价</th>
    <th>关注</th>
  </tr>
  <% games.each do |g| %>
  <tr>
    <td class="img"><%= game_image g.name, :class => 'imgbox01', :size => :medium %></td>
    <td class="name"><%= game_link g %>
      <% if g.official_web.blank? %>
        (暂无官网)
      <% else %>
        (<%= link_to "官网", g.official_web, :popup => true %>)
      <% end %>
		</td>
    <td class="time">
			<% if g.sale_date.blank? %>
				没有公布
			<% else %>
				<%= g.sale_date %>
			<% end %>
		</td>
    <td align="center">
      <% if g.average_rating == 0 %>
        还没人打分
      <% else %>
        <span class="star-<%= g.average_rating.to_i %>"></span>
      <% end %>
    </td>
    <td class="attention">
      <span id='follow_game_<%= g.id %>'>
      <% attention = current_user.mini_topic_attentions.find_by_topic_name(g.name) %>
      <% if !attention.blank? %>
        <%= link_to_function "<span class='i iNoFollow'></span>取消关注", "Iyxzone.Game.unfollow(#{attention.id}, '#{g.name}', #{g.id});" %>
      <% else %>
			  <%= link_to_function "<span class='i iFollow'></span>关注", "Iyxzone.Game.follow('#{g.name}', #{g.id});" %>
		  <% end %>
      </span>
    </td>
  </tr>
  <% end %>
</table>
<%= remote_will_paginate games, :remote => @remote %>
<% end %>
