<% content_for :javascript_include do %>
  <%= javascript_include_tag 'game' %>
  <%= javascript_include_tag 'textboxlist' %>
<% end %>

<% content_for :html_title, "#{current_user.login} - 游戏推荐 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}游戏推荐 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body canvas_wrap s_clear">
    <div class="canvas_m">
      <div class="canvas_c">
				<h1 class='app-vgame'>推荐游戏</h1>
        <div class="box02 canvas_con">
          <div class="formComposer">
            <%= render :partial => 'game_suggestion_input' %>
            <div class="multibox" id='game_suggestion_area'></div>
          </div>
        </div>
      </div>
    </div>
    <div id="rightsidebar" class="canvas_r">
      <%= render :partial => 'my_attentions' %>
      <%= render :partial => 'attention_list' %>
      <% unless @beta_games.blank? %>
        <%= render :partial => 'beta_list' %>
      <% end %>
    </div>
  </div></div>
</div></div></div></div>

<%= javascript_tag "Iyxzone.Game.Suggestor.prepare(); " %>

