<% facebox_tag "向#{@recipient.login}打招呼" do %>
  <% rows_form_for :delivery, :html => {:onsubmit => "Iyxzone.Poke.deliver(this, $('new_poke_btn'));return false;"} do |f| %>
    <%= hidden_field_tag 'delivery[recipient_id]', @recipient.id %>
    <div class="face-hello space">
      <div class="avatar">
        <%= avatar @recipient, :class => 'imgbox01' %>
      </div>
      <div class="content">
        <div><%= profile_link @recipient %> 下次登录后将会收到通知。</div>
        <h2 class="space">选择动作</h2>
        <ul>
          <% @pokes.each do |p| %>
            <li><%= radio_button_tag 'delivery[poke_id]', p.id %><span class="<%= p.span_class %>"></span><%= p.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="rows">
      <%= f.z_submit :submit => {:text => '完成', :id => 'new_poke_btn'}, :cancel => {:text => '取消', :onclick => 'Iyxzone.Facebox.close();'} %>
    </div>
  <% end %>
<% end %>
