<% content_for :html_title, "#{@game.name} - 游戏公会 - 17Gaming.com" %>
<% content_for :html_description, "#{@game.name}的游戏公会 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@game.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <%= render :partial => 'user/games/game_header', :locals => {:text => "#{@game.name}的相关工会"} %>
    <div class="box02 canvas_int space">
    	<div class="tab tab01">
		    <ul>
          <li><span><%= link_to "热门公会", hot_guilds_url %></span></li>
          <li class='hover'><span><%= link_to "#{@game.name}的公会", game_guilds_url(:game_id => @game.id) %></span></li>
        </ul>
		    <div class='right'>
			    <%= link_to "新公会", new_guild_url %>
		    </div>
      </div>
    	<div class="piclist-rows">
        <div class='path-box'>
          <label>游戏"<%= game_link @game %>"</label>
          <span>公会</span>
        </div>
		    <% if @guilds.count != 0 %>
        <table cellpadding="0" cellspacing="0">
        <%= render :partial => 'user/guilds/guild_item', :collection => @guilds %>
        </table>
        <%= will_paginate @guilds %>
        <% end %>
      </div>
    </div>
<% end %>
