<% content_for :javascript_include do %>
  <%= javascript_include_merged :search %>
<% end %>

<% content_for :html_title, "#{current_user.login} - 角色名搜索 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 角色名搜索 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
		<h1 class="app-friend">好友</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab' %>
			<div class='friend-box'>
        <%= render :partial => 'search_panel', :locals => {:search_type => 'character'} %>
        <div class="box02 appcontent01">
          <div class="piclist-rows cmt-space">
            <table cellspacing='0' cellpadding='0'>
							<% if @users.empty? %>
								<tr><td><strong> 没有符合条件的用户 </strong></td></tr>
							<% else %>
                <tr><td><strong> 共有<%= @users.total_entries %>个符合条件的用户 </strong></td></tr>
                <% @users.each do |user, characters| %>
								  <%= render :partial => 'user_item', :locals => {:user => user, :characters => characters} %>
                <% end %>
							<% end %>
            </table>
            <div class="space s_clear">
              <%= will_paginate @users %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% onload_javascript_tag do %>
  Iyxzone.Game.infos = <%= game_infos %>;
  Iyxzone.Game.initPinyinSelector('game_id', null, 'area_id', null, 'server_id', null, null, null, null, null, null, null);
  <% if !@game.blank? %>
    $('game_id').value = <%= @game.id %>
  <% end %>
<% end %>
