<% delivery = album_feed_delivery %>
<% album = delivery.feed_item.originator %>
<% photos = album.photos.find(:all, :conditions => {:id => delivery.feed_item.data[:ids], :verified => [0,1]}) %>
<% poster = album.poster %>
<% type = photos.first.class.name.underscore %>

<% render :layout => 'user/home/feed_delivery', :locals => {:delivery => delivery, :poster => poster} do %>
      <%= profile_link poster %> 上传了 <%= photos.count %> 张照片 到相册 <%= album_link album, :class => "shine" %>
      <% if photos.count != 0 %>
      <div class="s_clear" id="roll-photo">
        <% if photos.count > 3 %>
        <a class="roll-left" id='left_btn_<%= delivery.id %>'></a>
        <% end %>
        <div class='roll-photo-list'>
          <% if photos.count > 3 %>
          <span style='left: -136px;' id='frames_<%= delivery.id %>'>
            <a></a><a></a><a></a><a></a><a></a><a></a>
          </span>
          <% else %>
            <% photos.each do |p| %><%= photo_link p, :class => 'imgbox01', :size => 'large' %><% end %>
          <% end %>
        </div>
        <% if photos.count > 3 %>
        <a class="roll-right" id='right_btn_<%= delivery.id %>'></a>
        <% end %>
      </div>
      <% else %>
        <div class='s_clear'>照片被TA删除光了</div>
      <% end %>
      <span class="gray">
        <%= ftime delivery.created_at %> - <%= link_to_function "评论", "Iyxzone.Comment.showForm('#{album.class.name.underscore}', #{album.id}, null, #{album.poster_id})" %>
      </span> 
      <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => album, :recipient => album.poster} %>
<% end %>

<% if photos.count > 3 %>
<% photo_ids = array_or_string_for_javascript photos.map(&:id) %>
<% urls = array_or_string_for_javascript photos.map {|p| p.public_filename} %>
<%= javascript_tag "
  slide = new Iyxzone.Photo.Slide2('#{photos.first.class.name.underscore}', #{photo_ids}, #{urls}, $('frames_#{delivery.id}').childElements(), $('left_btn_#{delivery.id}'), $('right_btn_#{delivery.id}'));
" %>
<% end %>
