<% delivery = blog_sharing_feed_delivery %>
<% sharing = delivery.feed_item.originator %>
<% blog = sharing.shareable %>

<% render :layout => 'feed_delivery', :locals => {:delivery => delivery, :poster => sharing.poster} do %>
      <%= profile_link sharing.poster%> 分享了 <%= profile_link blog.poster %> 的日志 <%= blog_link blog, :class => 'shine'%>
      <p class="gray jl-con"><%= blog_content blog, :length => 80, :omission => '...' %></p>
      <p class="gray"><%= ftime delivery.created_at %><%= link_to_function '评论', "Iyxzone.Comment.showForm('sharing', #{sharing.id}, null, #{sharing.poster_id})" %></p>
	    <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => sharing, :recipient => sharing.poster} %>
<% end %>
