<% delivery = game_character_feed_delivery %>
<% item = delivery.feed_item %>
<% character = item.originator %>
<% user = character.user %>

<% render :layout => 'small_feed_delivery', :locals => {:delivery => delivery, :poster => character.user} do %>
  <% if item.data[:type] == 0 %>
    <%= profile_link user %> 创建了游戏角色 <%= link_to character.name, edit_profile_url(user.profile), :class => "shine" %>
  <% elsif item.data[:type] == 1 %>
    <%= profile_link user %> 开始不玩游戏角色 <%= link_to character.name, edit_profile_url(user.profile), :class => "shine" %>
  <% elsif item.data[:type] == 2 %>
    <%= profile_link user %> 开始玩游戏角色 <%= link_to character.name, edit_profile_url(user.profile), :class => "shine" %>
  <% end %>
	<span class='gray'><%= ftime delivery.created_at %></span>
<% end %>
