	<% news_deliveries.each do |news| %>

	<div class="feed-list-box">
		<div class="feed-list">
			<div class="img left"><div class="imgbox01"><%= image_tag "news_icon.png" %></div></div>
			<div class="jl-list-con jl-cutline">
				<%= news_link news, :class => 'shine'%>
				<p class="gray jl-con">
					<% if news.news_type == 'text' %>
						<%= news_content news, :length => 80, :omission => '...' %>
					<% elsif news.news_type == 'picture' %>
						<%= image_tag news.pictures.first.public_filename, :size => '95x95', :class => 'imgbox01' %>
						<%= simple_format h news.data %>
					<% elsif news.news_type == 'video' %>
						<%= link_to (image_tag news.thumbnail_url, :width => 150, :class => 'imgbox01'), news_url(news) %>
						<%= simple_format h news.data %>
					<% end %>
				</p>
			</div>
		</div>
	</div>
	<% end %>
