<% delivery = news_sharing_feed_delivery %>
<% sharing = delivery.feed_item.originator %>
<% news = sharing.shareable %>

<div class="feed-list-box">
  <div class="feed-list" id='feed_delivery_<%= delivery.id %>'>
	  <div class="img left"><div class="imgbox01"><%= avatar sharing.poster %></div></div>
    <div class="jl-list-con jl-cutline">
	  <% if delivery.is_deleteable_by? current_user %>
      <%= link_to_remote '', :url => feed_delivery_url(delivery), :method => :delete, :html => {:class => 'icon-active'} %>
	  <% end %>
      <%= profile_link sharing.poster%> 分享了新闻 <%= news_link news, :class => 'shine'%>
      <p class="gray jl-con">
        <% if news.news_type == 'text' %>
          <%= news_content news, :length => 80, :omission => '...' %>
        <% elsif news.news_type == 'picture' %>
          <%= image_tag news.pictures.first.public_filename, :size => '95x95', :class => 'imgbox01' %>
        <% elsif news.news_type == 'video' %>
          <%= link_to (image_tag news.thumbnail_url, :width => 150, :class => 'imgbox01'), news_url(news) %>
        <% end %>
      </p>
      <p class="gray"><%= ftime delivery.created_at %><%= link_to_function '评论', "Iyxzone.Comment.showForm('sharing', #{sharing.id}, null, #{sharing.poster_id})" %></p>
	    <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => sharing, :recipient => sharing.poster} %>
	  </div>
  </div>
</div>
