<% delivery = personal_album_feed_delivery %>
<% album = delivery.feed_item.originator %>
<% user = album.user %>
<% photos = Photo.find(delivery.feed_item.data[:ids]) %>

<div class="feed-list-box">
<div class="feed-list" id='delivery_<%= delivery.id %>'>
	<div class="img left">
		<div class="imgbox01"><%= avatar album.poster %></div>
	</div>
	<div class="jl-list-con jl-cutline"><%= profile_link user %> <span>更新了<%=photos.count%>张照片至相册</span> <%= album_link album, :class => "shine"%>
	<% if delivery.is_deleteable_by? current_user %><%= link_to_remote "", :url => feed_delivery_url(delivery), :method => :delete, :html => {:class => "icon-active"} %><% end %>
  <ul id="roll-photo" class="s_clear">
      <% if photos.count >= 3 %>
        <%= link_to_function '', "Iyxzone.Photo.SlideManager.get(#{delivery.id}).prev();", :class => "roll-left" %>
      <% end %>
				<div id='frames_<%= delivery.id %>'>
					<% window_size = (photos.count > 3)? 3 : photos.count %>
					<% window_size.times do |i| %>
						<li id='frame_<%= i %>'></li>
					<% end %>
				</div>
			<li>
				<% if photos.count >= 3 %>
				  <%= link_to_function '', "Iyxzone.Photo.SlideManager.get(#{delivery.id}).next();", :class => "roll-right" %>
				<% end %>
			</li>
			</ul>
		<p class="gray"><%= ftime delivery.created_at %> <%= link_to_function "回复", "Iyxzone.Comment.showForm('personal_album', #{album.id}, null);", :class => "grap" %></p>
	  <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => album, :recipient => album.poster} %>
	</div>
	</div>
</div>
<% photo_ids = array_or_string_for_javascript photos.map(&:id) %>
<% urls = array_or_string_for_javascript photos.map {|p| p.public_filename(:medium)} %>
<%= javascript_tag "
  Iyxzone.Photo.SlideManager.set(#{delivery.id}, new Iyxzone.Photo.Slide('personal_photo', #{photo_ids}, #{urls}, #{window_size}, $('frames_#{delivery.id}').childElements(), #{photos[(window_size/2).to_i].id}));
" %>
