<% delivery = photo_sharing_feed_delivery %>
<% sharing = delivery.feed_item.originator %>
<% user = sharing.poster %>
<% photo = sharing.shareable%>
<div class="feed-list-box">
  <div class="feed-list" id='feed_delivery_<%= delivery.id %>'>
	  <div class="img left"><div class="imgbox01"><%= avatar user %></div></div>
    <div class="jl-list-con jl-cutline">
	  <% if delivery.is_deleteable_by? current_user %>
      <%= link_to_remote "", :url => feed_delivery_url(delivery), :method => :delete, :html => {:class => "icon-active"} %>
    <% end %>
	    <%= profile_link user %> <span> 分享了 <%= profile_link photo.poster, :class => "shine" %> 的照片</span>
      <p class="gray jl-con"><%= photo_link photo, :class=>'imgbox01', :size => :large %></p>
	    <p class="gray"><%= ftime delivery.created_at %> <%= link_to_function "评论", "Iyxzone.Comment.showForm('sharing', #{sharing.id}, null);", :class => "gray"%></p>
	    <%= render :partial => "user/comments/folded_comment_box", :locals => {:commentable => sharing, :recipient => sharing.poster} %>
    </div>
  </div>
</div>
