<% delivery = photo_sharing_feed_delivery %>
<% sharing = delivery.feed_item.originator %>
<% user = sharing.poster %>
<% photo = sharing.shareable%>

<% render :layout => 'feed_delivery', :locals => {:delivery => delivery, :poster => user} do %>
	<%= profile_link user %> <span> 分享了 <%= profile_link photo.poster, :class => "shine" %> 的照片</span>
  <p class="gray jl-con"><%= photo_link photo, :class=>'imgbox01', :size => :large %></p>
	<p class="gray"><%= ftime delivery.created_at %> <%= link_to_function "评论", "Iyxzone.Comment.showForm('sharing', #{sharing.id}, null);", :class => "gray"%></p>
	<%= render :partial => "user/comments/folded_comment_box", :locals => {:commentable => sharing, :recipient => sharing.poster} %>
<% end %>
