<% delivery = status_feed_delivery %>
<% status = delivery.feed_item.originator %>

<% render :layout => 'user/home/feed_delivery', :locals => {:delivery => delivery, :poster => status.poster} do %>
	<%= profile_link status.poster, :class => "shine"  %> <span> 更新了状态</span>
  <div class="round02 round_r_t s-dialog">
    <div class="round_l_t">
      <div class="round_r_b">
        <div class="round_l_b">
          <div class="round_m jl-round_m"> <span class="arrow-dialog"></span>
						<div class="round_body"> <%= status.content %> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="gray"><%= ftime status.created_at %> <%= link_to_function "评论", "Iyxzone.Comment.showForm('status', #{status.id}, null, #{status.poster_id})", :class => "gray" %></p>
	<%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => status, :recipient => status.poster} %>
<% end %>
