<% delivery = video_feed_delivery %>
<% video = delivery.feed_item.originator %>
<div class="feed-list-box">
<div class="feed-list" id='feed_delivery_<%= delivery.id %>'>
	<div class="img left">
		<div class="imgbox01"><%= avatar video.poster %></div>
	</div>
  <div class="jl-list-con jl-cutline"><%= profile_link video.poster %> 分享了视频 <%= video_link video, :class => "shine"%>
    <p class="gray jl-con s_clear" id='video_<%= video.id %>'> <%= image_tag video.thumbnail_url, :onclick => "Iyxzone.Video.play(#{video.id}, '#{video.embed_html}');" %> </div>
		<p class="gray"><%= ftime video.created_at %> <%= link_to_function "评论", "Iyxzone.Comment.showForm('video', #{video.id}, null)", :class => "gray" %></p>
  </div>
  <% if with_comments %>
	  <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => video, :recipient => video.poster} %>
  <% end %>
	<% if delivery.is_deleteable_by? current_user %><%= link_to_remote "", :url => feed_delivery_url(delivery), :method => :delete, :class => "icon-active" %><% end %> 
	</div>
</div>
</div>
