<% content_for :html_title, "#{current_user.login} - 首页 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged 'home' %>
  <%= javascript_include_tag 'sound' %>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body canvas_wrap s_clear">
	  <div class="canvas_m">
		  <div class="canvas_c">
  			<div class="box02 canvas_con">
          <%= render :partial => 'home_status', :locals => {:status => @status} %>
          <div class="feed-message-box s_clear" id='my_notices'>
			  		<%= render :partial => 'user/notices/notices', :object => @notices %>
          </div>
          <div class="feed-box rows">
            <%= render :partial => 'feed_category' %>
            <div class='feed-wrap'>
              <% if !@news_list.blank? or !@picture_news.blank?%>
                <%= render :partial => 'daily_news', :locals => {:news_list => @news_list, :rich_news => @rich_news} %>
              <% end %>
              <% if current_user.friends_count == 0 %>
                <%= render :partial => 'welcome_info', :locals => {:friend_suggestions => @friend_suggestions} %>
              <% else %>
                <%= render :partial => 'feed_list', :locals => {:feed_deliveries => @feed_deliveries, :first_fetch_size => @first_fetch_size} %>
              <% end %>
            </div>
          </div>
        </div>
  		</div>
  	</div>
    <div id="rightsidebar" class="canvas_r">
      <% if current_user.requests_count != 0 or current_user.invitations_count != 0 or current_user.poke_deliveries_count != 0 %> 
        <%= render :partial => 'requests_invitations_pokes' %>
      <% end %>
      <% if current_user.profile.viewings_count != 0 %> 
        <%= render :partial => 'recent_visitors', :locals => {:viewings => @viewings} %>
      <% end %>
      <% if !@friend_suggestions.blank? %>
        <%= render :partial => 'friend_suggestions', :locals => {:friend_suggestions => @friend_suggestions} %>
      <% end %>
    </div>
  </div></div>
</div></div></div></div>
