<% content_for :html_title, "#{current_user.login} - 首页 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged 'home' %>
  <%= javascript_include_tag 'sound' %>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body canvas_wrap s_clear">
		<div class="canvas_m">
			<div class="canvas_c">
				<div class="box02 canvas_con">
          <%= render :partial => 'home_status' %>
          <div class="feed-message-box s_clear" id='my_notices'>
						<%= render :partial => 'user/notices/notices', :object => @notices %>
          </div>
          <%= render :partial => 'home_feeds' %>
        </div>
			</div>
		</div>
    <div id="rightsidebar" class="canvas_r">
      <%= render :partial => 'requests_invitations_pokes' %>
      <%= render :partial => 'recent_visitors' %>
      <%= render :partial => 'friend_suggestions' %>
    </div>
	</div></div>
</div></div></div></div>
