<!--
  remote 是否是ajax分页
-->
<ul class='friend-man s_clear'>
<% friends.each do |f| %>
	<li id='friend_<%= f.id %>' class='bg'>
		<div class="card">
			<%= link_to_function "", "Iyxzone.Friend.confirmDestroying(#{f.id});", :class => "icon-active right" %> 
			<div class="img">
				<div class="middle"><div class="middle-center"><div class="center">
					<%= avatar f, :class => 'imgbox01' %>
				</div></div></div>
			</div>
			<div class="info member s_clear">
				<h4><%= profile_link f %></h4>
			</div>
    </div>
  </li>
<% end %>
</ul>

<% if remote %>
  <%= remote_will_paginate friends, :remote => remote %>
<% else %>
  <%= will_paginate friends %>
<% end %>
