<% content_for :html_title, "#{current_user.login}的好友 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的好友 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <h1 class="app-friend">好友</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:hover => 0} %>
      <div class="friend-box">
        <div class="friend-wrap s_clear">
          <%= render :partial => 'friend_category' %>
          <div class="friend-list">
					  <div class="friend-content">
              <div class="friend-list-header">
							  <div class="right">
								  <div class="textfield">
									  <%= text_field_tag 'search', "搜索您的好友", :onfocus => "$(this).clear()" %>
									  <%= observe_field :search,
											  						  :update    => "friends",
												  						:frequency => 1,
													  					:url       => search_friends_url(current_user),
														  				:with      => "'key='+$('search').value",
															  			:method    => :get  %>
								  </div>
                </div>
							  所有好友(共<%= current_user.friends_count %>个)
              </div>
              <div class="friend-list-body s_clear" id='friends'>
						    <%= render :partial => 'friends', :locals => {:friends => @friends, :remote => nil} %>
						  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
