<% content_for :html_title, "#{@user.login} - 个人主页 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的个人主页 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% if !@skin.default? %>
	<% content_for :stylesheet_link do %>
		<%= stylesheet_link_tag "themes/#{@skin.directory}/#{@skin.css}" %>
	<% end %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :profile %>
  <%= javascript_include_tag 'sound' %>
<% end %>

<% content_for :left do %>
	<div class="avatarXl">
		<div class="wrap">
			<%= avatar_image @user, :size => 'clarge' %>
		</div>
	</div>
	<%= render :partial => "user/profiles/operations", :locals => {:user => @user, :profile => @profile, :relationship => @relationship} %>
  <%= render :partial => 'user/profiles/tag_panel', :locals => {:user => @user, :profile => @profile} %>
	<%= render :partial => 'user/profiles/guilds', :locals => {:guilds => @guilds, :user => @user} %>
  <% unless @viewings.blank? %>
    <%= render :partial => 'user/profiles/recent_visitors', :locals => {:viewings => @viewings, :profile => @profile} %>
  <% end %>
  <% unless @common_friends.blank? %>
    <%= render :partial => 'user/profiles/common_friends', :locals => {:friends => @common_friends, :user => @user} %>
  <% end %>
  <% unless @friends.blank? %>
    <%= render :partial => 'user/profiles/friends', :locals => {:friends => @friends, :user => @user} %>
  <% end %>
  <% if @user.is_idol and !@fans.blank? %>
    <%= render :partial => 'user/profiles/fans', :locals => {:fans => @fans, :user => @user} %>
  <% end %>
	
<% end %>


<div class="acTop">
	<div class="acMemberInfo"><h2 class="memberName"><%= @user.login%></h2></div>
	<div class="acNav">
		<ul>
			<li class="selected" id='tab_home'><%= facebox_tip '<span class="home"></span><strong>主页</strong>', "加为好友才能执行此操作" %></li>
			<li id='tab_info'><%= facebox_tip '<span class="info"></span><strong>档案</strong>', "加为好友才能执行此操作" %></li>
			<li id='tab_feed'><%= facebox_tip '<span class="feed"></span><strong>新鲜事</strong>', "加为好友才能执行此操作" %></li>
			<li id='tab_poll'><%= facebox_tip '<span class="poll"></span><strong>投票</strong>', "加为好友才能执行此操作" %></li>
			<li id='tab_photo'><%= facebox_tip '<span class="photo"></span><strong>照片</strong>', "加为好友才能执行此操作" %></li>
			<li id='tab_blog'><%= facebox_tip '<span class="blog"></span><strong>日志</strong>', "加为好友才能执行此操作" %></li>
			<li id='tab_video'><%= facebox_tip '<span class="video"></span><strong>视频</strong>', "加为好友才能执行此操作" %></li>
		</ul>
	</div>
</div>
<div class='acMain'>
	<div class="alphaColum acMainWrap" >
		<div class="ac-r-m fix" id="profile-main-content">
			<div class="authTips">
				<div class="fix"><strong><%=@user.login%></strong> 只公开了一部分信息，想了解TA更多吗？加TA为好友吧！</div>
				<div class="space20">
				 <span class="button05"><span>
						<%= facebox_link "加为好友", new_friend_request_url(:friend_id => @user.id) %>
					</span></span>
				</div>
			</div>
		</div>
		<div class="ac-r-b"><em></em></div>
	</div>
	<div class="alphaColum">
		<div class="ac-r-t"><em></em></div>
		<div class="ac-r-m fix">
			<div class="alphaTitle fix"><div class="wrap"><strong>留言板(共<%=@profile.comments_count%>条)</strong></div></div>
			<div class="ac-bd">
				<%= render :partial => 'user/wall_messages/wall', :locals => {:wall => @profile, :recipient => @profile.user, :messages => @messages} %>
			</div>
		</div>
		<div class="ac-r-b"><em></em></div>
	</div>
</div>

<% unless @reply_to.nil? %>
  <%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id})" %>
<% end %>
<% javascript_tag do %>
  Iyxzone.Profile.init(<%= @profile.id %>);
<% end %>
