<% content_for :left do %>
  <div class="mcAvatar">
    <a href="#"></a>
    <div class="picwrap">
      <div class="middle"><div class="middle-center"><div class="center" id='avatar'>
        <%= avatar @user, :size => :large %>
      </div></div></div>
    </div>
  </div>
  <div class="profile-list menu-icon-list">
		<% subject = get_subject(@user) %>
		<ul>
			<li><span class='icon-data'></span><%= "#{subject}的档案" %></li>
			<li><span class='icon-state'></span><%= "#{subject}的状态" %><span>(<%= @user.statuses_count %>)</span></li>
			<li><span class='icon-game'></span><%= "#{subject}的游戏" %><span>(<%= @user.games_count %>)</span></li>
			<li><span class='icon-photo'></span><%= "#{subject}的相册" %><span>(<%= @user.albums_count "friend"%>)</span></li>
			<li><span class='icon-blog'></span><%= "#{subject}的日志" %><span>(<%= @user.blogs_count "friend" %>)</span></li>
			<li><span class='icon-video'></span><%= "#{subject}的视频" %><span>(<%= @user.videos_count "friend" %>)</span></li>
			<li><span class='icon-share'></span><%= "#{subject}的分享" %><span>(<%= @user.sharings_count%>)</span></li>
			<li><span class='icon-vote'></span><%= "#{subject}的投票" %><span>(<%= @user.polls_count%>)</span></li>
			<li><span class='icon-act'></span><%= "#{subject}的活动" %><span>(<%= @user.events.count%>)</span></li>
			<li><span class='icon-cons'></span><%= "#{subject}的公会" %><span>(<%= @user.guilds_count%>)</span></li>
		</ul>
	</div>
<% end %>

<% content_for :right do %>
	<div class="multibox">
  <div class="title">
    <%= link_to "更多", edit_profile_url(@profile) %>
    <b>游戏人物资料</b>
  </div>
  <table class="data-table">
    <tr>
      <th>游戏名称</th>
      <th>玩家昵称</th>
      <th>等级</th>
    </tr>
    <% @user.characters.each do |c| %>
    <tr>
      <td><%= game_link c.game %></td>
      <td><%= c.name %></td>
      <td><%= c.level %></td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>

<div class="box02 canvas_con">
	<div class='multibox'>
		<div class="tipbar space">
		<% if @profile.about_me.blank? %>
			<span>这家伙很懒，什么都没说...</span>
		<% else %>
			<span><%= @profile.about_me %></span>
		<% end %>
		</div>
	</div>

	<div class="multibox">
		<div class="title"><b></b></div>
		<strong><%= facebox_link "加为好友", new_friend_request_url(:friend_id => @user.id), :rel => 'facebox' %></strong> 或者 <strong><%= link_to "发站内信", new_mail_url(:recipient_ids => [@user.id]) %></strong>
	</div>

<% unless @common_friends.blank? %>
	<div class="multibox">
		<div class="title"><%= link_to '更多', common_friends_url(:uid => @user.id) %><b>共同好友</b></div>
		<div class="photolist-box">
			<ul class="collection s_clear">
				<% @common_friends.each do |p| %>
					<li>
						<div class="middle"><div class="middle-center"><div class="center"><%= avatar p, :class => 'imgbox01' %></div></div></div>
						<p><%= profile_link p %></p>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

	<div class="multibox">
		<div class="title"><%= link_to '全部好友', other_friends_url(:uid => @user.id) %><b>他的好友</b></div>
		<div class="photolist-box">
			<ul class="collection s_clear">
				<% @user.friends.sort_by{rand}[0..7].each do |p| %>
					<li>
						<div class="middle"><div class="middle-center"><div class="center"><%= avatar p, :class => 'imgbox01' %></div></div></div>
						<p><%= profile_link p %></p>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
