<% content_for :html_title, "与#{@user.login}的共同好友 - 17Gaming.com" %>
<% content_for :html_description, "与#{@user.login}的共同好友 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <div class="friend-head space s_clear">
      <span class="left"><%= avatar @user, :class=>"imgbox01"%></span>
      <p class="left">
        <strong><%= @user.login %>的好友</strong><br />
        <%= link_to '个人主页', profile_url(@user.profile), :class=>'red'%>
      </p>
    </div>
    <div class="box02 canvas_int space">
      <div class="tab tab01">
        <ul>
          <li class='hover'><span><%= link_to "#{@user.login}的好友", other_friends_url(:uid => @user.id) %></span></li>
          <li><span><%= link_to '共同好友', common_friends_url(:uid => @user.id) %></span></li>
        </ul>
			</div>
      <div class="friend-box">
        <div class="appcontent01">
          <div class='d6-head'>
            <strong class='gray'>共有<%= @friends.total_entries %>个好友</strong>
          </div>
          <div class="d6-list s_clear">
						<%= render :partial => 'friends2', :locals => {:friends => @friends} %>
          </div>
        </div>
      </div>
    </div>
	</div></div>
</div></div></div></div>
