<% delivery = game_character_feed_delivery %>
<% item = delivery.feed_item %>
<% character = item.originator %>
<div class="feed-list" id='feed_delivery_<%= delivery.id %>'>
	<div class="s-img left">
		<div class="imgbox01"><%= avatar character.user %></div>
	</div>
	<div class="jl-list-con jl-cutline">
<% if item.data[:type] == 0 %>
  <div><%= profile_link character.user %>创建了游戏角色<%= link_to character.name, edit_profile_url(character.user.profile), :class => "shine" %></div>
<% elsif item.data[:type] == 1 %>
  <div><%= profile_link character.user %>放弃了游戏角色<%= link_to character.name, edit_profile_url(character.user.profile), :class => "shine" %></div>
<% elsif item.data[:type] == 2 %>
  <div><%= profile_link character.user %>开始玩游戏角色<%= link_to character.name, edit_profile_url(character.user.profile), :class => "shine"%></div>
<% end %>
	<div><% if delivery.is_deleteable_by? current_user %><%= link_to_remote "", :url => feed_delivery_url(delivery), :method => :delete, :class => "icon-active" %><% end %></div> 
	<span class="gray"><%= ftime delivery.created_at %> <%= link_to_function "回复", "Iyxzone.Comment.showForm('game_character', #{character.id}, null);", :class => "gray"%></span>
	</div>
  <% if with_comments %>
	  <%= render :partial => "user/comments/folded_comment_box", :locals => {:commentable => character , :recipient => character.user} %>
  <% end %>
	</div>
</div>
