<% delivery = status_feed_delivery %>
<% status = delivery.feed_item.originator %>
<div class="feed-list" id='delivery_<%= delivery.id %>'>
	<div class="feed-icon icon-share"></div>
  <p><%= profile_link status.poster %> <span>更新了状态</span> </p>
	<div class="feed-pic s_clear">
		<div class="img">
			<%= avatar status.poster %> 
    </div>
    <div class="pics"> <%= status.content %> </div>
		<p><%= ftime status.created_at %> <%= link_to_function "评论", "Iyxzone.Comment.showForm('status', #{status.id}, null)" %></p>
  </div>
  <% if with_comments %>
	  <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => status, :recipient => status.poster} %>
	<% end %>
  <div><%= yield %></div>
</div>
