<% content_for :html_title, "#{@guild.name}的相册 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的相册 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <%= render :partial => 'user/guilds/guild_header', :locals => {:text => "#{@guild.name}的照片"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:guild => @guild, :album => @album} %>
      <div class="pic-box">
        <%= render :partial => 'album_path', :locals => {:guild => @guild, :album => @album} %>
        <% if @photos.total_entries != 0 %>
          <%= render :partial => 'user/albums/album_table', :locals => {:album => @album, :photos => @photos}  %>
        <% else %>
					<% if @membership and @membership.is_president? %>
					<div class='tip'>公会还没有图片，你赶紧<%= link_to '上传', new_guild_photo_url(:album_id => @album.id) %>吧</div>
					<% else %>
					<div class='tip'>公会还没有图片</div>
					<% end %>
        <% end %>
        <%= render :partial => 'user/albums/album_desc', :locals => {:album => @album, :user => @user} %>
			</div>
      <%= render :partial => 'user/resources/foot_func', :locals => {:resource => @album, :commentable => true, :viewable => false, :diggable => false, :comment_opts => {:commentable => @album, :recipient => @user}, :reply_to => @reply_to} %>
    </div>
<% end %>
