              <% character = comrade_item %>
              <% user = character.user %>
              <tr>
                <td>
                  <div class='imgwrap'>
                    <%= avatar user, :size => :medium, :class=>'imgbox01' %>
                  </div>
                  <div class='data jl-data'>
                    <p><%= profile_link user %></p>
                    <p>
                      <%= character.server.name %>,
                      <%= character.name %>
                    </p>
                    <p class="space" id='idol_<%= user.id %>_op'>
                        <% if current_user != user %>
                          <% if user.is_idol %>
                            <% if user.has_fan? current_user %>
                              <%= render :partial => 'user/idols/unfollow', :locals => {:idol => user} %>
                            <% else %>
                              <%= render :partial => 'user/idols/follow', :locals => {:idol => user} %>
                            <% end %>
                          <% else %>
                            <% if !user.has_friend?(current_user)%>
                              <%= facebox_link '', new_friend_request_url(:friend_id => user.id), :class => "friend-btn w-l" %>
                            <% end %>
                          <% end %>
                        <% end %>
                    </p>
                  </div>
                </td>
              </tr>
