<% content_for :javascript_include do %>
  <%= javascript_include_merged :search %> 
<% end %>

<% content_for :html_title, "#{@game.name} - 游戏玩家 - 17Gaming.com" %>
<% content_for :html_description, "#{@game.name}游戏玩家 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@game.name}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body">
    <%= render :partial => 'user/games/game_header', :locals => {:text => "#{@game.name}的玩家"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab' %>
			<div class="friend-box">
        <%= render :partial => 'search_panel', :locals => {:search_type => 'user'} %>
				<div class="box02 appcontent01">
          <div class="piclist-rows cmt-space">
            <table cellspacing='0' cellpadding='0'>
            <% if @comrades.blank? %>
              <tr><td><strong> 没有符合条件的用户 </strong></td></tr>
            <% else %>
              <tr><td><strong> 共有<%= @comrades.total_entries %>个游戏角色 </strong></td></tr>
              <%= render :partial => 'comrade_item', :collection => @comrades %>
            <% end %>
            </table>
            <div class="space s_clear">
              <%= will_paginate @comrades %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div></div>
</div></div></div></div>

