  <div class="gameProfile fix">
    <div class="avatar">
      <%= game_image game.name, :class => "imgbox01" %>
      <div class='follow' id='game_attention_<%= game.id %>'>
        <% if game.followed_by? current_user %>
          <%= render :partial => 'user/attentions/unfollow', :locals => {:attentionable => game} %>
        <% else %>
          <%= render :partial => 'user/attentions/follow', :locals => {:attentionable => game} %>
        <% end %>
      </div>
    </div>
    <div class="con">
        <% if !game.is_rateable_by? current_user %>
          <%= render :partial => 'user/ratings/show', :locals => {:rateable => game} %>
        <% else %>
          <%= render :partial => 'user/ratings/new', :locals => {:rateable => game} %>
        <% end %>
      <ul>
        <li>公司：<span class="memberName"><%= link_to game.company, game.official_web %></span></li>
        <li>成立：<span class="time"><%= ftime2 game.sale_date %></span></li>
      </ul>
      <div class="addRole"><%= facebox_link "", new_character_url(:gid => game.id), :class => "addGameRoleBtn", :title => "增加该游戏角色" %></div>
    </div>
  </div>


