<table>
  <tr>
    <td class="id">公司：</td>
    <td class="value"><%= @game.company %></td>
  </tr>
  <tr>
    <td class="id">发行：</td>
    <td class="value"><%= ftime2 @game.sale_date %></td>
  </tr>
  <tr>
    <td class="id">玩家打分：</td>
	</tr>
</table>
<% if @game.ratings_count == 0 %>
	没有玩家品分
<% else %>
		<ul class='star-rating'>
		    <div id='current_rate'><li class='current-rating' style='width:<%= (@game.average_rating * 30).to_i -%>px;'>
    </li></div>
    <li>
        <%= link_to "1", :class => 'one-star', :name => '1 star out of 5' %>
    </li>
    <li>
        <%= link_to "2", :class => 'one-star', :name => '2 star out of 5' %>
    </li>
    <li>
        <%= link_to "3", :class => 'one-star', :name => '3 star out of 5' %>
    </li>
    <li>
        <%= link_to "4", :class => 'one-star', :name => '4 star out of 5' %>
    </li>
    <li>
        <%= link_to "5", :class => 'one-star', :name => '5 star out of 5' %>
    </li>
</ul>
<% end %>
