						<table cellspacing="1" cellpadding="0" class="table01 gameList">
								<tbody>
								<% games.each do |game| %>
								<tr>
									<td>
										<div class="imgwrap">
												<%= game_image game.name, :class => 'game-m' %>
										</div>
										<div class="data">
											<p><strong><%= game_link game %></strong></p>
											<p><%= game.description%></p>
											<div>
												<ul>
													<li>玩家打分：<strong><%= "%.1f" % game.average_rating %></strong></li>
													<li>玩家关注：<strong><%= game.attentions_count %></strong></li>
													<li>已有玩家：<strong><%= game.characters_count%></strong></li>
													<li>新增玩家：<strong><%= game.characters_count - game.last_week_characters_count %></strong></li>
												</ul>
											</div>
										</div>
									</td>
									<td>
											<div id='game_attention_<%= game.id %>'> <%= link_to_remote "添加关注", :url=> game_attentions_url(game, :at => 1), :html => {:class=>"concern-btn02"} %> </div>
											<div class="space"> <%= facebox_link "", new_character_url(:gid => game.id), :class=>"addGameRoleBtn", :title=>"增加该游戏角色" %></div>
									</td>
								</tr>
								<% end %>
							</tbody>
							</table>
						<%= will_paginate games %>
