  <table class="table01 gameList" cellpadding="0" cellspacing="1">
		<% games.each do |game| %>
			<% users = game.characters.by(cuser.friend_ids).map(&:user)%>
			<% users_id = users.map(&:id) %>
			<% average_rating = game.average_rating_by users_id %>
			<% tags = game.tags_by users_id %>
			<tr>
				<td>
					<div class="imgwrap">
						<%= game_image game.name, :class => 'game-m' %>
					</div>
					<div class="data">
						<p><%= game_link game %></p>
            <p>共有 <span class="shine"><%= users.length -%>个</span> 好友在玩该游戏</p>
            <div class="photolist-box">
              <ul class="collection s_clear">
								<% users[0..6].each do |user| %>
									<li>
										<div class="middle"><div class="middle-center"><div class="center"><%= avatar user, :class => 'imgbox01'%></div></div></div>
										<p><%= profile_link user%></p>
									</li>
								<% end %>
							</ul>
						</div>
						<% if users.length > 7 %>
							<div class="more"><%= facebox_link "更多", friend_players_characters_url(:gid => game.id)%></div>
						<% end %>
            <div class="score">
              好友的打分：
							<% if average_rating.nil? %>
							  您的好友们都没给这个游戏打分
						  <% else %>
							  <span class="star-<%=average_rating.round-%> w-l"></span><strong><%= "%.1f" % average_rating -%></strong>
						  <% end %>
            </div>
            <div class="gameImpressFriend">
              <h4>好友对游戏的印象：</h4>
							<% if tags.blank?%>
								您的好友还没写下这游戏的印象
							<% else %>
								<div class="i-show02 s_clear">
                  <%= tags.map{|t| "<a href='javascript:void(0)' class='i-s-#{rand(7)}'><strong>#{t.name}</strong><span></span></a>"}.join %>
								</div>
							<% end %>
						</div>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate games %>
