<% content_for :javascript_include do %>
  <%= javascript_include_merged :game %>
<% end %>

<% content_for :html_title, "#{@user.login}的游戏 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的游戏 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% subject = get_subject @user %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
	  <% if @user == current_user %>
      <h1 class="app-game">游戏</h1>
	  <% else %>
      <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的游戏"} %>
    <% end %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>
	    <div class="piclist-rows">
        <%= render :partial => 'index_nav', :locals => {:user => @user, :hover => 0} %>
		    <%= render :partial => 'game_items', :object => @games %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
