<% content_for :html_title, "#{@user.login} 的关注游戏 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的关注游戏 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :game %>
<% end %>

<% canvas_tag do %>
    <% if @user == current_user %>
      <h1 class="app-game">游戏</h1>
    <% else %>
      <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的游戏"} %>
    <% end %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>
      <div class="piclist-rows">
        <%= render :partial => 'index_nav', :locals => {:user => @user, :hover => 1} %>
        <% if !@games.blank? %>
		      <%= render :partial => 'game_items', :object => @games %>
        <% else %>
          <div class='tip'>你还没关注任何游戏，是不是有点二？快去<%= link_to "游戏推荐", game_suggestions_url %>看看 </div>
        <% end %>
      </div>
    </div>
<% end %>
