<% content_for :javascript_include do %>
  <%= javascript_include_merged :game %>
<% end %>

<% content_for :style do %>
  gameHome
<% end %>

<% content_for :title do %>
  <strong><%= @game.name %></strong>
<% end %>

<% content_for :notice do %>
  <span class="i40 iGameLogo"></span>
  <span class="i iGameMsg">公告：</span>
  <div class="msg">
    <% if @game.has_admin? current_user %>
      <strong><%= in_place_text_field @game, :bulletin, '有啥公告?', :param_name => 'game[bulletin]' %></strong>
    <% else %>
      <strong><%= h @game.bulletin %></strong>
    <% end %>
  </div>
<% end %>

<% content_for :side_bar do %>
  <%= render :partial => 'game_info', :locals => {:game => @game} %>  
  <%= render :partial => 'game_tag', :locals => {:game => @game} %>
  <% if !@players.blank? or !@comrades.blank? %>
    <%= render :partial => 'players_and_comrades', :locals => {:comrades => @comrades, :players => @players, :game => @game} %>
  <% end %>
  <% if !@guilds.blank? or !@comrades.blank? %>
    <%= render :partial => 'events_and_guilds', :locals => {:guilds => @guilds, :events => @events, :game => @game} %>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render :partial => "user/home/talking_about", :locals => {:mini_blogs => @mini_blogs, :hot_words => @hot_words} %>
  <%= render :partial => "game_tab", :locals => {:game => @game} %>
  <div id='presentation'>
    <%= render :partial => "feed_list", :locals => {:feed_deliveries => @feed_deliveries, :fetch_size => @fetch_size} %>
  </div>
  <%= javascript_tag "Iyxzone.Game.Presentor.init(#{@game.id}, #{@fetch_size});" %>
<% end %>

