<% content_for :javascript_include do %>
  <%= javascript_include_merged :game %>
<% end %>

<% content_for :html_title, "#{@game.name} - 主页 - 17Gaming.com" %>
<% content_for :html_description, "#{@game.name} - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@game.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :left do %>
  <%= render :partial => 'game_avatar' %>
  <div class="info-list">
	  <%= render :partial => 'game_info' %>
  </div>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'tag_panel' %>
	<%= render :partial => 'game_events' %>
	<%= render :partial => 'game_guilds' %>
<% end %>

<div class='box02 canvas_con'>
  <% unless @comrades.blank? %>
    <%= render :partial => 'comrade_suggestions' %>
  <% end %>
  <%= render :partial => 'player_suggestions' %>
  <%= render :partial => 'recent_albums' %>
  <%= render :partial => 'recent_blogs' %>
  <%= render :partial => 'game_feeds' %>
  <%= render :partial => 'user/wall_messages/wall_form', :locals => {:wall => @game, :recipient => nil, :with_comments => false} %>
  <div class="feed-box" id='comments'>
    <%= render :partial => 'user/wall_messages/wall_messages', :locals => {:messages => @messages} %>
  </div>
</div>

<% unless @reply_to.blank? %>
  <%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>
