<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>
  
<%= render :partial => 'menu' %>

<div id='participations'>
	<% if params[:type].to_i == 3 %>
		<%= render :partial => 'invitee', :collection => @participants %>
	<% elsif params[:type].to_i == 4 %>
		<%= render :partial => 'requestor', :collection => @participants %>
	<% else %>
		<%= render :partial => 'participant', :collection => @participants %>
	<% end %>
</div>

<%= will_paginate @participants %>
