<% subject = get_subject(@user) %>
<div class='fby'>
  <h3> Resources: </h3>
  <div id='menus'>
    <li><%= link_to "#{subject}的留言版" %></li>
    <li><%= link_to "#{subject}的档案" %></li>
    <li><%= link_to "#{subject}的照片", personal_albums_url(:id => @user.id) %></li>
    <li><%= link_to "#{subject}的博客", blogs_url(:id => @user.id) %></li>
    <li><%= link_to "#{subject}的视频", videos_url(:id => @user.id) %></li>
    <li><%= link_to "#{subject}的活动" %></li>
    <li><%= link_to "#{subject}的投票" %></li>
    <li><%= link_to "#{subject}的工会" %></li>
  </div>
</div>

