<% content_for :left do %>
	<%= render :partial => '/app_menu' %>
  <%= render :partial => 'search' %>
<% end %>

<div>
<%= guild_link @guild %> -> 工会成员
</div>

<%= render :partial => 'menu' %>

<div id='members'>
	<% if params[:type].to_i == 2 %>
		<%= render :partial => 'invitees', :object => @members %>
	<% elsif params[:type].to_i == 3 %>
		<%= render :partial => 'requestors', :object => @members %>
	<% else %>
		<%= render :partial => 'members', :object => @members %>
	<% end %>
</div>
