<% type = wall.class.to_s.underscore %>
<% recipient_id = recipient.nil? ? nil : recipient.id %>
<% id = wall.id %>

  <div class="formcontent s_clear">
    <% form_for :comment, :html => {:onsubmit => "Iyxzone.WallMessage.save('#{type}', #{id}, this); return false;"} do |f| %>
      <%= hidden_field_tag 'wall_type', wall.class.base_class.name %>
      <%= hidden_field_tag 'wall_id', id %>
      <%= hidden_field_tag 'comment[recipient_id]', recipient_id %>
      <div class="rows">
        <div class="textarea-wrap"><div class="textarea-wide">
          <%= f.text_area 'content', :class => 'textarea', :onfocus => "Iyxzone.limitText($(this),140, Iyxzone.WallMessage.checkLength);", :onblur => "Iyxzone.cancelLimitText($(this));" %>
        </div></div>
      </div>
      <div class="buttons">
        <span class="button"><span><button type='submit' id='submit_btn' >发布</button></span></span>
        <%= emotion_link 'comment_content', :class => 'icon-face' %>
        <span id='wall_words_count'>0/140</span>
      </div>
    <% end %>
  </div>
