<dd id='video_<%= video_item.id %>'>
  <span class='title'><%= video_link video_item %></span>
  <span class='option'>
    <%= ftime video_item.created_at %>
    <% if @user == current_user %>
      <%= link_to "编辑", edit_video_url(video_item) %>
      <%= facebox_confirm 'x', video_url(video_item), {:msg => "你确定要删除这个视频吗?", :method => :delete} %>
    <% end %>
  </span>
</dd>
