        <div class="page-foot s_clear">
          <div class="foot-func">
            <span class="w-l red">评论(<%= @video.comments_count %>)</span><span class="w-l">|</span>
            <span class="photo-op-praise" ></span><%= text_dig_link @video, :class => 'red' %>
          </div>
          <div class='s_clear rows'>
            <div class="feed-list">
              <%= dig_count_html @video %>
              <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @video, :recipient => @video.poster} %>
            </div>
          </div>
        </div>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.Comment.set('video', #{@video.id}, '#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>

