<% content_for :javascript_include do %>
  <%= javascript_include_merged :video %>
<% end %>

<% content_for :html_title, "#{current_user.login} - 新建视频 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login} - 新建视频 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
  <h1 class="app-video">视频</h1>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 1} %>
    <div class="appcontent01">
			<div class="cons-form formcontent">
        <%= error_messages_for :video, :header_message => '遇到以下问题，没法成功保存', :message => nil %>
        <% rows_form_for @video, :html => {:onsubmit => "Iyxzone.Video.Builder.save($('submit_btn'), this); return false;"} do |f| %>
          <%= f.text_field 'title', :label => '视频标题' %>
          <%= f.text_field 'video_url', :label => '视频URL', :id => 'video_url' %>
          <%= f.text_area 'description', :label => '视频介绍' %>
          <%= f.select 'privilege', privilege_options, {}, :label => '浏览权限', :class => "selector selector02" %>
          <%= render :partial => 'user/game_resources/control_panel', :locals => {:title => '相关游戏:', :z_index => 2} %>
          <%= render :partial => 'user/friend_tags/control_panel', :locals => {:title => '相关好友:', :z_index => 1} %>
          <%= f.submit '保存' => {:id => 'submit_btn', :type => 'submit'} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% onload_javascript_tag do %>
  Iyxzone.Video.Builder.init(10, [], 'toggle_button', 'friend_login', 'friend_list', 'friend-wrap', 'friend_items', 'game_selector', 'confirm_btn', 'cancel_btn', 10, [], 'game_name', 'rel_game_list'); 
<% end %>
