<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<%= render :partial => 'video/menu' %>

<div class='prev-next'>
<%= "共#{@user.videos.count}篇视频" %>
<%= link_to 'prev', video_url(@video.prev) %> |
<%= link_to 'next', video_url(@video.next) %> <br/>
</div>

<div class='video-view'>
  <div class='title'>
    <h3 style="width: 75%;"><%= @video.title %><span class='meta'><%= ftime @video.created_at %></span></h3>
    <div class='option'>
      <% if @user == current_user %>
      <%= link_to "编辑", edit_video_url(@video) %>
      <%= facebox_confirm "删除", video_url(@video), {:msg => '你确定要删除这个视频吗', :method => :delete} %>
      <% end %>
			<%= dig_link @video %>
		</div>
  </div>
  <div class='view'>
		<%= @video.thumbnail_url %>
    <%= @video.embed_html %>
  </div>
  <div id='friend_tags'>
  标签: <%= @video.tags.map { |t| profile_link t.tagged_user }.join(',') %>
  </div>
</div>

<%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @video, :recipient => @video.poster} %>
