<% content_for :html_title, "#{@user.login} - #{@video.title} - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login} - #{@video.title} - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :video %>
<% end %>

<% subject = get_subject @user %>

<% canvas_tag do %>
	<% if @user==current_user %>
    <h1 class="app-video">视频</h1>
	<% else %>
	  <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的视频"} %>
  <% end %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>
    <div class='detail-video'>
      <%= render :partial => 'video_path', :locals => {:count => @count, :next_video => @next, :prev_video => @prev} %>
      <%= render :partial => 'video_head', :locals => {:user => @user, :video => @video} %>
      <div class='con'>
        <%= @video.embed_html %>
		    <p class='space20'><%= simple_format h @video.description %></p>
      </div>
      <%= render :partial => 'video_foot', :locals => {:video => @video} %>
      <div class='page-foot s_clear'>
        <%= render :partial => 'user/resources/foot_func', :locals => {:resource => @video, :commentable => true, :diggable => true, :viewable => false, :comment_opts => {:commentable => @video, :recipient => @video.poster}, :reply_to => @reply_to} %>
        <%= render :partial => 'user/resources/randoms', :locals => {:title => "#{get_subject @user}的其他视频", :randoms => @random_videos} %>
      </div>
    </div>
  </div>
<% end %>
