<% content_for :html_title, "#{@user.login} - #{@video.title} - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login} - #{@video.title} - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% subject = get_subject @user %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
	  <% if @user==current_user %>
      <h1 class="app-video">视频</h1>
	  <% else %>
	    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的视频"} %>
    <% end %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>
      <div class='detail-video'>
        <%= render :partial => 'video_path' %>
        <%= render :partial => 'video_head' %>
        <div class='con'>
          <%= @video.embed_html %>
		      <p class='space20'><%= simple_format h @video.description %></p>
        </div>
        <%= render :partial => 'video_foot' %>
        <%= render :partial => 'video_func' %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
