<% content_for :javascript_include do %>
  <%= javascript_include_tag 'invitation' %>
<% end %>

<% content_for :html_title, "#{current_user.login}的投票邀请 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的投票邀请 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
	  <div class="friend-head space s_clear">
      <span class="left"><%= avatar @poll.poster, :class => "imgbox01" %></span>
      <p class="left">
        <strong><%= @poll.name %>投票邀请</strong><br/>
        <%= link_to '投票主页', poll_url(@poll), :class => 'red' %>
      </p>
    </div>
    <div class="box02 canvas_int">
      <div class="friend-box">
        <div class="appcontent01">
          <div class="friend-invite-head">
            <strong class="green">搜索好友</strong> 
            <%= text_field_tag 'search', '输入好友的名字', :class => 'ipt', :onclick => "this.clear();", :onfocus => "Iyxzone.Invitation.Builder.startObserving(this);", :onblur => "Iyxzone.Invitation.Builder.stopObserving();"%>
          </div>
          <div class="friend-invite-list">
          <% if @friends.blank? %>
            没有还没被邀请的好友
          <% else %>
            <div id='invitations'><%= render :partial => 'friends' %></div>
            <div class="rows s_clear">
              <%= button_to_function '', "Iyxzone.Invitation.Builder.submit($('invitation_form'))", :class => "button05 png" %>
            </div>
          <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div><div>

<% form_tag poll_invitations_url(@poll), :id => 'invitation_form' do %>
<% end %>
