<% content_for :javascript_include do %>
	<%= javascript_include_merged :guild %>
<% end %>

<% content_for :html_title, "一起游戏网-添加好友" %>

<div class="regist-box">
        <div class="regist-content">
        	<div class="actEx">
            	<div class="actExHead actExStep2">
                	<h1 class="s1">1.完善其他游戏</h1>
                	<h1 class="s2">2.找到游戏好友</h1>
                	<h1 class="s3">3.上传头像</h1>
                </div>
                <div class="actExInfo">
                    <p><strong>一起游戏网</strong> 是一个充满乐趣的大家庭，我们会帮助你熟悉和了解 <strong>一起游戏网</strong>，找到更多游戏中朋友，获得更多的乐趣。</p>
                </div>
                <!--好友-->
               <div class="actExFriend">
               	<h2 class="actExTitle">把你认识的人都加为好友，随时关注好友动态。</h2>
                <div class="actExCon fix">
                	<div class="d6-list s_clear">
                    <ul>
											<% @friend_suggestions.each do |f| %>
												<% f = f.suggested_friend %>
												<li>
													<%= avatar_image f, :size => :csmall, :class => "imgbox01" %>
													<p>
													<strong><%=f.login%></strong><br />
													<%= facebox_link '<span class="icon-friend02"></span>加为好友', new_friend_request_url(:friend_id => f.id), :class=>"red" %>
													</p>
												</li>
											<% end %>
										</ul>
									</div>
								</div>
								</div>

                <!--公会-->
               <div class="actExGuild">
               	<h2 class="actExTitle">加入/关注热门公会，寻找共同战斗的好友。</h2>
                <div class="actExCon fix">
                    <div class="starGuild">
														<% @guilds.each do |guild| %>
                            <div class="starItem fix">
                                <div class="starAvatar">
                                	<div class="con">
																		<%= album_cover_image guild.album, :class => "imgbox01" %>
                                  </div>
                                </div>
                                <div class="starCon">
                                    <ul>
                                      <li class="guildName"><%=guild.name%></li>
                                      <li>游戏：<%= server_location guild.game_server %></li>
                                      <li>成员：<%= guild.people_count %> </li>
																			<% if guild.is_requestable_by? current_user %>
																				<% if !guild.requestable_characters_for(current_user).blank? %>
																					<li><%= facebox_link '<span class="icon-friend02"></span>加入该公会', new_guild_request_url(guild), :class => 'red' %></li>
																				<% else %>
																					<li><%= facebox_tip '无法申请加入?', "你已经没有在该游戏的游戏角色，请查看该工会的游戏、服务器，然后创建相应的游戏角色，然后你就可以申请加入工会啦~", :class => 'red' %></li>
																				<% end %>
																			<% else %>
																			<% end %>
                                    </ul>
                                    <div class="op" id='follow_guild_<%= guild.id %>'>
																		<% attention = current_user.mini_topic_attentions.find_by_topic_name guild.name %>
																		<% if attention.blank? %>
																			<%= link_to_function "<span class='i iFollow'></span>关注", "Iyxzone.Guild.follow('#{guild.name}', #{guild.id});" %>
																		<% else %>
																			<%= link_to_function "<span class='i iNoFollow'></span>取消关注", "Iyxzone.Guild.unfollow(#{attention.id}, '#{guild.name}', #{guild.id});" %>
																		<% end %>
                                    </div>
																			<%= facebox_tip '', "关注后，可以快速的找到跟这个公会有关的话题~", :class => 'i iHelpTips' %>
																</div>
                            </div>
														<% end %>
                      </div>
                </div>
               </div>
                
								<!---->

                <!--名人-->
               <div class="actExFamous">
               	<h2 class="actExTitle">关注游戏名人，立即获取游戏名人的最新动态。</h2>
                <div class="actExCon fix">
									<div class="starMember">
										<%= render :partial => 'user/idols/idol', :collection => @idols %>
									</div>
                </div>
							 </div>
                <div class="actExFoot fix">
										<%= link_to "<span>下一步</span>", upload_avatar_url, :class=>"button" %>
                    <%= link_to '跳过', upload_avatar_url, :class => 'skip' %>
                  </div>
           </div>
    </div>
<div class="b">&nbsp;</div>    
</div>
