<html>
<head>
  <%= stylesheet_link_tag 'common' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'rating' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'iyxzone' %>
  <%= javascript_include_tag 'register' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag 'event.simulate' %>
  <%= javascript_include_tag 'game' %>
</head>
<body>
  <div id="container">
　　<div id="header">
			<div id='menu'>
				<%= link_to 'register', signup_url %> |
				<%= link_to 'login', login_url %> |
				<%= link_to_function "bookmark", "bookmark()" %> |
				<%= link_to_function "homepage", "homepage()" %> |
				<%= link_to 'help'%>
			</div>
　　</div>
    <div id='containter'>
　　  <div id="left">
        <% if flash[:notice] %>
          <div id='notice'><%= flash[:notice] %></div>
        <% end -%>
        <% if flash[:error] %>
          <div id='error'><%= flash[:error] %></div>
        <% end -%>
      </div>
　    <div id="middle">
<% form_for :user, :html => {:id => 'register_form'} do |f| -%>
<p>
  <label>Login</label><br/>
  <%= f.text_field :login, :onblur => "Iyxzone.Register.Manager.validateLogin()", :onfocus => "Iyxzone.Register.Manager.showLoginRequirement();" %>
  <a id='login_info'></a>
</p>

<p>
  <label>Email</label><br/>
  <%= f.text_field :email, :onblur => "Iyxzone.Register.Manager.validateEmail()", :onfocus => "Iyxzone.Register.Manager.showEmailRequirement();" %>
  <a id='email_info'></a>
</p>

<p>
  <%= f.radio_button 'gender', 'male' %> male
  <%= f.radio_button 'gender', 'female' %> female
</p>

<p>
  <label for="password">Password</label><br/>
  <%= f.password_field :password, :onblur => "Iyxzone.Register.Manager.validatePassword()", :onfocus => "Iyxzone.Register.Manager.showPasswordRequirement();"%>
  <a id='password_info'></a>
</p>

<p>
  <label for="password_confirmation">Confirm Password</label><br/>
  <%= f.password_field :password_confirmation, :onblur => "Iyxzone.Register.Manager.validatePasswordConfirmation()", :onclick => "Iyxzone.Register.Manager.showPasswordConfirmRequirement()" %>
  <a id='password_confirmation_info'></a>
</p>

<p> Game Characters: </p>
<h4>游戏信息, 你必须添加你玩过的游戏角色（至少一个）以完成注册</h4>
<div id='character_info'>
<%= link_to_function '添加游戏角色', "Iyxzone.Register.Manager.newCharacter();" %>
  <ul id='characters'>
  </ul>
</div>
<% end -%>

<%= link_to_function '注册', "Iyxzone.Register.Manager.submit()" %>

<%= javascript_tag "
  Iyxzone.Register.Manager.gameSelector = new Iyxzone.Game.PinyinSelector(#{array_or_string_for_javascript @games.map(&:pinyin).insert(0, '')}, 'character_game_id', 'character_area_id', 'character_server_id', 'character_race_id', 'character_profession_id', {});
" %>
<div id='info'></div>
		  </div>
    </div>
　　<div id="footer">
      Dayday3 Group: xiahong gao, xin xie
　　</div>
</div>
</body>
