<% content_for :left do %>
	<%= render :partial => '/app_menu' %>
<% end %>

<table class='mail-setting'>
<tr class='category' id='general'>
  <td><strong>应用设置</strong></td>
  <td></td>
</tr>
<tr>
  <td class='name'><%= link_to "日志", blogs_url(:id => current_user.id) %></td>
  <td class='check'><%= link_to "设置", edit_application_setting_url(:type => 0), :rel => 'facebox' %></td>
</tr>
<tr>
  <td class='name'><%= link_to "视频", videos_url(:id => current_user.id) %></td>
  <td class='check'><%= link_to "设置", edit_application_setting_url(:type => 1), :rel => 'facebox' %></td>
</tr>
<tr>
  <td class='name'><%= link_to "照片", personal_albums_url(:id => current_user.id) %></td>
  <td class='check'><%= link_to "设置", edit_application_setting_url(:type => 2), :rel => 'facebox' %></td>
</tr>
<tr>
  <td class='name'><%= link_to "投票", polls_url(:id => current_user.id) %></td>
  <td class='check'><%= link_to "设置", edit_application_setting_url(:type => 3), :rel => 'facebox' %></td>
</tr>
<tr>
  <td class='name'><%= link_to "活动", events_url(:id => current_user.id) %></td>
  <td class='check'><%= link_to "设置", edit_application_setting_url(:type => 4), :rel => 'facebox' %></td>
</tr>
<tr>
  <td class='name'><%= link_to "工会", guilds_url(:id => current_user.id) %></td>
  <td class='check'><%= link_to "设置", edit_application_setting_url(:type => 5), :rel => 'facebox' %></td>
</tr>
</table>
