<% content_tag :div, :class => 'edit-toggle space' do %>
  <% content_tag :h3, :class => "s_clear" do %>
    <% content_tag :strong, :class => "left" do %>基本信息<% end %>
    <% if profile.user == current_user %>
      <%= link_to_function '<span class="icon-active icon-active-edit w-l"></span>编辑', "Iyxzone.Profile.Editor.editBasicInfo(#{profile.id})", :class => 'right red' %>
    <% end %>
  <% end %>
  <% content_tag :div, :class => "formcontent con con2" do %>
    <% if profile.basic_info_viewable? relationship %>
      <% content_tag :div, :class => "item space" do %>
        <% rows_s_clear '昵称: ' do %><%= h profile.login %><% end %>
        <% rows_s_clear '性别: ' do %><%= gender profile.user %><% end %>
        <% rows_s_clear '生日: ' do %><%= ftime2 profile.birthday %><% end %>
        <% rows_s_clear '地址: ' do %>
          <%= profile.region.name unless profile.region.nil?%> 
          <%= profile.city.name unless profile.city.nil?%> 
          <%= profile.district.name unless profile.district.nil? %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
