<div class="rows s_clear">
  <div class="id">昵称：</div> 
  <div class="left"><%= @user.login %></div>
</div>
<div class="rows s_clear">
  <div class="id">性别：</div>
  <div class="left"><%= gender @user %></div>
</div>
<div class="rows s_clear">
  <div class="id">生日：</div>
  <div class="left"><%= ftime2 @profile.birthday %></div>
</div>
<div class="rows s_clear">
  <div class="id">地址：</div>
  <div class="left">
    <%= @profile.region.name unless @profile.region.nil?%> <%= @profile.city.name unless @profile.city.nil?%> <%= @profile.district.name unless @profile.district.nil? %>
  </div>
</div>
