<div class="edit-toggle space">
  <h3 class="s_clear">
    <strong class="left">联系信息</strong>
    <% if profile.user == current_user %>
      <%= link_to_function '<span class="icon-active icon-active-edit w-l"></span>编辑', "Iyxzone.Profile.Editor.editContactInfo(#{profile.id})", :class => 'right red' %>
    <% end %>
  </h3>
  <div class="formcontent con con2">
    <div class="item space">
      <% if setting.email? relationship %>
        <% rows_s_clear '邮件: ' do %><%= profile.user.email %><% end %>
      <% end %>
      <% if setting.qq? relationship %>
        <% rows_s_clear 'QQ号码: ' do %><%= profile.qq %><% end %>
      <% end %>
      <% if setting.phone? relationship %>
        <% rows_s_clear '电话: ' do %><%= profile.phone %><% end %>
      <% end %>
      <% if setting.website? relationship %>
        <% rows_s_clear '个人网页: ' do %><%= profile.website %><% end %>
      <% end %>
    </div>
  </div>
</div>
