<% region = @profile.region %>
<% city = @profile.city %>
<% form_for :profile, :html => {:id => 'basic_info_form'} do |f| %>
<div class="rows s_clear">
  <div class="id">昵称：</div>
  <div class="left"><%= f.text_field 'login' %></div>
</div>
<div class="rows s_clear">
  <div class="id">性别：</div>
  <div class="left"><%= gender_select_tag @profile %></div>
</div>
<div class="rows s_clear">
  <div class="id">生日：</div>
  <div class="left"><%= calendar_date_select :profile, :birthday %></div>
</div>
<div class="rows s_clear">
  <div class="id">省份：</div>
  <div class="left"><%= collection_select :profile, :region_id, Region.all, :id, :name, {:prompt => '---'} %></div>
</div>
<div class="rows s_clear">
  <div class="id">城市：</div>
  <div class="left"><%= collection_select :profile, :city_id, region.nil? ? [] : region.cities, :id, :name, {:prompt => '---'} %></div>
</div>
<div class="rows s_clear">
  <div class="id">地区：</div>
  <div class="left"><%= collection_select :profile, :district_id, city.nil? ? [] : city.districts, :id, :name, {:prompt => '---'}%></div>
</div>
<div class="rows s_clear">
  <div class="id"></div>
  <div class="left">
    <%= button_to_function '保存', "Iyxzone.Profile.Editor.updateBasicInfo(#{@profile.id}, this);" %>
    <%= link_to_function "取消", "Iyxzone.Profile.Editor.cancelEditBasicInfo();" %>
  </div>
</div>
<% end %>
