<% @games = Game.find(:all, :order => 'pinyin ASC').insert(0, Game.new(:id => '---', :name => '---')) %>
<% javascript_tag do %>
  Iyxzone.Game.infos = <%= game_infos %>;
<% end %>

<div class="edit-toggle space edit">
  <h3 class="s_clear">
    <strong class="left">游戏角色信息</strong>
    <%= link_to_function "取消", "Iyxzone.Profile.Editor.cancelEditCharacters(#{@profile.id})", :class => 'right' %>
  </h3>
  <div class="formcontent con con2">
    <% form_for :profile, :html => {:onsubmit => "Iyxzone.Profile.Editor.updateCharacters(#{@profile.id}, this, $('characters_submit_btn')); return false;"} do |f| %>
      <div class="item space" id='user_characters'>
        <% @profile.user.characters.each do |character| %>
          <% fields_for "profile[existing_characters][]", character do |c| %>
            <div id='existing_characters_<%= character.id %>'>
              <div class="rows s_clear">
                <div class="fldid"><label>名字：</label></div>
                <div class="fldvalue">
                  <div class="textfield"><%= c.text_field :name, :onblur => "Iyxzone.Profile.Editor.isCharacterNameValid(#{character.id}, 0)", :disabled => true %></div>
                </div>
                <span class='red' id='existing_characters_<%= character.id %>_name_error'></span>
              </div>
              <div class="rows s_clear">
                <div class="fldid"><label>等级：</label></div>
                <div class="fldvalue">
                  <div class="textfield"><%= c.text_field :level, :onblur => "Iyxzone.Profile.Editor.isCharacterLevelValid(#{character.id}, 0)" %></div>
                </div>
                <span class='red' id='existing_characters_<%= character.id %>_level_error'></span>
              </div>
              <div class="rows s_clear">
                <div class="fldid"><label>游戏：</label></div>
                <div class="fldvalue">
                  <div><%= c.collection_select :game_id, [character.game], :id, :name, {}, :disabled => true %></div>
                </div>
                <span class='red' id='existing_characters_<%= character.id %>_game_id_error'></span>
              </div>
              <div class="rows s_clear">
                <div class="fldid"><label>服务区：</label></div>
                <div class="fldvalue">
                  <div><%= c.collection_select :area_id, character.game.no_areas ? [] : [character.area], :id, :name, {}, :disabled => true %></div>
                </div>
                <span class='red' id='existing_characters_<%= character.id %>_area_id_error'></span>
              </div>
              <div class="rows s_clear">
                <div class="fldid"><label>服务器：</label></div>
                <div class="fldvalue">
                  <div><%= c.collection_select :server_id, [character.server], :id, :name, {}, :disabled => true %></div>
                </div>
                <span class='red' id='existing_characters_<%= character.id %>_server_id_error'></span>
              </div>
              <div class="rows s_clear">
                <div class="fldid"><label>种族：</label></div>
                <div class="fldvalue">
                  <div><%= c.collection_select :race_id, character.game.no_races ? [] : [character.race], :id, :name, {}, :disabled => true %></div>
                </div>
                <span class='red' id='existing_characters_<%= character.id %>_race_id_error'></span>
              </div>
              <div class="rows s_clear">
                <div class="fldid"><label>职业：</label></div>
                <div class="fldvalue">
                  <div><%= c.collection_select :profession_id, character.game.no_professions ? [] : [character.profession], :id, :name, {:prompt => '---'}, :disabled => true %></div>
                </div>
                <span class='red' id='existing_characters_<%= character.id %>_profession_id_error'></span>
              </div>
              <div class="rows s_clear">
                <div class="fldid"><label>正在玩：</label></div>
                <div class="fldvalue">
                  <div><%= c.check_box :playing %></div>
                </div>
              </div>
            <% end %>
            <p class='foot s_clear'>
              <% if character.is_locked? %>
                <%= facebox_tip "无法删除游戏角色", "无法删除该游戏角色，因为该角色可能是某活动的组织者或者是某工会的会长。请先删除活动或工会，然后才能删除该角色", :class => 'right red' %>
              <% else %>
                <%= link_to_function "删除角色", "Iyxzone.Profile.Editor.removeCharacter(#{character.id}, 0, this)", :class => 'right red', :href => "javascript:void(0);" %>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
      <div id='new_character_loading'></div>
      <p class="foot s_clear"><%= link_to_function '增加新角色', "Iyxzone.Profile.Editor.newCharacter();", :class => "left red" %></p>
      <div class="rows s_clear space">
        <div class="fldid">&nbsp;</div>
        <div class="fldvalue">
          <span class="button"><span>
            <button type='submit' id='characters_submit_btn'>完成</button>
          </span></span>
          <span class="button button-gray"><span>
            <%= button_to_function '取消', "Iyxzone.Profile.Editor.cancelEditCharacters(event)", :type => 'reset' %>
          </span></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
