<div class="alphaColum">
	<div class="ac-r-t"><em></em></div>
		<div class="ac-r-m fix">
			<div class="alphaTitle fix"><div class="wrap">
			<% if user == current_user %>
				<strong>我的好友</strong>
			<% else %>
				<strong>TA的好友</strong>
			<% end %>
			<%= link_to_function '', "$('profile-friends-wrap').toggle()", :class=>"op i iArrUnFold"%></div></div>
			<div id='profile-friends-wrap'>
				<div class="ac-bd">
					<ul class="memberList fix">
						<% friends.each do |u| %>
							<li>
								<a href="#"><%= avatar u, :class => 'imgbox01' %></a>
								<%= profile_link u, :class=>"memberName" %>
							</li>
						<% end %>
					</ul>
					<% if user == current_user %>
						<div class="ac-ft"><%= facebox_link "查看全部>>", friends_url() %></div>
					<% else %>
						<div class="ac-ft"><%= facebox_link "查看全部>>", other_friends_url(:uid => user.id) %></div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="ac-r-b"><em></em></div>
</div>

