<% delivery = game_character_feed_delivery %>
<% item = delivery.feed_item %>
<% character = item.originator %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-game', :delivery => delivery} do %>
  <% if item.data[:type] == 0 %>
    <p><%= profile_link character.user %> 创建了游戏角色 <%= link_to character.name, edit_profile_url(character.user.profile) %></p>
  <% elsif item.data[:type] == 1 %>
    <p><%= profile_link character.user %> 放弃了游戏角色 <%= link_to character.name, edit_profile_url(character.user.profile) %></p>
  <% elsif item.data[:type] == 2 %>
    <p><%= profile_link character.user %> 开始玩游戏角色 <%= link_to character.name, edit_profile_url(character.user.profile) %></p>
  <% end %>
	<p class='gray'><%= ftime delivery.created_at %></p>
<% end %>
