<% delivery = news_sharing_feed_delivery %>
<% sharing = delivery.feed_item.originator %>
<% news = sharing.shareable %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-news', :delivery => delivery} do %>
  <p><%= profile_link sharing.poster%> 分享了新闻 <%= news_link news, :class => 'shine'%></p>
  <p class='gray'><%= ftime delivery.created_at %><%= link_to_function '评论', "Iyxzone.Comment.showForm('sharing', #{sharing.id}, null, #{sharing.poster_id})" %></p>
	<%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => sharing, :recipient => sharing.poster} %>
<% end %>
