<div class="acTop">
	<div class="acMemberInfo"><h2 class="memberName"><%= user.login%></h2></div>
	<div class="acNav">
		<ul>
			<li class="selected" id='tab_home'><%= link_to_function '<span class="home"></span><strong>主页</strong>', "Iyxzone.Profile.changeTab('home')" %></li>
			<li id='tab_info'><%= link_to_function '<span class="info"></span><strong>档案</strong>', "Iyxzone.Profile.changeTab('info')" %></li>
			<li id='tab_feed'><%= link_to_function '<span class="feed"></span><strong>新鲜事</strong>', "Iyxzone.Profile.changeTab('feed')" %></li>
			<li id='tab_poll'><%= link_to_function '<span class="poll"></span><strong>投票</strong>', "Iyxzone.Profile.changeTab('poll')" %></li>
			<li id='tab_photo'><%= link_to_function '<span class="photo"></span><strong>照片</strong>', "Iyxzone.Profile.changeTab('photo')" %></li>
			<li id='tab_blog'><%= link_to_function '<span class="blog"></span><strong>日志</strong>', "Iyxzone.Profile.changeTab('blog')" %></li>
			<li id='tab_video'><%= link_to_function '<span class="video"></span><strong>视频</strong>', "Iyxzone.Profile.changeTab('video')" %></li>
		</ul>
	</div>
</div>
