<% delivery = topic_sharing_feed_delivery %>
<% sharing = delivery.feed_item.originator %>
<% topic = sharing.shareable %>

<% render :layout => 'user/profiles/feed_delivery', :locals => {:icon_type => 'icon-blog'} do %>
  <p><%= profile_link sharing.poster %> 分享了公会 <%= link_to topic.forum.guild.name, forum_topic_url(topic.forum, topic), :class => 'shine' %> 的话题</p>
  <p class='gray'><%= truncate topic.subject, :length => 80, :omission => '...' %></p>
  <p class='gray'><%= ftime delivery.created_at %> <%= link_to_function '评论', "Iyxzone.Comment.showForm('sharing', #{sharing.id}, null, #{sharing.poster_id})" %></p>
  <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => sharing, :recipient => sharing.poster} %>
<% end %>
