<% content_for :html_title, "#{@user.login} - 个人资料 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的个人资料 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :profile %>
<% end %>

<% canvas_tag do %>
  <% if @user == current_user %>
    <h1 class="app-archives">档案</h1>
  <% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的个人主页"} %>
  <% end %>
  <div class="box02 canvas_int space">
    <div class="archives-box">
      <%= render :partial => 'profile_completeness', :locals => {:user => @user, :profile => @profile} %>
      <div id='basic_info_frame'>
        <%= render :partial => 'basic_info', :locals => {:profile => @profile, :setting => @setting, :relationship => @relationship} %>
      </div>
      <div id='contact_info_frame'>
        <%= render :partial => 'contact_info', :locals => {:profile => @profile, :setting => @setting, :relationship => @relationship} %>
      </div>
      <div id='character_frame'>
        <%= render :partial => 'characters', :locals => {:profile => @profile, :setting => @setting, :relationship => @relationship } %>
      </div>
    </div>
  </div>
<% end %>
