<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'chinese_region' %>
<%= javascript_include_tag 'profile' %>
<%= javascript_include_tag 'event.simulate' %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
<div class="round_m"><div class="round_body">
<% if @user == current_user %>
<h1 class="app-archives">档案</h1>
<% else %>
<%= avatar @user %><h1><%= profile_link @user %>的档案</h1>
<% end %>
<div class="box02 canvas_int">
  <div class="archives-box">
    <div class="percent-box">
      <h3>档案完成度：</h3>
      <div class="percent">
        <span style="width:43%"></span>
      </div>
      <div class="left">100%</div>
      <div class="right">
        <ul><li><a href="#">编辑个人档案</a></li></ul>
      </div>
    </div>
    <div class="archives-info" id='basic_info'>
      <div class='archives-info head'>
      <h3>基本信息</h3>
      <% if @user == current_user %>
      <div class='right'>
        <%= link_to_function '编辑', "Iyxzone.Profile.Editor.editBasicInfo(#{@profile.id})" %>
      </div>
      <% end %>
      </div>
      <% if @setting.basic_info_viewable_by? current_user %>
      <div><%= render :partial => 'basic_info' %></div>
      <% end %>
    </div>
    <div class="archives-info" id='contact_info'>
      <div class='archives-info head'>
      <h3>联系信息</h3> 
      <% if @user == current_user %>
      <div class='right'>
        <%= link_to_function '编辑', "Iyxzone.Profile.Editor.editContactInfo(#{@profile.id})" %>
      </div>
      <% end %>
      </div>
      <div><%= render :partial => 'contact_info' %></div>
    </div>
    <div class="archives-info" id='character_info'>
      <div class='archives-info head'>
      <h3>游戏信息</h3>
      <% if @user == current_user %>
      <div class='right'>
        <%= link_to_function '增加游戏角色', "Iyxzone.Profile.Editor.newCharacterInfo()" %>
      </div>
      <% end %>
      </div>
      <ul id='characters'>
        <%= render :partial => 'user/characters/character', :collection => @user.characters %>
      </ul>
    </div>
  </div>
</div>
<div id='info'></div>
</div></div>
</div></div></div></div>

<%= javascript_tag "
  Iyxzone.Profile.Editor.gameSelector = new Iyxzone.Game.PinyinSelector(#{array_or_string_for_javascript @games.map(&:pinyin).insert(0, '')}, 'character_game_id', 'character_area_id', 'character_server_id', 'character_race_id', 'character_profession_id', {});
" %>
