<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'chinese_region' %>
<%= javascript_include_tag 'profile' %>
<%= javascript_include_tag 'event.simulate' %>

<% content_for :left do %>
  <%= render :partial => 'menu' %>
<% end %>

<div class='head'>
<% if @user == current_user %>
  <h3>我的档案</h3>
<% else %>  
  <h3 class='user'>
    <%= avatar @user %><br/>
    <%= profile_link @user %>的档案
  </h3>
<% end %>
</div>

<div class='body'>
  <div id='basic_info' class='section'>
    <div class='section-header'>
      基本信息
      <% if @user == current_user %>
        <%= link_to_function '(编辑)', "Iyxzone.Profile.Editor.editBasicInfo(#{@profile.id})" %>
      <% end %>
    </div>
    <div class='section-body'>
			<%= render :partial => 'basic_info' %>
    </div>
  </div>
  <div id='contact_info' class='section'>
    <div class='section-header'>
      联系信息
      <% if @user == current_user %>
        <%= link_to_function '(编辑)', "Iyxzone.Profile.Editor.editContactInfo(#{@profile.id})" %>
      <% end %>
    </div>
    <div class='section-body'>
			<%= render :partial => 'contact_info' %>
    </div>
  </div>
  <div id='character_info' class='section'>
    <div class='section-header'>
      游戏信息
      <% if @user == current_user %>
        <%= link_to_function '(增加)', "Iyxzone.Profile.Editor.newCharacterInfo();" %>
      <% end %> 
    </div>
    <div class='section-body'>
			<ul id='characters'>
				<%= render :partial => 'user/characters/character', :collection => @user.characters %> 
			</ul>
		</div>
  </div>
</div>
<div id='info'></div>
<%= javascript_tag "
  Iyxzone.Profile.Editor.gameSelector = new Iyxzone.Game.PinyinSelector(#{array_or_string_for_javascript @games.map(&:pinyin).insert(0, '')}, 'character_game_id', 'character_area_id', 'character_server_id', 'character_race_id', 'character_profession_id', {});
" %>
