<% content_for :html_title, "#{@user.login} - 个人主页 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的个人主页 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% if !@skin.default? %>
<% content_for :stylesheet_link do %>
  <%= stylesheet_link_tag "themes/#{@skin.name}/#{@skin.css}" %>
<% end %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :profile %>
  <%= javascript_include_tag 'sound' %>
<% end %>

<% content_for :left do %>
  <%= render :partial => 'user/profiles/avatar' %>
	<%= render :partial => 'user/profiles/operations' %>
	<%= render :partial => 'user/profiles/menu' %>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'user/profiles/character_infos' %>
  <%= render :partial => 'user/profiles/tag_panel' %>
  <%= render :partial => 'user/profiles/recent_visitors' %>
  <% unless @user == current_user %>
    <%= render :partial => 'user/profiles/common_friends' %>
  <% end %>
  <%= render :partial => 'user/profiles/friends' %>
<% end %>

<div class="box02 canvas_con">
  <%= render :partial => 'user/profiles/about_me' %>
  <%= render :partial => 'user/profiles/recent_albums' %>
  <%= render :partial => 'user/profiles/recent_blogs' %>
  <%= render :partial => 'user/profiles/feed_deliveries' %>
  <% if @profile.is_commentable_by? current_user %>
    <%= render :partial => 'user/wall_messages/wall_form', :locals => {:wall => @profile, :recipient => @profile.user} %>
  <% else %>
    <div class="bookbox"><h3><label for="book">留言板</label>(共<%= @profile.comments_count %>条留言)</h3></div>
  <% end %> 
  <% if @profile.is_comment_viewable_by? current_user %>
    <div class='feed-box' id='comments'><%= render :partial => 'user/wall_messages/wall_messages', :locals => {:messages => @messages} %></div>
  <% end %>
</div>

<% unless @reply_to.nil? %>
  <%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id})" %>
<% end %>
