<%= stylesheet_link_tag 'tag_cloud' %>
<%= stylesheet_link_tag 'test' %>
<%= javascript_include_tag 'chinese_region' %>
<%= javascript_include_tag 'profile' %>

<% content_for :left do %>
	<div class="mcAvatar">
		<a href="#"></a>
	  <div class="picwrap">
			<div class="middle"><div class="middle-center"><div class="center" id='avatar'>
				<%= avatar @user, :size => :large %>
			</div></div></div>
	  </div>
	</div>
	<div class="avatarbox">
		<%= render :partial => 'operations' %>
	</div>
	<div class="profile-list menu-icon-list">
		<%= render :partial => 'menu' %>
	</div>
<% end %>

<% content_for :right do %>
<div class="multibox">
	<div class="title">
		<%= link_to "更多", edit_profile_url(@profile) %>
		<b>游戏人物资料</b>
  </div>
  <table class="data-table">
		<tr>
			<th>游戏名称</th>
      <th>玩家昵称</th>
      <th>等级</th>
    </tr>
		<% @user.characters.each do |c| %>
    <tr>
			<td><%= game_link c.game %></td>
      <td><%= c.name %></td>
      <td><%= c.level %></td>
    </tr>
		<% end %>
  </table>
</div>

<div class='multibox'>
	<div class='title' id='tag_cloud_head'>
	<% if @user == current_user %>
		<b>大家对你的印象是</b>
	<% elsif @taggable %>
		<b>你对他的印象是</b>
	<% else %>
		<b>好友印象</b>
	<% end %>
	</div>
	<div id='tag_cloud'> 
  <% if @user == current_user %>
    <%= render :partial => 'user/profiles/tags/tag_cloud' %>
  <% elsif @taggable %>
    <%= render :partial => 'user/profiles/tags/profile_tag' %>
    <% form_remote_for :tag, :url => profile_tags_url(@profile) do |f| %>
      都不贴切？自己想个<br/>
      <%= f.text_field 'name' %>
      <%= f.submit '提交' %>
    <% end %>
  <% else %>
    <%= render :partial => 'profile/tags/tag_cloud' %>
  <% end %>
	</div>
</div>

<div class="multibox">
  <div class="title">
      <%= facebox_link "更多", profile_viewings_url(@profile) %>
    <b>最近来访</b>
  </div>
  <div class="photolist-box">
    <ul class="collection s_clear">
      <% @profile.viewings.each do |r| %>
        <li>
          <div class="middle"><div class="middle-center"><div class="center"><a href="#"><%= avatar r.viewer, :class => 'imgbox01' %></a></div></div></div>
          <p><%= profile_link r.viewer %></p>
          <p class="btns"></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>

<div class="box03 tipbar">
<% if @user != current_user and @profile.about_me.blank? %>
	<span>这家伙很懒，什么都没说...</span>
<% else %>
	<%= in_place_text_field :span, @profile, :about_me, @user == current_user, profile_url(@profile), {}, {:empty_text => '介绍下自己?', :rows => 2, :cols => 71}, {} %>
<% end %>
</div>

<div class="box02 canvas_con">

<div class="multibox">
	<div class="title"><b>最近照片</b></div>
  <div class="piclist s_clear">
		<% @albums.each do |album| %>
				<div class="picitem">
					<div class="picbox01">
						<a class="btn" href="#"></a>
						<div class="picwrap">
							<table cellpadding="0">
								<tr><td><%= album_cover album, :class => 'imgbox01' %></td></tr>
							</table>          
						</div>
					</div>
					<p><b><%= album_link album %></b></p>
					<% if album.uploaded_at.blank? %>
						<p>于 <span><%= ftime album.created_at %></span> 创建</p>
					<% else %>
						<p>于 <span><%= ftime album.uploaded_at %></span> 更新</p>
					<% end %>
      </div>	
		<% end %>	
		<div class="diary-more">
			<%= link_to '全部相册', personal_albums_url(:id => @user.id) %>
		</div>
	</div>
</div>

<div class="multibox">
	<div class="title"><b>最近日志</b></div>
	<% @blogs.each do |blog| %>
		<div class="diary-box">
			<div class="diary-header">
				<p><%= blog_link blog %> <%= ftime blog.created_at %> </p>
			</div>
			<p> <%= truncate blog.content, :length => 80, :omission => '...' %> </p>
		</div>
	<% end %>
  <div class="diary-more">
		<%= link_to '全部日志', blogs_url(:id => @user.id) %>
  </div>
</div>

<div class='multibox'>
	<div class='title'><b>新鲜事</b></div>
  <div class="feed-wrap" id='feed_list'>
		<%= render :partial => 'feed_deliveries', :object => @feed_deliveries %>
	</div>
	<div id='more_feed'>
		<span><%= link_to_function "更多新鲜事", "Iyxzone.Profile.Feeder.moreFeeds(#{@profile.id});" %></span>
	</div>
</div>

<% if @can_reply %>
  <%= render :layout => 'user/wall_messages/wall', :locals => {:wall => @profile, :recipient => @profile.user} %>
<% end %>
<% if wall_viewable? %>
  <div class='feed-box' id='comments'>
    <%= render :partial => 'user/wall_messages/wall_message', :collection => @comments %>
  </div>
<% end %>

</div>

<% if wall_viewable? and params[:reply_to] %>
<%= javascript_tag "
	set_wall_box('#{@reply_to.login}', #{@reply_to.id})
" %>
<% end %>
