<% content_for :html_title, "#{@user.login} - 个人主页 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的个人主页 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% if !@skin.default? %>
<% content_for :stylesheet_link do %>
  <%= stylesheet_link_tag "themes/#{@skin.directory}/#{@skin.css}" %>
<% end %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :profile %>
  <%= javascript_include_tag 'sound' %>
<% end %>

<% content_for :left do %>
  <% mc_avatar do %>
    <%= avatar_image @user, :size => 'clarge' %>
  <% end %>
  <% if @user != current_user and @user.is_idol and !@user.has_fan?(current_user) %>
    <%= render :partial => 'follow_idol', :locals => {:user => @user} %>
  <% end %>
	<%= render :partial => 'user/profiles/operations', :locals => {:profile => @profile, :user => @user, :relationship => @relationship} %>
	<%= render :partial => 'user/profiles/menu', :locals => {:profile => @profile, :user => @user, :relationship => @relationship} %>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'user/profiles/character_infos', :locals => {:characters => @characters} %>
  <%= render :partial => 'user/profiles/tag_panel', :locals => {:user => @user, :profile => @profile} %>
  <% unless @viewings.blank? %>
    <%= render :partial => 'user/profiles/recent_visitors', :locals => {:viewings => @viewings, :profile => @profile} %>
  <% end %>
  <% unless @common_friends.blank? %>
    <%= render :partial => 'user/profiles/common_friends', :locals => {:friends => @common_friends, :user => @user} %>
  <% end %>
  <% unless @friends.blank? %>
    <%= render :partial => 'user/profiles/friends', :locals => {:friends => @friends, :user => @user} %>
  <% end %>
  <% if @user.is_idol and !@fans.blank? %>
    <%= render :partial => 'user/profiles/fans', :locals => {:fans => @fans, :user => @user} %>
  <% end %>
<% end %>

<div class="box02 canvas_con">
  <%= render :partial => 'user/profiles/about_me', :locals => {:user => @user, :profile => @profile} %>
  <%= render :partial => 'user/profiles/recent_mini_blogs', :locals => {:user => @user, :mini_blogs => @mini_blogs} %>
  <%= render :partial => 'user/profiles/recent_albums', :locals => {:user => @user, :profile => @profile, :albums => @albums} %>
  <%= render :partial => 'user/profiles/recent_blogs', :locals => {:user => @user, :profile => @profile, :blogs => @blogs} %>
  <%= render :partial => 'user/profiles/feed_list', :locals => {:profile => @profile, :feed_deliveries => @feed_deliveries, :first_fetch_size => @first_fetch_size} %>
  <div class="bookbox"><h3><label for="book">留言板</label>(共<%= @profile.comments_count %>条留言)</h3></div>
  <%= render :partial => 'user/wall_messages/wall', :locals => {:wall => @profile, :recipient => @profile.user, :messages => @messages} %>
</div>

<% unless @reply_to.nil? %>
  <%= onload_javascript_tag "Iyxzone.WallMessage.set('#{@reply_to.login}', #{@reply_to.id})" %>
<% end %>
