<li id='friend_suggestion_<%= nicer_friend_suggestion.id %>' suggestion_id=<%= nicer_friend_suggestion.id %>>
  <% f = nicer_friend_suggestion.suggested_friend %>
  <%= avatar f, :size => :csmall, :class => "imgbox01" %>
  <%= link_to_function '', "Iyxzone.Friend.Suggestor.newSuggestion(#{nicer_friend_suggestion.id}, '#{form_authenticity_token}', 1)", :class => 'right icon-active icon-active-del' %>
  <p>
    <%= link_to "<strong>#{h f.login}</strong>", profile_url(f.profile) %>
    <br/>
    <%= facebox_link "<span class='icon-friend02'></span>加为好友", new_friend_request_url(:friend_id => f.id), :class => "red" %>
  </p>
</li>
