<% content_for :javascript_include do %>
  <%= javascript_include_merged :search %>
<% end %>

<% content_for :html_title, "#{current_user.login} - 同服战友 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}同服战友 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body">
		<h1 class="app-friend">好友</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab' %>
			<div class="friend-box">
				<div class="box02 appcontent01">
					<div class='d6-head'><strong class='gray'>你在<%= server_location @server %>可能认识的人</strong></div>
          <div class="piclist-rows cmt-space">
            <table cellspacing='0' cellpadding='0'>
              <% @comrade_suggestions.each do |suggestion| %>
                <%= render :partial => 'user_item', :locals => {:user => suggestion.comrade, :characters => suggestion.comrade.characters.select{|c| c.server_id == @server.id}} %>
              <% end %>
            </table>
            <div class="space s_clear">
              <%= will_paginate @comrade_suggestions %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div></div>
</div></div></div></div>
