<% content_for :javascript_include do %>
  <%= javascript_include_merged :search %>
<% end %>

<% content_for :html_title, "#{current_user.login} - 寻找好友 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}寻找好友 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body">
		<h1 class="app-friend">好友</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'user/friends/tab', :locals => {:hover => 1} %>
			<div class="friend-box">
				<div class="box02 appcontent01 jl-friend-search">
          <%= render :partial => 'search_by_login' %>
          <%= render :partial => 'search_by_character' %>
          <%= render :partial => 'search_by_email_msn' %>
				</div>
        <% unless @friend_suggestions.blank? %>
          <%= render :partial => 'friend_suggestion_box', :locals => {:friend_suggestions => @friend_suggestions} %>
        <% end %>
				<% @comrade_suggestions.each do |server_id, suggestions| %>
					<% unless suggestions.count == 0 %>
            <%= render :partial => 'comrade_suggestion_box', :locals => {:server_id => server_id, :suggestions => suggestions} %>
					<% end %>
				<% end %>
      </div>
    </div>
	</div></div>
</div></div></div></div>
