<%= javascript_include_tag 'status' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<% subject = get_subject @user %>

<%= link_to "#{subject}的状态", statuses_url(:id => @user.id) %> |
<% if @user == current_user %>
  <%= link_to "好友的状态", friends_statuses_url %>
<% end %>

<% if @user == current_user %>
<div class='status-update'>
  <h3 class="currentStatus">你正在干嘛？</h3>
  <div class='status-edit'>
  <% form_remote_for :status, :html => {:id => 'status_form'} do |f| %>
    <%= hidden_field_tag 'home', 0 %>
    <%= f.text_area 'content', :cols => 50, :rows => 3, :onkeyup => "limit_words_of_textarea(this, 140, 'words_count');" %>
    <%= button_to_function '提交', "Iyxzone.Status.Builder.save(this)", :class => 'confirm-button' %><br/>
  <% end %>
  </div>
  <div id="words_count" class="status-count">0/140</div>
  <div><%= emotion_link 'status_content' %></div>
</div>
<% end %>

<%= "共#{@user.statuses_count}个状态" %>
<div class='status-list'>
<ul id='statuses'>
  <%= render :partial => 'status', :collection => @statuses %> 
</ul>
</div>

<%= will_paginate @statuses %>

<% if @user == current_user and params[:reply_to] %>
<script type="text/javascript">
  set_comment_box('status', <%= @status.id %>, '<%= @reply_to.login %>', <%= @reply_to.id %>);
</script>
<% end %>

