<div class='header'>
  <h3>删除新相册</h3>
</div>

<% form_remote_for :album, :url => personal_album_url(@album), :method => :delete do |f| %>
  <div class='content'>
    <% if @album.photos_count == 0 %>
      你确实是否要删除这个相册吗
    <% else %>
      如果确定删除，请选择专辑中的照片如何处理：
      <%= radio_button_tag 'migration', 0, true %>将照片一起删除<br/>
      <%= radio_button_tag 'migration', 1, false %>将照片转移到<%= collection_select :album, :id, @user.albums.delete_if {|a| a == @album}, :id, :title %>
    <% end %>
  </div>
  <div class='footer'>
    <%= f.submit '确定', :class => 'confirm-button' %>
    <%= button_to_function '取消', "facebox.close()", :class => 'cancel-button' %>
  </div>
<% end %>
