<% content_for :javascript_include do %>
  <%= javascript_include_tag 'guild_rule' %>
<% end %>

<% content_for :html_title, "#{@guild.name}的规则管理 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的规则管理 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<h3>出勤规定</h3>
<div id='attendance_rule'>
<%= render :partial => 'attendance_rule' %>
</div>
<h3>Boss得分</h3>
<div id='boss_rule'>
<%= render :partial => '/user/guilds/bosses/boss' %>
</div>
<h3>装备基本分</h3>
<div id='gear_rule'>
<%= render :partial => '/user/guilds/gears/gear' %>
</div>
<h3>基本规定</h3>
<div id='basic_rule'>
<%= render :partial => 'basic_rule' %>
</div>
