  <div class="tab tab01">
    <ul id='feed_menu'>
      <li class='hover'><span><%= link_to_function "新鲜事", "Iyxzone.Home.Feeder.showFeeds();" %></span></li>
      <li><span><%= link_to_function "状态", "Iyxzone.Home.Feeder.showFeeds(0);" %></span></li>
      <li><span><%= link_to_function "日志", "Iyxzone.Home.Feeder.showFeeds(1);" %></span></li>
      <li><span><%= link_to_function "照片", "Iyxzone.Home.Feeder.showFeeds(2);" %></span></li>
      <li><span><%= link_to_function "视频", "Iyxzone.Home.Feeder.showFeeds(3);" %></span></li>
      <li><span><%= link_to_function "分享", "Iyxzone.Home.Feeder.showFeeds(4);" %></span></li>
    </ul>
  </div>

