<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
  <div class='blog-right-bar'>
    <div class='part'>
      <h3>日志分类: </h3>
      <% game_options = [['全部', nil]] %>
      <% @user.games.each {|g| game_options << [g.name, g.id] } %>
      <%= select_tag '', options_for_select(game_options, params[:game_id].to_i), :onchange => "window.location.href = '#{hot_blogs_url(:id => @user.id)}&game_id='+this.value;" %> 
    </div>
  </div>
<% end %>

<%= render :partial => 'blog/menu' %>

<div id='blogs'>
  <%= render :partial => 'blog_item', :collection => @blogs %>
</div>
<%= will_paginate @blogs %>
