<% character = player_item %>
<% f = character.user %>
<tr>
                <td>
                  <div class='imgwrap'>
                    <%= avatar f, :size => :medium, :class=>'imgbox01' %>
                  </div>
                  <div class='data jl-data'>
                    <p><%= profile_link f %></p>
                    <p>
                      <%= character.server.name %>,
                      <%= character.name %>
                    </p>
                    <p class="space">
                      <% unless current_user == f %>
                        <%= facebox_link '', new_friend_request_url(:friend_id => f.id), :class => "friend-btn w-l" %>
                        <%= link_to '', new_mail_url(:recipient_ids => [f.id]), :class => "msg-btn" %>
                      <% end %>
                    </p>
                  </div>
                </td>
              </tr>

