<% content_for :javascript_include do %>
  <%= javascript_include_merged :search %>
<% end %>

<% content_for :html_title, "#{@game.name} - 游戏玩家 - 17Gaming.com" %>
<% content_for :html_description, "#{@game.name}游戏玩家 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@game.name}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <%= render :partial => 'user/games/game_header', :locals => {:text => "#{@game.name}的玩家"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab' %>
			<div class="friend-box">
        <%= render :partial => 'search_panel', :locals => {:search_type => 'user'} %>
				<div class="box02 appcontent01">
          <div class="piclist-rows cmt-space">
            <table cellspacing='0' cellpadding='0'>
            <% if @players.blank? %>
              <tr><td><strong> 没有符合条件的玩家 </strong></td></tr>
            <% else %>
              <tr><td><strong> 共有<%= @players.total_entries %>个符合条件的玩家 </strong></td></tr>
              <%= render :partial => "player_item", :collection => @players %>
            <% end %>
            </table>
            <div class="space s_clear">
              <%= will_paginate @players %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
