<% content_for :html_title, "#{current_user.login}的请求 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的请求 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <h1 class="app-vgame">请求</h1>
    <div class="box02 canvas_int space">
      <%= render :layout => 'user/notifications/tab', :locals => {:hover => 1} %>
      <div class="box02 appcontent03">
        <%= render :partial => 'nav_link' %>
        <% @requests.each do |request| %>
          <% if request.instance_of? Friendship %>
            <%= render :partial => 'friend_request', :object => request %>
          <% elsif request.instance_of? Participation %>
            <%= render :partial => 'event_request', :object => request %>
          <% elsif request.instance_of? Membership %>
            <%= render :partial => 'guild_request', :object => request %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
<% end %>

<%= will_paginate @requests %>
