<% content_for :html_title, "#{@game.name}的相册 - 17Gaming.com" %>
<% content_for :html_description, "#{@game.name}的相册 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@game.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body">
    <div class="friend-head space s_clear">
      <span class="left"></span>
      <p class="left">
        <strong><%= game_link @game %>的相关相册</strong><br />
        <%= link_to '游戏主页', game_url(@game), :class=>'red'%>
      </p>
    </div>
		<div class="box02 canvas_int">
			<div class="tab tab01">
				<div class="right">
					<%= link_to "上传照片", select_personal_albums_url(:uid => current_user.id) %>
					<%= link_to "新建相册", new_personal_album_url, :rel => 'facebox' %>
        </div>
        <ul>
					<% subject = get_subject @user %>
          <li><span><%= link_to "热门照片", hot_personal_photos_url(:uid => @user.id) %></span></li>
          <li><span><%= link_to "#{@game.name}的相册", game_albums_url(@game) %></span></li>
        </ul>				
			</div>
      <div class="box02 appcontent01">
        <div class='path-box'>
          <label>游戏"<%= game_link @game %>"</label>
          <span>相册</span>
        </div>
        <div class="piclist s_clear">
					<%= render :partial => 'user/albums/album_item', :collection => @albums %>
        </div>
      </div>
    </div>
	</div></div>
</div></div></div></div>

<%= will_paginate @albums %>

