<% facebox_tag '请求加入' do %>
  <% if @characters.blank? %>
    <div class='tip'>你没有游戏角色可以加入这个公会</div>
  <% else %>
    <% rows_form_remote_for :request, :url => guild_requests_url(@guild, :at => 'guild'), :html => {:method => :post, :onsubmit=> "Iyxzone.disableButton($(new_guild_request_btn),'请等待..');"} do |f| %>
      <div class='formcontent'>
        <% f.rows do %>
          <% if @characters.blank? %>
            <div class='tip'>你没有游戏角色可以加入这个公会</div>
          <% else %>
            <% unless @request_characters.blank? %>
              <div class='tip'>你的 <%= @request_characters.map(&:name).join(', ') %> 已经请求加入公会</div>
            <% end %>
            <% unless @invite_characters.blank? %>
              <div class='tip'>你的 <%= @invite_characters.map(&:name).join(', ') %> 被邀请加入公会</div>
            <% end %>
            <% unless @guild_characters.blank? %>
              <div class='tip'>你的 <%= @guild_characters.map(&:name).join(', ') %> 已经是公会的成员了</div>
            <% end %>
            <div class='tip'>你还想让 <%= collection_select :request, :character_id, @characters, :id, :name, {:prompt => '---'} %> 加入公会? </div>
          <% end %>
        <% end %>
      </div>
      <%= f.z_submit :submit => {:text => '完成', :id => 'new_guild_request_btn'}, :cancel => {:text => '取消', :onclick => 'facebox.close();'} %>
    <% end %>
  <% end %>
<% end %>
