        <div class="page-foot s_clear">
          <div class="foot-func">
            <div class='left'>
            <span class="w-l red">评论(<%= @poll.comments_count %>)</span><span class="w-l">|</span>
            <span class="photo-op-praise" ></span><%= text_dig_link @poll, :class => 'red' %>
            </div>
            <div class='right'>
              <span class='w-l red'><%= report_link @poll %></span>
            </div>
          </div>
          <div class="s_clear rows">
            <div class="feed-list">
              <%= dig_count_html @poll %>
              <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @poll, :recipient => @poll.poster} %>
            </div>
            <% unless @random_polls.blank? %>
            <div class="prompt-list-box">
              <h5>随便看看</h5>
              <div class="list-box box04">
              <ul class="lister02">
                <% @random_polls.each do |p| %>
                  <li><%= poll_link p %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
<% unless @reply_to.blank? %>
<%= javascript_tag "Iyxzone.Comment.set('poll', #{@poll.id}, '#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>

