        <% form_tag poll_votes_url(poll), :onsubmit => "Iyxzone.Poll.vote($('poll_vote_submit_btn'), this, #{poll.id});return false;" do %>
          <table class="vote-status-table" cellpadding="0">
            <% poll.answers.each_with_index do |answer, i| %>
            <tr>
              <td class="title"><%= h answer.description %>：</td>
              <%= generate_percentage_bar answer, poll %>
              <td class="cb">
                <% if !poll.expired? and !vote and poll.is_votable_by? current_user %>
                  <%= check_box_tag "votes[]", answer.id, false, :onclick => "Iyxzone.Poll.checkMultipleSelection(#{poll.max_multiple}, this);"%>
                <% elsif vote %>
                  <%= check_box_tag "votes[]", answer.id, vote.answer_ids.include?(answer.id), :disabled => true %>
                <% end %>
              </td>
              <td class="btn">
              <% if i == 0 %>
                <% if poll.expired? %>
                  已经过期了
                <% elsif vote %>
                  你已经投过票了
                <% elsif poll.is_votable_by? current_user %>
                  <span class="button"><span><button type="submit" id='poll_vote_submit_btn'>投票</button></span></span>
                <% else %>
                  只有<%= get_subject user %>的好友才能投票
                <% end %> 
              <% end %>
              </td>
            </tr>
          <% end %>
          </table>
        <% end %>

