<%= javascript_include_tag 'poll' %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-vote">投票</h1>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <div class="right"><%= link_to "新投票", new_poll_url %></a></div>
        <ul>
          <li><span><%= link_to "热门投票", hot_polls_url(:id => @user.id) %></span></li>
          <li><span><%= link_to "最近投票", recent_polls_url(:id => @user.id) %></span></li>
          <% if @user == current_user %>
            <li class='hover'><span><%= link_to "我的投票", polls_url(:id => @user.id) %></span></li>
          <% else %>
            <li><span><%= link_to "我的投票", polls_url(:id => @user.id) %></span></li>
          <% end %>
          <li><span><%= link_to "朋友的投票", friends_polls_url(:id => @user.id) %></span></li>
        </ul>
      </div>
      <div class="appcontent06">
        <div class="nav-link">
          <% if @user == current_user %>
          <ul class="s_clear">
            <li><%= link_to '增加侯选项', new_poll_answer_url(@poll), :rel => 'facebox' %></li>
            <% unless @poll.no_deadline %>
            <li><%= link_to '修改截至时间', edit_poll_url(@poll, :type => 0), :rel => 'facebox' %></li>
            <% end %>
            <li><%= link_to '邀请更多人', new_poll_invitation_url(@poll) %></li>
            <li><%= facebox_confirm '删除本投票', poll_url(@poll), {:msg => '你确定要删除该投票吗?', :method => :delete} %></li>
          </ul>
          <% else %>
          <div class='path-box'>
            <label><%= link_to "#{@user.login}的投票", polls_url(:id => @user.id) %></label>
            <span>投票</span>
          </div>
          <% end %>
        </div>
        <div class="vote-box">
          <table class="vote-header-table" cellpadding="0">
            <tr>
              <td class="vote-content">
                <h5><%= @poll.name %> 
                  <span>（限选<%= @poll.max_multiple %>项）<span><%= distance_of_time_in_words_to_now @poll.created_at %></span></span>
                </h5>
                <p><%= @poll.description %></p>
              </td>
              <td class="status">
                <div class="vote-icon">
                  <h5><%= @poll.votes_count %>人</h5>
                  <p>参与投票</p>
                </div>
              </td>
              <td class="btn"><%= facebox_link '分享', new_sharing_url(:shareable_type => 'Poll', :shareable_id => @poll.id), :class => "right love-btn" %></td>
            </tr>
          </table>
          <% form_tag poll_votes_url(@poll) do %>
          <table class="vote-status-table" cellpadding="0">
            <% @poll.answers.each_with_index do |answer, i| %>
            <tr>
              <td class="title"><%= answer.description %>：</td>
              <%= generate_percentage_bar answer, @poll %>
              <td class="cb">
                <% if !@poll.past and !@vote and @votable %>
                  <%= check_box_tag "votes[]", answer.id, false, :onclick => "Iyxzone.Poll.checkMultipleSelection(#{@poll.max_multiple}, this);"%>
                <% elsif @vote %>
                  <%= check_box_tag "votes[]", answer.id, @vote.answer_ids.include?(answer.id), :disabled => true %>
                <% end %>
              </td>
              <td class="btn">
              <% if i == 0 and !@poll.past and !@vote and @votable %>
                <span class="button"><span><button type="submit">投票</button></span></span>
              <% end %>
              </td>
            </tr>
          <% end %>
          </table>
        <% end %>
        <div class="foot">
          <div class="prompt-list-box">
            <h5>随便看看</h5>
            <div class="list-box box04">
              <ul class="lister02">
                <% 5.times do %>
                <li><%= poll_link Poll.random %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="feed-list">
            <h4>评论(<%= @poll.comments_count %>)</h4>
            <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @poll, :recipient => @poll.poster} %> 
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>
