<% content_for :javascript_include do %>
<%= javascript_include_tag 'poll' %>
<% end %>

<% content_for :html_title, "#{@user.login}的投票 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的投票 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
	<% if @user==current_user %>
    <h1 class="app-vote">投票</h1>
	<% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的投票"} %>
	<% end %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %>   
    <div class="vote-box">
      <% if !@poll.past and @user == current_user %>
        <%= render :partial => 'poll_operations', :locals => {:poll => @poll} %>
      <% else %>
        <%= render :partial => 'poll_path', :locals => {:user => @user} %>
      <% end %>
      <%= render :partial => 'poll_state', :locals => {:poll => @poll} %>
			<div class='rows'></div>
      <%= render :partial => 'poll_head', :locals => {:poll => @poll} %>
      <%= render :partial => 'poll_form', :locals => {:poll => @poll, :vote => @vote} %>
      <%= render :partial => 'vote_details', :locals => {:poll => @poll, :vote => @vote, :vote_feeds => @vote_feeds} %>
      <div class='page-foot s_clear'>
        <%= render :partial => 'user/resources/foot_func', :locals => {:resource => @poll, :commentable => true, :diggable => true, :viewable => false, :comment_opts => {:commentable => @poll, :recipient => @poll.poster}, :reply_to => @reply_to} %>
        <%= render :partial => 'user/resources/randoms', :locals => {:title => '随便看看', :randoms => @random_poss} %>
      </div>
    </div>
  </div>
<% end %>
