<%= javascript_include_tag 'nicEdit' %>
<%= javascript_include_tag 'video' %>
<%= javascript_include_tag 'friend_tag' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<%= render :partial => 'video/menu' %>

<%= error_messages_for :video, :header_message => '遇到以下问题，没法成功保存', :message => nil %>

<div>
<% form_for :video, :url => videos_url, :html => {:id => 'video_form'} do |f| %>
  <div class='title'>
    <%= f.label "title" %><br/>
    <%= f.text_field 'title' %>
  </div>
  <div class='url'>
    <%= f.label 'url' %><br/>
    <%= f.text_field 'video_url', :id => 'video_url' %>
  </div>
  <div class='options'>
    <%= f.label "category: " %><%= f.collection_select 'game_id', @user.games, :id, :name, {:prompt => '---'} %><br/>
    <%= f.label "privilege: "%><%= privilege_select_tag(:video) %>
  </div>
  <div class='submit'>
    <%= button_to_function "保存", "video_builder.save()", :class => "confirm-button" %>
  </div>
  <div class='tag'>
    添加和日志相关的好友<br/>
    <%= auto_complete_text_field :friend, :login, '/friend_tags/auto_complete_for_friend_login', {}, {:after_update_element => 'add_friend_tag'} %>
    <%= button_to_function '', :id => 'toggle_button' %>
  </div>
  <div id='friend_tags'>
    <%= render :partial => 'friend_tags/tag', :collection => @video.tags %>
  </div>
<% end %>
</div>

<%= javascript_tag "
  var tag_builder = new FriendTagBuilder([]);
  var video_builder = new VideoBuilder(tag_builder);
" %>
