<% content_for :javascript_include do %>
  <%= javascript_include_tag 'news' %>
<% end %>

<% content_for :html_title, "拾闻 - 17Gaming.com" %>
<% content_for :html_description, "拾闻 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "拾闻, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-news">拾闻</h1>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab' %>
      <div class="feed-box01">
        <%= render :partial => 'time_nav' %>
        <% if @news_list.length != 0 %>
				  <div class="news10-list">
          <% @news_list.each do |n| %>
            <%= render :partial => 'news_con', :locals => {:news => n} %>
          <% end %>
          </div>
          <%= will_paginate @news_list %>
        <% else %>
          <div class="gray">
            <strong><span class="w-l">今天没有什么新闻，看看其他的吧</span></strong>
          </div>
        <% end%>
      </div>
    </div>
  </div></div> 
</div></div></div></div>
