<% content_for :javascript_include do %>
  <%= javascript_include_tag 'news' %>
<% end %>

<% content_for :html_title, "拾闻 - 17Gaming.com" %>
<% content_for :html_description, "拾闻 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "拾闻, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-news">拾闻</h1>
    <div class="box02 canvas_int space">
      <div class="tab tab01">
        <ul>
          <li <% if params[:type] == nil || params[:type] == '0' %> class="hover" <% end %>><span><%= link_to "拾闻", news_index_url(:type => 0) %></a></span></li>
          <li <% if params[:type] == '1' %> class='hover' <% end %>><span><%= link_to "文字新闻", news_index_url(:type => 1)%></span></li>
          <li <% if params[:type] == '2' %> class='hover' <% end %>><span><%= link_to "视频新闻", news_index_url(:type => 2) %></span></li>
          <li <% if params[:type] == '3' %> class='hover' <% end %>><span><%= link_to "图片新闻", news_index_url(:type => 3) %></span></li>
        </ul>
      </div>
      <% if @news_list.length != 0 %>
        <% @news_list.each do |n| %>
          <div class="news10-list jl-cutline">
            <h2><strong><%= news_link n, :class => "shine" %></strong></h2>
            <span class="gray"><%= ftime n.created_at %></span>
            <div class="con">
              <% if n.news_type == 'text' %>
                <%= truncate n.data_abstract, :length => 100, :omission => '...' %>
                <%= link_to "查看全文 >>", news_url(n) %>
              <% elsif n.news_type == 'picture' %>
                <%= link_to (image_tag n.pictures.first.public_filename, :class => 'imgbox01', :width => 100), news_url(n) %>
              <% else %>
                <%= link_to (image_tag n.thumbnail_url), news_url(n) %>
              <% end %>
            </div>
            <strong class="gray"><span class="w-l">评论:<%= n.comments_count %></span><span class="w-l">|</span><span class="w-l">浏览:<%= n.viewings_count %></span><span class="w-l">|</span><span class="w-l">分享:<%= n.sharings_count %></span></strong>
          </div>
        <% end %>
        <%= will_paginate @news_list %>
      <% else %>
        <div class="gray">
          <strong><span class="w-l">今天没有什么新闻，看看其他的吧</span></strong>
        </div>
      <% end%>
    </div>
  </div></div> 
</div></div></div></div>
