        <div class="starItem fix">
          <div class="starAvatar">
            <div class="con">
              <%= avatar idol, :class => 'imgbox01' %>
            </div>
          </div>
          <div class="starCon">
            <h3><span class="i iMedal"></span><%= profile_link idol %></h3>
            <div class="intro"><%= idol.idol_description %></div>
            <div class="starFans">
              <div><%= idol.fans_count %>个粉丝</div>
              <div class="op" id='idol_<%= idol.id %>_op'>
                <% if idol.has_fan? current_user %>
                  <%= render :partial => 'unfollow', :locals => {:idol => idol} %>
                <% elsif !idol.has_friend?(current_user) and idol != current_user %>
                  <%= render :partial => 'follow', :locals => {:idol => idol} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>


