                            <h2>向联系人发送邀请</h2>
                            <p class="tip"><strong>你的联系人中有<%= @unregistered_contacts.count %>位尚未注册，你可以:</strong></p>
                            <div style="display:block">
                                <div class="box02 space">
                                  <div class="func"><%= check_box_tag "", 1, false, :onclick => "Iyxzone.ContactsGrabber.toggleAll('unregister_table', this);" %><strong>全部选中</strong></div>
                                  <div class="list">
                                    <table cellpadding="0" id='unregister_table'>
                                      <% @unregistered_contacts.each do |c| %>
                                        <tr class="jl-cutline">
                                          <td width="30" align="center"><%= check_box_tag '', 1, false %></td>
                                          <td width="80"><%= image_tag 'default_male_clarge.png', :class => 'imgbox01' %></a></td>
                                          <td>
                                            <strong><%= c[:nickname]%></strong><br />
                                            <span><%= c[:email] %></span>
                                          </td>
                                        </tr>
                                      <% end %>
                                    </table>
                                  </div>                            
                                </div>
                                <div class="s_clear space">                     
                                  <span class="button"><span><%= button_to_function "发送邀请", "Iyxzone.ContactsGrabber.inviteContactsToSignup('#{form_authenticity_token}', this);", :id => 'send_button' %></span></span> 
                                </div>    
                            </div>
