                  <% class_name = photo.class.name.underscore %>
                  <div class="topIsay"><span class="button04"><span><%= facebox_button "我来说说", new_mini_blog_url(:content => "#{SITE_URL}/#{photo.class.name.underscore}s/#{photo.id}"), :width => 500 %></span></span></div>
                  <div class="photo-op">
                    <% if taggable %>
                      <span class="photo-op-mark"></span>
                      <%= link_to_function "圈人", "tagger.start()" %> | 
                    <% end %>
                    <% if editable %>
                      <span class="photo-op-edit"></span>
                      <%= facebox_link '编辑', eval("edit_#{class_name}_url(photo, :at => 'photo')") %> |
                    <% end %>
                    <% if deleteable %> 
                      <span class="photo-op-del"></span>
                      <%= link_to_function '删除', "Iyxzone.#{photo.class.name}.confirmDeletingPhoto(#{photo.id}, #{photo.album_id})" %> |
                    <% end %>
                    <% if diggable %>
                      <span class="photo-op-praise" ></span>
                      <%= text_dig_link photo %>
                    <% end %>
                  </div>
