      <div class="page-foot s_clear">
        <div class="foot-func">
          <div class='left'><span class="w-l red">评论(<%= @photo.comments_count %>)</span></div>
          <div class='right'><span class="w-l red"><%= report_link @photo %></span></div>
        </div>
        <div class='s_clear rows'>
          <div class="feed-list">
            <%= dig_count_html @photo %>
            <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @photo, :recipient => @photo.poster} %>
          </div>
        </div>
      </div>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.Comment.set('#{@photo.class.name.underscore}', #{@photo.id}, '#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>

