<% facebox_tag '编辑照片' do %>
  <div id='errors'></div>
  <% rows_form_remote_for :photo, :url => personal_photo_url(@photo, :at => params[:at]), :html => {:method => :put, :onsubmit=> "Iyxzone.disableButton($(edit_photo_submit),'请等待..');" } do |f| %>
    <div class='formcontent'>
      <%= f.text_area 'notation', :label => '照片描述' %>
      <%= f.collection_select :photo, :album_id, current_user.albums, :id, :title, {}, :label => '所属相册', :class => 'selector selector02' %>
      <%= f.rows :label => '设置为封面' do %>
        <%= check_box_tag 'photo[cover]', 1, @photo.is_cover? %>
      <% end %>
    </div>
    <%= f.z_submit '完成' => {:id => 'edit_photo_submit', :type => 'submit'}, '取消' => {:onclick => 'facebox.close();'} %>
  <% end %>
<% end %>
