<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<div class='crumb'>
  <%= profile_link @user %> -> <%= album_link @album %> -> 上传照片
</div>                      
 
<%= swfupload_head %>

<%= swfupload :controller => 'user/photos', :action => 'create', :album_id => @album.id %>

