<% content_for :html_title, "#{@user.login}的相关照片 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的相关照片 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
  <% if @user == current_user %>
    <h1 class="app-photo">照片</h1>
  <% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的相册"} %> 
  <% end %>
  <div class='box02 canvas_int'>
    <%= render :partial => 'user/albums/tab', :locals => {:user => @user, :hover => 2} %>
    <div class="pic-box">
      <div class="path-box">
        <p><span>共 <%= @infos.total_entries %> 张照片</span></p>
      </div>
      <table class="photo-edit-list photo-mark-list">
          <% i = 0 %>
          <% @infos.each do |info| %>
            <% photo = info[:photo] %>
            <% if i == 0 %><tr><% end %>
            <td valign="bottom">
              <%= photo_link photo, :class => 'imgbox02', :size => :large %><br />
              <%= info[:posters].map{|p| profile_link(p, :class => 'red')}.join(',') %> <span class='gray'>标记</span>
            </td>
            <% i = i + 1 %>
            <% if i == 4 %>
              </tr><% i =0 %>
            <% end %>
          <% end %>
      </table>
      <%= will_paginate @infos %>
    </div>
  </div>
<% end %>
