<% content_for :html_title, "#{current_user.login} - 应用设置 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的应用设置 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <div class="canvas-status"></div>
    <h1 class="app-setting">应用设置</h1>
    <div class="box02 canvas_int space">
      <div class="app-list-box">
        <div class="app-header">
          共有 <%= @applications.count %> 个应用
        </div>
        <% @applications.each_with_index do |app, i| %>
        <div class="app-list">
          <div class="link">
            <%= facebox_link "设置", edit_application_setting_url(:type => i) %>
            <%= link_to "关于", application_url(app) %>
          </div>
          <h2 class="<%= app.icon_class %>"><%= app.name %></h2>
        </div>
        <% end %>
      </div>
    </div>
<% end %>
