<div class='box02 canvas_con'>
  <div class='path-box'>
    <label>活动"<%= event_link @wall %>"</label>
    <span>留言版</span>
  </div>
  <% if @can_reply %>
    <%= render :partial => 'user/wall_messages/wall', :locals => {:wall => @wall, :recipient => @wall.poster} %>
  <% else %>
    <%= "你必须加入活动才能留言，点击#{ link_to '这里', event_url(@event) }查看活动详情" %>
  <% end %>
  <div class="feed-box" id='comments'>
    <%= render :partial => 'user/wall_messages/wall_message', :collection => @messages %>
  </div>
  <%= will_paginate @messages %>
</div>
