<div id='tag_<%= tag.id %>' tag_id=<%= tag.id %> x=<%= tag.x %> y=<%= tag.y %> width=<%= tag.width %> height=<%= tag.height %> info='<%= "#{tag.poster.login} 标记了 #{tag.tagged_user.login} : #{tag.content}" %>'>
	<span><%= profile_link tag.poster %></span> 标记了 <span><%= profile_link tag.tagged_user, :onmouseover => "tag_manager.show_tag_with_info(#{tag.id});", :onmouseout => "tag_manager.hide_tag_with_info(#{tag.id});" %></span> : <%= tag.content %>
	<% if @membership and [3,4].include? @membership.status %>
		<%= link_to_function 'x', "tag_manager.remove_tag(#{tag.id}, '#{form_authenticity_token}');" %>
	<% end %>
</div>
