<% type = commentable.class.to_s.underscore %>
<% id = commentable.id %>
<% comments_count = commentable.comments_count %>
<% recipient_id = recipient.nil? ? 'null' : recipient.id %>

<% if comments_count > 20 %>
  <div class='box04 comment-box'>
    <%= link_to_function "显示较早的评论", "Iyxzone.Comment.moreComments('#{type}', #{id}, #{comments_count - 40}, 20, $(this));" %>
  </div>
<% end %>
<div id='<%= type %>_comments_<%= id %>'>
  <% commentable.comments.offset(comments_count > 20 ? comments_count - 20 : 0).limit(20).nonblocked.each do |c| %>
    <%= render :partial => 'user/comments/comment', :object => c %>
  <% end %>
</div>

<div class='box04 comment-box' id= 'add_<%= type %>_comment_<%= id %>'>
  <%= text_area_tag 'add-comment', '添加评论...', :id => "add_#{type}_comment_#{id}", :class => "textarea txt-add-comment", :onclick => "Iyxzone.Comment.showForm('#{type}', #{id}, null, #{recipient_id})" %>
</div>

<div class="box04 cmt-box s_clear" id='<%= type %>_comment_<%= id %>' style="display:none">
	<div class="img"><%= avatar_image current_user, :size => :csmall %></div>
	<div class="cmt-con">
    <% form_for :comment, :html => {:onsubmit => "Iyxzone.Comment.save('#{type}', #{id}, event); return false;", :id => "#{type}_comment_form_#{id}"} do |f| %>
      <%= hidden_field_tag 'commentable_id', id %>
      <%= hidden_field_tag 'commentable_type', commentable.class.base_class.name %>
			<%= hidden_field_tag 'comment[recipient_id]', recipient.nil? ? nil : recipient.id, :id => "#{type}_comment_recipient_#{id}" %>
      <%= f.text_area 'content', :class => 'textarea', :onfocus => "Iyxzone.limitText($(this), 140, Iyxzone.Comment.checkLength);", :onblur => "Iyxzone.cancelLimitText($(this));", :id => "#{type}_comment_content_#{id}"%>
      <div class="submit s_clear">
				<span class="button button-gray"><span>
          <button onclick="Iyxzone.Comment.hideForm('<%=type%>',<%= id %>, event)">取消</button>
        </span></span>
        <span class="button w-l"><span>
          <button type="submit">发布</button>
        </span></span>
        <span class="left"><%= emotion_link "#{type}_comment_content_#{id}", :class => "icon-face"%></span>
        <span id='<%= type %>_<%= id %>_words_count'>0/140</span>
      </div>
    <% end %>
  </div>
</div>
