<% canvas_tag do %>
    <%= render :partial => 'user/events/event_header', :locals => {:text => "#{@event.title}的照片"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'user/events/albums/tab', :locals => {:user => @user} %>
      <div class="box02 appcontent02">
        <%= render :partial => 'photo_path', :locals => {:event => @event} %>
        <%= swfupload_head %>
        <div class='photo-upload-box'>
          <%= swfupload :controller => 'user/events/photos', :action => 'create', :album_id => @album.id %>
        </div>
      </div>
    </div>
<% end %>
