<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <%= render :partial => 'user/events/event_header', :locals => {:text => "#{@event.title}的照片"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'user/events/albums/tab' %>
      <div class="box02 appcontent02">
        <div class='path-box'>
          <label>活动"<%= event_link @event %>"</label>
          <span>上传照片</span>
        </div>
        <%= swfupload_head %>
        <div class='photo-upload-box'>
          <%= swfupload :controller => 'user/events/photos', :action => 'create', :album_id => @album.id %>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>
