<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<div class='crumb'>
  活动<%= event_link @event %> -> <%= album_link @album %> -> 上传照片
</div> 

<%= swfupload_head %>

<%= swfupload :controller => 'user/event/photos', :action => 'create', :album_id => @album.id %>
