<% content_for :stylesheet_link do %>
  <%= stylesheet_link_merged :photo %>
<% end %>

<% content_for :javascript_include do %>
<%= javascript_include_merged :photo %>
<% end %>

<% content_for :html_title, "#{@event.title}的照片 - 17Gaming.com" %>
<% content_for :html_description, "#{@event.title}的照片 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@event.title}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <%= render :partial => 'user/events/event_header', :locals => {:text => "#{@event.title}的照片"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab' %>
      <div class="pic-box">
        <div class="img-container-main s_clear">
          <div class="img-container-wrap">
            <div class="img-container">
              <div class="path-box">
								<label>活动 "<%= event_link @event %>"</label>
                <label><%= link_to "相册", event_album_url(@event.album, :format => 'html') %></label>
                <span>查看照片</span>
              </div>
              <div class="img-main">
                <div class="imgwrap">
                  <div class="photo-op">
										<% if @participation and @participation.is_authorized? %>
										<span class="photo-op-mark"></span>
										<%= link_to_function "圈人", "tagger.start()" %> | 
										<% end %>
										<% if @event.poster == current_user %>
										<span class="photo-op-edit"></span>
                    <%= facebox_link '编辑', edit_event_photo_url(@photo, :at => 'photo') %> | 
										<span class="photo-op-del"></span>
                    <%= facebox_confirm '删除', event_photo_url(@photo), {:method => :delete, :msg => '你确定要删除吗?'} %> |
										<% end %>
										<span class="photo-op-share" ></span>
										<%= facebox_link "分享", new_sharing_url(:url => event_photo_url(@photo)), :width => 450 %> |
										<span class="photo-op-praise" ></span>
                    <%= text_dig_link @photo %>
									</div>
                  <p><%= resize_image @photo, :id => "photo_#{@photo.id}" %></p>
									<div class="pic-desc s_clear">
										<h4 class="box06">
										<% if @event.poster == current_user %>
											<%= in_place_text_area @photo, :notation, '点击增加照片描述', :param_name => 'photo[notation]' %>
										<% else %>
											<%= simple_format h @photo.notation %>
										<% end %>
										</h4>
										<ul class="mark-list s_clear" id='photo_tags'>
										</ul>
										<div class="rows"></div> 
									</div>
                </div>
              </div>
            </div>
          </div>
          <div class="album">
            <%= render :partial => 'shared/photo_slide', :locals => {:album => @album, :photo => @photo} %>
          </div>
        </div>
      </div>
      <div class="page-foot s_clear">
        <div class="foot-func">
          <span class="w-l red">评论(<%= @photo.comments_count %>)</span>
        </div>
        <div class='s_clear rows'>
          <div class="feed-list">
            <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @photo, :recipient => @photo.poster} %>
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>

<% if @participation and @participation.is_authorized? %>
<%= render :partial => 'user/photo_tags/control_panel', :locals => {:photo => @photo, :tags => @tags, :user => @user, :tagged_users => @event.participants.all(:include => :games) - [current_user]} %>
<% end %>

<% unless @reply_to.blank? %>
<%= onload_javascript_tag "Iyxzone.Comment.set('event_photo', #{@photo.id}, '#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>
