<% rateable_type = rateable.class.name.underscore %>
<div id='<%= rateable_type %>_<%= rateable.id %>_rating_form'>
<% form_for :rating, :html => {:onsubmit => "Iyxzone.Rating.submit(this, $('rate_btn'), '#{rateable_type}', #{rateable.id}); return false;"} do |f| %>
  <%= hidden_field_tag 'rating[rating]', Rating::Default, :id => "#{rateable_type}_#{rateable.id}_rating"%>
  <div class="star-ratings-block s_clear">
  <% Rating::Default.times do |i| %>
    <%= link_to_function '', "Iyxzone.Rating.set(#{i + 1}, #{rateable.id}, '#{rateable_type}', this)", :class => 'lit'%>
  <% end %>
  <% (Rating::Maximum - Rating::Default).times do |i| %>
    <%= link_to_function '', "Iyxzone.Rating.set(#{Rating::Default + i + 1}, #{rateable.id}, '#{rateable_type}', this)"%>
  <% end %>
  </div>
<div class="fldbtn left space"><span class="button04"><span>
  <button type='submit' id='rate_btn'>提交</button>
</span></span></div>
<% end %>
</div>
