            <table cellpadding="0" cellspacing="3" border="0" width="100%">
              <% if topics.blank? %>
                <tr><td><strong class='gray'>这个论坛很冷清，还没有帖子</strong></td></tr>
              <% else %>
              <tr>
                <th class="tl">话题</th>
                <th>浏览</th>
                <th>回复</th>
                <th class="tl">作者</th>
                <th class="tr">时间</th>
                <% if guild.president == current_user %>
                <th>操作</th>
                <% end %>
              </tr>
              <% topics.each do |t| %>
              <tr class="jl-cutline" id='topic_<%= t.id %>'>
                <td class="title"><div><%= topic_link t %></div></td>
                <td><%= t.viewings_count %></td>
                <td><%= t.posts_count %></td>
                <td class="author"><div><%= avatar_image t.poster, :width => 27, :height => 27 %><%= profile_link t.poster %></div></td>
                <td class="tr"><%= ftime t.created_at %></td>
                <% if guild.president == current_user %>
                  <td><%= link_to_function '', "Iyxzone.Forum.toggleTopic(#{t.id}, #{t.forum_id}, this, '#{at}');", :class => "icon-up", :method => :put %><%= link_to_function '', "Iyxzone.Forum.confirmDeletingTopic(#{t.id}, #{t.forum_id}, this, '#{at}');", :class => "icon-active" %></td>
                <% end %>
              </tr>
              <% end %>
              <% end %>
            </table>

