<% content_for :javascript_include do %>
  <%= javascript_include_merged :forum %>
<% end %>

<% canvas_tag do %>
    <%= render :partial => 'user/guilds/guild_header', :locals => {:text => "#{h @guild.name}的论坛"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:forum => @forum} %>
      <div class='appcontent01'>
        <div id='errors'></div>
        <div class="cons-form formcontent">
        <% form_for :topic, :url => forum_topics_url(@forum), :html => {:onsubmit => "Iyxzone.Forum.Topic.save($('topic_submit_btn'), this); return false"} do |f| %>
          <div class='rows s_clear'>
            <div class='fldid'><%= f.label "标题：" %></div>
            <div class='fldvalue'><div class='textfield'><%= f.text_field 'subject' %></div></div>
          </div>
          <div class='rows s_clear'>
            <%= f.text_area 'content', :style =>"width: 700px; height: 300px;" %>
          </div>
          <div class='rows s_clear'>
            <div class='fldid'>&nbsp;</div>
            <div class='fldvalue'><span class="button03"><span><button type='submit' id='topic_submit_btn'>发布</button></span></span>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
<% end %>

<% onload_javascript_tag do %>
  Iyxzone.Forum.Topic.init(<%= @albums %>, 'topic_content', '<%= form_authenticity_token %>');
<% end %>
