<% content_for :javascript_include do %>
  <%= javascript_include_merged :forum %>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <div class="friend-head space s_clear">
      <span class="left"><%= album_cover_image @guild.album, :class => 'imgbox01', :width => 50, :height => 50 %></span>
      <p class="left">
        <strong><%= h @guild.name %></strong><br/>
        <%= guild_link @guild, :class => 'red' %>的主页
      </p>
    </div>
    <div class="box02 canvas_int space">
      <div class="tab tab01">
        <div class="right"><%= link_to "发布新话题", new_blog_url %></div>
        <ul>
          <li span='hover'><span><%= link_to "话题区", forum_topics_url(@forum) %></span></li>
        </ul>
      </div>
      <div class='appcontent01'>
        <div id='errors'></div>
        <div class="cons-form formcontent">
        <% form_for :topic, :url => forum_topics_url(@forum), :html => {:onsubmit => "Iyxzone.Forum.Topic.save($('topic_submit_btn'), this); return false"} do |f| %>
          <div class='rows s_clear'>
            <div class='fldid'><%= f.label "标题：" %></div>
            <div class='fldvalue'><div class='textfield'><%= f.text_field 'subject' %></div></div>
          </div>
          <div class='rows s_clear'>
            <%= f.text_area 'content', :style =>"width: 98%; height: 300px;" %>
          </div>
          <div class='rows s_clear'>
            <div class='fldid'>&nbsp;</div>
            <div class='fldvalue'><span class="button03"><span><button type='submit' id='topic_submit_btn'>发布</button></span></span>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>

<% onload_javascript_tag do %>
  nicEditors.albums = <%= current_user.all_albums.map {|a| {:id => a.id, :title => a.title, :type => a.class.name.underscore}}.to_json %>;
  Iyxzone.Forum.Topic.editor = new nicEditor().panelInstance('topic_content', {token: '<%= form_authenticity_token %>'});
<% end %>

<% onload_javascript_tag do %>
  window.onbeforeunload = function(){ 
    if(Iyxzone.Forum.Topic.saved){
      return null;
    }else{
      return "你还没保存，你确定要离开?";
    }
  }; 
<% end %>
