<% content_for :html_title, "#{@topic.poster.login}的话题 - #{@topic.subject} " %>
<% content_for :javascript_include do %>
  <%= javascript_include_merged :forum %>
<% end %>

<% canvas_tag do %>
  <%= render :partial => 'user/guilds/guild_header', :locals => {:text => "#{h @guild.name}的论坛", :guild => @guild} %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'tab', :locals => {:forum => @forum} %>
    <div class="forum s_clear">
      <div class="feed-box">
        <%= render :partial => 'topic_head', :locals => {:topic => @topic, :forum => @forum, :guild => @guild} %>
        <div class="feed-img-list">
          <div class="feed-list s_clear">
            <%= render :partial => 'topic_body', :locals => {:topic => @topic} %>
          </div>
          <% @posts.each do |p| %>
            <%= render :partial => 'post', :locals => {:post => p, :topic => @topic, :forum => @forum} %>
          <% end %>
          <div class="forum-pager">
            <%= link_to '<< 上一个话题', topic_url(@prev) %> |
            <%= link_to "下一个话题 >>", topic_url(@next) %>
            <%= link_to_function "返回话题顶部", "window.scrollTo(0,0);" %>
            <%= will_paginate @posts %>
          </div>
          <div class="space20 s_clear">
            <%= render :partial => 'new_post', :locals => {:topic => @topic, :forum => @forum} %>
            <% unless @random_topics.blank? %>
            <div class="space rows">
              <h2>随便看看</h2>
              <div class="list-box">
                <ul class="lister02">
                  <% @random_topics.each do |t| %>
                    <li><%= topic_link t %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <% end %>
          </div>   
        </div>
      </div>
    </div>
  </div>
<% end %>

