<% canvas_tag do %>
    <%= render :partial => 'user/guilds/guild_header', :locals => {:text => "#{h @guild.name}的论坛"} %>
    <div class="box02 canvas_int rows s_clear space">
      <%= render :partial => 'tab', :locals => {:forum => @forum} %>
      <div class="forum s_clear">
        <div class="col-left">
          <%= render :partial => 'public_board' %>
          <% unless @hot_topics.blank? %>
            <%= render :partial => 'hot_topics', :object => @hot_topics %>
          <% end %>
          <h2 class="s_clear"><span class="left">精华区</span></h2>
          <div class="posts digest">
            <%= render :partial => 'top_topics', :locals => {:top_topics => @top_topics, :forum => @forum, :guild => @guild} %>
            <%= will_paginate @top_topics %>
          </div>
        </div>
      </div>
    </div>
<% end %>
