<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-log">状态</h1>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <ul>
          <li <% if params[:type].to_i == 0 %>class="hover"<% end %>><span><%= link_to "待审核状态", admin_statuses_url(:type => 0) %></span></li>
          <li <% if params[:type].to_i == 1 %>class="hover"<% end %>><span><%= link_to "通过状态", admin_statuses_url(:type => 1) %></span></li>
          <li <% if params[:type].to_i == 2 %>class="hover"<% end %>><span><%= link_to "屏蔽状态", admin_statuses_url(:type => 2) %></span></li>
        </ul>
        <div class='right'>
          <%= render :partial => 'admin/verify/category', :locals => {:selected => 1} %>
        </div>
      </div>
      <div class="feed-box01">
        <div class='gray'>共<%= @statuses.total_entries %>篇</div>
        <%= render :partial => 'status_item', :collection => @statuses %>
        <%= will_paginate @statuses %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
