<li id='status_<%= status.id %>'>
  <span class='float-right'><%= facebox_confirm 'x', status_url(status), {:method => :delete, :msg => '你确定要删除这条状态吗?'}, {:id => "delete_status_#{status.id}"} %></span>
  <%= avatar status.poster %>
  <div class='status-content'>
    <p class='title'><span class='time'><%= ftime status.created_at %></span></p>
    <p class='body'>
      <%= status.content %>
    </p>
  </div>
	<%= render :partial => 'comments/folded_comment_box', :locals => {:commentable => status, :recipient => status.poster } %>
</li>
