<% content_for :javascript_include do %>
  <%= javascript_include_merged :forum %>
<% end %>
<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <div class="friend-head space s_clear">
      <span class="left"><%= album_cover_image @guild.album, :class => 'imgbox01', :width => 50, :height => 50 %></span>
      <p class="left">
        <strong><%= @guild.name %></strong><br />
        <%= guild_link @guild, :class => 'red' %>主页
      </p>
    </div>
    <div class="box02 canvas_int space">
      <div class="tab tab01">
        <div class="right">
          <%= link_to "发布新话题", new_forum_topic_url(@forum) %>
          <%= link_to "返回论坛首页", forum_topics_url(@forum) %>
        </div>
        <ul>
          <li class="hover"><span><%= link_to "话题区", forum_topics_url(@forum) %></span></li>
        </ul>
      </div>
      <div class="forum s_clear">
        <div class="feed-box">
          <h2 class='s_clear'>
            <span class='left'>标题： <%= h @topic.subject %></span>
            <div class='op'>
            <% if @guild.president == current_user %>
              <% if !@topic.top %>
                <%= link_to "<span class='icon-up'></span>置顶", toggle_forum_topic_url(@forum, @topic, :top => 1, :at => 'show'), :method => :put %>
              <% else %>
                <%= link_to "<span class='icon-down'></span>取消置顶", toggle_forum_topic_url(@forum, @topic, :top => 0, :at => 'show'), :method => :put %>
              <% end %>
              <%= facebox_confirm "<span class='icon-active'></span>删除", forum_topic_url(@forum, @topic, :at => 'show'), {:msg => "你确定要删除这个话题吗？", :method => :delete} %>
            <% end %>
            <%= facebox_link '分享', new_sharing_url(:url => forum_topic_posts_url(@forum,@topic)), :width => 450, :class => 'share-btn' %>
            </div>
          </h2>
          <div class="feed-img-list">
            <div class="feed-list s_clear">
              <div class="avatar">
                <%= avatar_image @topic.poster, :class => 'imgbox01', :size => 'large', :width => 76, :height => 85 %><br />
                <%= link_to "<span class='icon-home'></span>个人主页", profile_url(@topic.poster.profile), :popup => true %>
                <% unless current_user.has_friend? @topic.poster %>
                <%= facebox_link "<span class='icon-invitation'></span>加为好友", new_friend_request_url(:friend_id => @topic.poster_id) %>
                <% end %>
                <%= link_to "<span class='icon-read'></span>发站内信", new_mail_url(:recipient_ids => [@topic.poster_id]) %>
              </div>
              <div class="feed-header jl-cutline">
                <span class="right">楼主</span>
                <h3><%= link_to "<b class='red'>#{h @topic.poster.login}</b>", profile_url(@topic.poster.profile) %> <%= ftime @topic.created_at %></h3>
              </div>
              <div class="bd jl-cutline">
                <p><%= @topic.content %></p>
              </div>
              <div class="ft"><a href="javascript:void(0)">分享(<%= @topic.sharings_count %>)</a> | <a href="javascript:void(0)">阅读(<%= @topic.viewings_count %>)</a>  | <%= link_to_function "回复(#{ @topic.posts_count })", "Iyxzone.Forum.Post(null, '#{@topic.poster.login}', #{@topic.poster_id})" %></div>
            </div>
            <% @posts.each do |p| %>
            <div class="feed-list s_clear" id='post_<%= p.id %>'>
              <div class="avatar">
                <%= avatar_image p.poster, :class => 'imgbox01', :size => 'large', :width => 76, :heigth => 85 %><br />
                <%= link_to "<span class='icon-home'></span>个人主页", profile_url(p.poster.profile), :popup => true %>
                <% unless current_user.has_friend? p.poster %>
                <%= facebox_link "<span class='icon-invitation'></span>加为好友", new_friend_request_url(:friend_id => p.poster_id) %>
                <% end %>
                <%= link_to "<span class='icon-read'></span>发站内信", new_mail_url(:recipient_ids => [p.poster_id]) %>
              </div>
              <div class="feed-header jl-cutline">
                <span class="right"><%= p.floor %>楼</span>
                <h3><%= link_to "<b class='red'>#{h p.poster.login}</b>", profile_url(p.poster.profile) %> <%= ftime p.created_at %></h3>
              </div>
              <div class="bd jl-cutline">
                <p><%= p.content %></p>
              </div>
              <div class="ft">
                <%= link_to_function "回复", "Iyxzone.Forum.Post.reply(#{p.floor}, '#{p.poster.login}', #{p.poster_id});" %>
                <% if @guild.president == current_user %>
                  | <%= facebox_confirm '删除', forum_topic_post_url(@forum, @topic, p, :at => 'show'), {:msg => "你确定要删除这个回复吗？", :method => :delete} %>
                <% end %>
              </div>
            </div>
            <% end %>
            <div class="forum-pager">
              <%= link_to '<< 上一个话题', forum_topic_posts_url(@forum, @prev) %> | <%= link_to "下一个话题 >>", forum_topic_posts_url(@forum, @next) %>
              <%= link_to_function "返回话题顶部", "window.scrollTo(0,0);" %>
              <%= will_paginate @posts %>
            </div>
            <div class="space20 s_clear">
              <div class="forum-cmt" id='new_post'>
                <h2>回复话题</h2>
                <% form_for :post, :url => forum_topic_posts_url(@forum, @topic), :html => {:onsubmit => "Iyxzone.Forum.Post.save($('post_submit_btn'), this); return false;" } do |f| %>
                <%= hidden_field_tag 'post[recipient_id]', @topic.poster_id %>
                <div class="formcontent">
                  <div class="rows s_clear">
                    <div class="fldvalue"><%= f.text_area 'content', :style =>"width: 98%" %></div>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldvalue">
                      <div class="right">
                        <span class="button03"><span><button type="submit" id='post_submit_btn'>发布</button></span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <% unless @random_topics.blank? %>
              <div class="space rows">
                <h2>随便看看</h2>
                <div class="list-box">
                  <ul class="lister02">
                    <% @random_topics.each do |t| %>
                      <li><%= topic_link t %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <% end %>
            </div>   
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>

<% onload_javascript_tag do %>
  Iyxzone.Forum.Post.init(<%= @albums %>, 'post_content', '<%= form_authenticity_token %>');
  <% if !@post.blank? %>
    Iyxzone.Forum.Post.reply(<%= @post.floor %>, '<%= @post.poster.login %>', <%= @post.poster_id %>);
  <% end %>
<% end %>
