<% memberships.each do |membership| %>
<% character = membership.character %>
<% user = membership.user %>
<div class='friend' id='guild_invitation_<%= membership.id %>'>
  <%= avatar user %>
  <div class='user-link'>
    <%= membership.character.name %><br/>
  </div>
  <div class='operation'>
    <%= link_to '发站内信', new_mail_url(:recipient_id => user.id) %>
  </div> 
</div>
<% end %>

<% if @remote %>
	<%= will_paginate memberships, :renderer => "RemoteLinkRenderer", :remote => @remote %>
<% else %>
	<%= will_paginate memberships %>
<% end %>
