<ul id='members'>
  <% memberships.each do |membership| %>
	<% user = membership.user %>
  <% character = membership.character %>
  <li class='bg' id='<%= "m_#{membership.id}" %>' name='<%= character.name %>' pinyin='<%= character.pinyin %>'>
    <div class='card'>
			<% if current_user == @guild.president %>
        <%= link_to_function "", "Iyxzone.Guild.MemberManager.confirmEvicting(#{membership.id}, #{membership.guild_id}, this);", :class =>"icon-active right" %>
			<% end %>
      <div class='img'>
        <div class='middle'><div class='middle-center'><div class='center'>
          <%= avatar user, :class => 'imgbox01' %>
        </div></div></div>
      </div>
      <div class='info member s_clear' id='m_<%= membership.id %>_info'>
        <h4><%= profile_link user, :class => 'blk' %></h4>
        <span class='red nowrap'><%= character.name %></span><br/>
        <div class='selector01'>
          <% if guild.president == current_user %>
          <span><%= link_to_function "#{membership.to_s}", "Iyxzone.Guild.MemberManager.toggleRoleList(#{membership.id}, #{membership.status}, event, $(this).up())", :id => "ms_#{membership.id}", :class => 'green' %></span>
          <% else %>
          <span><%= membership.to_s %></span>
          <% end %>
        </div>
      </div>
    </div> 
  </li>
	<% end %>
</ul>
