<% memberships.each do |membership| %>
	<% user = membership.user %>
  <div class='friend' id='<%= "membership_#{membership.id}" %>'>
    <%= avatar user %>
    <div class='user-link' >
      <%= profile_link user %><br/>
    </div>
    <div class='operation'>
      <% if current_user == @guild.president %>
      <% else %>
        <%= membership.to_s %>
      <% end %> 
    </div>
  </div>
<% end %>

<% if @remote %>
  <%= will_paginate memberships, :renderer => "RemoteLinkRenderer", :remote => @remote %>
<% else %>
  <%= will_paginate memberships %>
<% end %>

