<ul id='members'>
  <% memberships.each do |membership| %>
	<% user = membership.user %>
  <li class='bg' id='<%= "membership_#{membership.id}" %>' >
    <div class='card'>
      <%= facebox_confirm "", guild_membership_url(membership.guild, membership), {:msg => '你确定要让这个用户退出公会吗', :method => :delete}, :class=>"icon-active right" %>
      <div class='img'>
        <div class='middle'><div class='middle-center'><div class='center'>
          <%= avatar user, :class => 'imgbox01' %>
        </div></div></div>
      </div>
      <div class='info member s_clear'>
        <h4><%= profile_link user, :class => 'blk' %></h4>
        <span class='red nowrap'><%= membership.character.name %></span><br/>
				<span id="member_status_<%=membership.id%>"><%= membership.to_s %></span>
				<% if current_user == @guild.president %>
				<span><%= facebox_link "", edit_guild_membership_url(@guild, membership), :class => "icon-active icon-active-edit"%></span>
				<% end %>
      </div>
    </div> 
  </li>
	<% end %>
</ul>
