<ul id='members'>
  <% memberships.each do |membership| %>
	<% user = membership.user %>
  <% character = membership.character %>
  <li class='bg' id='<%= "gr_#{membership.id}" %>' name='<%= character.name %>' pinyin='<%= character.pinyin %>'>
    <div class='card'>
      <div class='img'>
        <div class='middle'><div class='middle-center'><div class='center'>
          <%= avatar user, :class => 'imgbox01' %>
        </div></div></div>
      </div>
      <div class='info member s_clear' id="gr_<%= membership.id %>_info">
        <h4><%= profile_link user, :class => 'blk' %></h4>
        <span class='red nowrap'><%= character.name %></span><br/>
        <% if guild.president == current_user %>
        <span class="blk op" id='gr_<%= membership.id %>'>
          <%= link_to_function '接受', "Iyxzone.Guild.Request.accept(#{guild.id}, #{membership.id});", :id => "gr_btn1_#{membership.id}" %>
          <%= link_to_function '拒绝', "Iyxzone.Guild.Request.decline(#{guild.id}, #{membership.id});", :id => "gr_btn2_#{membership.id}" %>
        </span> 
        <% end %>
      </div>
    </div> 
  </li>
	<% end %>
</ul>
