<% content_for :javascript_include do %>
  <%= javascript_include_tag "guild" %>
<% end %>

<% content_for :html_title, "#{@guild.name}的会员管理 - 17Gaming.com" %>
<% content_for :html_description, "#{@guild.name}的会员管理 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@guild.name}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% canvas_tag do %>
    <%= render :partial => 'user/guilds/guild_header', :locals => {:text => "#{@guild.name}会员管理", :guild => @guild} %>
    <div class="box02 canvas_int space">
      <div class="rows s_clear"></div>
      <%= render :partial => 'tab', :locals => {:guild => @guild} %>
      <div class="friend-box">
        <div class="appcontent01">
          <div class="friend-invite-head">
            <% if params[:type].to_i == 0 %>
            <strong class="gray w-xl">共有<%= @guild.people_count - 1%>位会员</strong>
            <% elsif params[:type].to_i == 1 %>
            <strong class="gray w-xl">共有<%= @guild.invitations_count %>个邀请</strong>
            <% elsif params[:type].to_i == 2 %>
            <strong class="gray w-xl">共有<%= @guild.requests_count %>个请求</strong>
            <% end %>
						<% unless @memberships.blank? %>
            <strong class="green">搜索会员：</strong>
            <%= text_field_tag 'search', '输入游戏角色的名字', :onclick => "$(this).clear();", :class => 'ipt', :onfocus => "Iyxzone.Guild.MemberManager.startObservingInput($('search'))", :onblur => "Iyxzone.Guild.MemberManager.stopObservingInput();" %>
						<% end %>
          </div>
          <div class="friend-list">
            <div class="friend-list-body s_clear">
            <% if params[:type].to_i == 0 %>
              <%= render :partial => 'members', :locals => {:memberships => @memberships, :guild => @guild} %>
            <% elsif params[:type].to_i == 1 %>
              <%= render :partial => 'invitees', :locals => {:memberships => @memberships, :guild => @guild} %>
            <% elsif params[:type].to_i == 2 %>
              <%= render :partial => 'requestors', :locals => {:memberships => @memberships, :guild => @guild} %>
						<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% onload_javascript_tag do %>
  Iyxzone.Guild.MemberManager.setGuildID(<%= @guild.id %>);
<% end %>
