<ul id='participations'>
  <% participations.each do |participation| %>
  <% participant = participation.participant %>
  <% character = participation.character %>
  <li class='bg' id='<%= "participation_#{participation.id}" %>' name='<%= character.name %>' pinyin='<%= character.pinyin %>'>
    <div class='card'>
      <% if current_user == @event.poster and participant != current_user %>
        <%= facebox_confirm '', event_participation_url(@event, participation), {:method => :delete, :msg => '你确定要删除吗?'}, :class=>'icon-active right' %>
      <% end %>
      <div class='img'>
        <div class='middle'><div class='middle-center'><div class='center'>
          <%= avatar participant, :class => 'imgbox01' %>
        </div></div></div>
      </div>
      <div class='info member s_clear'>
        <h4><%= profile_link participant, :class=>'blk' %></h4>
        <span class='red nowrap'><%= participation.character.name %></span>
      </div>
    </div>
  </li>
  <% end %>
</ul>
