<% participations.each do |participation| %>
  <% participant = participation.participant %>
  <% character = participation.character %>
  <li id='<%= "participation_#{participation.id}" %>' name='<%= character.name %>' pinyin='<%= character.pinyin %>'>
    <%= avatar participant, :size => :medium, :class=>'imgbox01'%>
    <% if participation.participant != @event.poster %>
    <%= facebox_confirm '', event_participation_url(@event, participation), {:method => :delete, :msg => '你确定要删除吗?'}, :class=>'right icon-active icon-active-del' %>
    <% end %>
    <p><%= profile_link participant, :class=>'blk' %>
    <span class='red blk'><%= participation.character.name %></span></p>
  </li>
<% end %>
