<% participations.each do |participation| %>
  <% participant = participation.participant %>
  <li id='<%= "participation_#{participation.id}" %>'>
    <%= avatar participant, :size => :medium, :class=>'imgbox01'%>
    <%= facebox_confirm '', event_participation_url(@event, participation), {:method => :delete, :msg => '你确定要删除吗?'}, :class=>'right icon-active icon-active-del' %>
    <p><%= profile_link participant, :class=>'blk' %>
    <span class='red blk'><%= participation.character.name %></span></p>
  </li>
<% end %>
