<ul id='participations'>
  <% requests.each do |request| %>
  <% character = request.character %>
  <% participant = request.participant %>
  <li class='bg' id='event_request_<%= request.id %>' name='<%= character.name %>' pinyin='<%= character.pinyin %>'>
    <div class='card'>
      <div class='img'>
        <div class='middle'><div class='middle-center'><div class='center'>
          <%= avatar participant, :class=>'imgbox01'%>
        </div></div></div>
      </div>
      <div class='info member s_clear'>
        <h4><%= profile_link participant, :class => 'blk' %></h4>
        <span class='red nowrap'><%= character.name %></span><br/>
        <% if @event.poster == current_user %>
        <span class='blk op' id='event_request_option_<%= request.id %>'>
          <%= link_to_remote '接受', :url => accept_event_request_url(@event, request, :at => 'event'), :method => 'put', :loading => "Iyxzone.changeCursor('wait');", :complete => "Iyxzone.changeCursor('default');setTimeout('new Effect.Fade(\"event_request_#{request.id}\")', 2000);" %> |
          <%= link_to_remote '拒绝', :url => decline_event_request_url(@event, request, :at => 'event'), :method => 'delete', :class => 'gray', :loading => "Iyxzone.changeCursor('wait');", :complete => "Iyxzone.changeCursor('default');setTimeout('new Effect.Fade(\"event_request_#{request.id}\")', 2000);" %>
        </span>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
