<% if request_list.count == 0 %>
  <div class='tip'>还没有人请求参加这个活动</div>
<% else %>
  <ul id='participations'>
    <% request_list.each do |request| %>
      <% character = request.character %>
      <% participant = request.participant %>
      <li class='bg' id='er_<%= request.id %>' name='<%= character.name %>' pinyin='<%= character.pinyin %>'>
        <div class='card'>
          <div class='img'>
            <div class='middle'><div class='middle-center'><div class='center'>
              <%= avatar participant, :class=>'imgbox01'%>
            </div></div></div>
          </div>
          <div class='info member s_clear'>
            <h4><%= profile_link participant, :class => 'blk' %></h4>
            <span class='red nowrap'><%= character.name %></span><br/>
            <% if event.poster == current_user %>
              <span class='blk op' id='er_<%= request.id %>_info'>
              <%= link_to_function '接受', "Iyxzone.Event.Request.accept(#{request.event_id}, #{request.id});", :id => "er_btn1_#{request.id}" %> |
              <%= link_to_function '拒绝', "Iyxzone.Event.Request.decline(#{request.event_id}, #{request.id});", :id => "er_btn2_#{request.id}" %>
              </span>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
