<% facebox_tag '更新状态' do %>
  <% rows_form_remote_for :participation, :url => event_participation_url(@event, @participation, :at => 'event'), :html => {:method => :put, :onsubmit => "Iyxzone.disableButton($(edit_participation_btn),'请等待..');"} do |f| %>
    <div class='formcontent'>
      <% f.rows do %>
        <%= radio_button_tag 'status', 3 %><%= label_tag '', '肯定去' %><br/>
        <%= radio_button_tag 'status', 4 %><%= label_tag '', '可能去' %><br/>
      <% end %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'edit_participation_btn'}, :cancel => {:text => '取消', :onclick => 'facebox.close();'} %>
  <% end %>
<% end %>
