<% content_for :html_title, "活动:#{@event.title}" %>
<% content_for :javascript_include do %>
  <%= javascript_include_tag "event" %>
<% end %>

<% canvas_tag do %>
    <%= render :partial => 'user/events/event_header', :locals => {:event => @event, :text => "#{@event.title}活动"} %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:event => @event} %>
      <div class='friend-box'>
        <div class='appcontent01'>
          <div class='friend-invite-head'>
            <% unless @participations.blank? %>
            <strong class="green">搜索会员：</strong>
            <%= text_field_tag 'search', '输入游戏角色的名字', :onclick => "$(this).clear();", :class => 'ipt', :onfocus => "Iyxzone.Event.ParticipantManager.startObserving($('search'))", :onblur => "Iyxzone.Event.ParticipantManager.stopObserving();" %>
            <% end %>
          </div>
          <div class='friend-list'>
            <div class='friend-list-body s_clear'>
	          <% if params[:type].to_i == 2 %>
              <%= render :partial => 'invitee_list', :locals => {:invitee_list => @participations, :event => @event} %>
	          <% elsif params[:type].to_i == 3 %>
              <%= render :partial => 'request_list', :locals => {:request_list => @participations, :event => @event} %>
	          <% else %>
              <%= render :partial => 'participation_list', :locals => {:participation_list => @participations, :event => @event} %>
	          <% end %>
            </div>
          </div>
      </div>
    </div>
<% end %>
