<% content_for :html_title, '修改昵称 - 17Gaming.com' %>

<% content_for :javascript_include do %>
<%= javascript_include_tag "nickname" %>
<% end %>

    <div class="welcome-box02">
      <div class="box-v2 space20">
        <div class="t s_clear"><strong class=""></strong><span></span></div>
          <div class="m rows">
              <div class="form-con" style="padding-left:40px">
                    <div class="rows s_clear">
                        <div class="f-id">&nbsp;</div>
                        <div class="f-value">
输入您的昵称
                        </div>
                    </div>
                    <div class="rows s_clear space">
                        <div class="f-id"><label for="mail">昵称：</label></div>
                        <div class="f-value">
                          <%= text_field_tag 'login', @user.login, :onblur => "Iyxzone.Nickname.validate('#{params[:nickname_code]}')", :onfocus => "Iyxzone.Nickname.showRequirement();", :id => "login_field" %>
                        </div>
                        <span class='' id='nickname_info'></span>
                    </div>
                    <div class="rows s_clear space20">
                        <div class="f-id">&nbsp;</div>
                        <div class="f-value">
                          <span class="button rows"><span><button disable='' onclick="Iyxzone.Nickname.submit($(this), '<%= params[:nickname_code] %>');" type='submit' id='submit_btn'>重置</button>
<%= javascript_tag "$('submit_btn').disabled = '';" %>
                                </span></span>
                        </div>
                    </div>
                  </div>
                     <div class="jl-cutline" style="margin:0 auto;width:95%;">&nbsp;</div>
                    <div class="foot space20 rows">
                     <p class="gray" style="margin:0 auto;width:50%;">
                    <strong>为何需要您更改昵称?</strong><br />
由于网站改版升级，现在要求昵称只能包含数字、字母、汉字、下划线，您的昵称不符合要求，系统自动帮您生成了新的昵称"<%= @user.login %>"，您还可以在本页修改该昵称。对此造成的不便，我们深表歉意
                    </p>
                    </div>
            </div>
        <div class="b"><span></span></div>
      </div>
    </div>
