<% sharing = comment.commentable %>

<% if home_page %>
  <% link = link_to_function truncate(sharing.title, :length => 20, :omission => '...'), "Iyxzone.Home.NoticeManager.read(#{notice.id}, '#{form_authenticity_token}'); window.open('/sharings?uid=#{sharing.poster_id}&sharing_id=#{sharing.id}&reply_to=#{comment.poster_id}');" %>
<% else %>
  <% link = link_to_function truncate(sharing.title, :length => 20, :omission => '...'), "window.open('/sharings?uid=#{sharing.poster_id}&sharing_id=#{sharing.id}&reply_to=#{comment.poster_id}');" %>
<% end %>

<li>
  <div class="feed-message">
    <% if home_page %>
    <%= link_to_function '', "Iyxzone.Home.NoticeManager.readSingle(#{notice.id}, '#{form_authenticity_token}')", :class => 'icon-active' %>
    <% end %>
    <% if notice.data == 'comment' %>
      <%= profile_link comment.poster %> 评论了你的分享 <%= link %>
    <% elsif notice.data == 'reply' %>
      <%= profile_link comment.poster %> 在分享 <%= link %> 回复了你
    <% end %>     
  </div>
</li>

