<%= javascript_include_tag 'guild' %>

                          <% subject = get_subject @user %>
                          <ul>
                            <li><span><%= link_to "热门工会", hot_guilds_url(:id => @user.id) %></span></li>
                            <li><span><%= link_to '最新工会', recent_guilds_url(:id => @user.id) %></span></li>
                            <li><span><%= link_to "#{subject}的工会", guilds_url(:id => @user.id) %></span></li>
                            <li><span><%= link_to "好友工会", guild_feeds_url %></span></li>
                          </ul>
                          <div class='right'>
                            <%= link_to "新工会", new_guild_url %>
                          </div>

<%= error_messages_for :guild, :header_message => '以下原因导致工会创建失败', :message => nil %>

<div class='event-input'>
<% form_for :guild, :html => {:id => "guild_form", :multipart => true} do |f| %>
  <%= f.label '工会名字: ' %>
  <%= f.text_field :name %><br/>
  <%= f.label '游戏: ' %>
  <%= collection_select :guild, :game_id, Game.all, :id, :name, {:prompt => '---'} %><br/>
  <%= f.label '工会描述: ' %>
  <%= f.text_area :description, :rows => 8 %><br/>
  <% fields_for "photo" do |form| %>
    <%= form.label '封面: ' %>
    <%= form.file_field :uploaded_data %>
  <% end %>
  <%= button_to_function '提交',  "Iyxzone.Guild.Builder.save();"%>   
<% end %>
</div>
