          <% first = topics[0] %>
          <% second = topics[1] %>
          <% third = topics[2] %>
          <div class="round06 round_r_t hotTopicEx space">
            <div class="round_l_t">
              <div class="round_r_b">
                <div class="round_l_b">
                  <div class="round_m">
                    <div class="round_body">
                      <% if start_time == 1 %>
                        <h2 class="title">6小时话题榜</h2>
                      <% else %>
                        <h2 class="title">话题榜</h2>
                      <% end %>
                      <ul class="xList">
                        <% if first %>
                          <li class="first"><a href="/mini_blogs/search?key=<%= first[1] %>"><span>01</span><strong><%= first[1] %><b>(<%= first[0] %>)</b></strong></a></li>
                        <% end %>
                        <% if second %>
                          <li class="second"><a href="/mini_blogs/search?key=<%= second[1] %>"><span>02</span><strong><%= second[1] %><b>(<%= second[0] %>)</b></strong></a></li>
                        <% end %>
                        <% if third %>
                          <li class="third"><a href="/mini_blogs/search?key=<%= third[1] %>"><span>03</span><strong><%= third[1] %><b>(<%= third[0] %>)</b></strong></a></li>
                        <% end %>
                        <% (topics[3..(topics.count - 1)] || []).each_with_index do |t, i| %>
                          <li><a href="/mini_blogs/search?key=<%= t[1] %>"><span><%= "%02d" % (i+4) %></span><strong><%= t[1] %><b>(<%= t[0] %>)</b></strong></a></li>
                        <% end %>
                      </ul>
                      <div class="more">
                        <%= link_to "更多热门话题>>", mini_topics_url, :class => 'red' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

