<% mini_blogs.each do |mb| %>
  <div class="item jl-cutline fix" id='mini_blog_<%= mb.id %>'>
    <div class="feedFunc">
      <%= avatar mb.poster, :class => 'imgbox01' %>
    </div>
    <div class="feedCon">
      <div class="round02 round_r_t s-dialog">
        <div class="round_l_t">
          <div class="round_r_b">
            <div class="round_l_b">
              <div class="round_m jl-round_m"> 
                <span class="arrow-dialog"></span>
                <div class="round_body">
                  <a href="#" class="memberName"><%= profile_link mb.poster %></a>：<%= mini_blog_content mb %>
                  <% if mb.image_type?%>
                    <div class="mCon">
                      <%= image_tag mb.mini_image.public_filename(:large), :class => "zoomIn imgbox01" %>
                    </div>
                  <% elsif mb.video_type? %>
                    <div class="mCon">
                      <%= image_tag mb.mini_video.thumbnail_url, :size => '120x90', :class => "zoomIn imgbox01" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft">
        <span class="time"><%= ftime mb.created_at %></span><span><%= link_to_function "回复(#{mb.comments_count})", "Iyxzone.Comment.toggleBox('mini_blog', #{mb.id}, #{mb.comments_count})" %></span> | 
        <span><%= facebox_confirm "删除", mini_blog_url(mb), {:msg => "你确定要删除这条微波吗", :method => :delete} %></span>
      </div>
      <div class='feed-list' id='mini_blog_comment_box_<%= mb.id %>' style='display:none'>
        <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => mb, :recipient => nil} %>
      </div> 
    </div>
  </div>
<% end %>
<%= will_paginate mini_blogs %>
