<% cache "pop_users" do %>
          <div class="round06 round_r_t popMemberEx space">
            <div class="round_l_t">
              <div class="round_r_b">
                <div class="round_l_b">
                  <div class="round_m">
                    <div class="round_body">
                      <h2 class="title">人气排行榜</h2>
                      <ul class="list">
                        <% users.each do |user| %>
                        <li id='pu_<%= user.id %>'>
                          <div class="m-card">
                            <div class="m-avatar"><%= avatar user, :class => "imgbox01" %></div>
                            <div class="m-con">
                              <h4><%= profile_link user, :class => "member-name" %></h4>
                              <div><%= "好友数量：#{user.friends_count}" %></div>
                            </div>
                          </div>
                        </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<% end %>

<% javascript_tag do %>
  friends = <%= current_user.friend_ids.to_json %>
  Iyxzone.MiniBlog.showPopUsers(<%= current_user.id %>, friends);
<% end %>
