          <div class="round06 round_r_t popMemberEx space">
            <div class="round_l_t">
              <div class="round_r_b">
                <div class="round_l_b">
                  <div class="round_m">
                    <div class="round_body">
                      <h2 class="title">人气排行榜</h2>
                      <ul class="list">
                        <% users.each do |user| %>
                        <li>
                          <div class="m-card">
                            <div class="m-avatar"><%= avatar user, :class => "imgbox01" %></div>
                            <div class="m-con">
                              <h4><%= profile_link user, :class => "member-name" %></h4>
                              <div><%= "关注人数：#{user.attentions_count}" %></div>
                              <div id='user_attention_<%= user.id %>'>
                                <% if user != current_user %>
                                  <% attention = user.attentions.find_by_follower_id current_user.id %>
                                  <% if user.followed_by? current_user %>
                                    <%= render :partial => 'user/attentions/unfollow', :locals => {:attentionable => user} %>
                                  <% else %>
                                    <%= render :partial => 'user/attentions/follow', :locals => {:attentionable => user} %>
                                  <% end %>  
                                <% end %>                              
                              </div>
                            </div>
                          </div>
                        </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

