<% content_for :javascript_include do %>
  <%= javascript_include_tag 'mini_blog' %>
<% end %>

<% canvas_tag do %>
  <h1 class="app-status">微博</h1>
  <div class="box02 canvas_int">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 1} %>
    <div class="mainConWrap clear">
      <div class="mBlog fix">
        <div class="mBlogMain">
          <div class="mBlogMainWrap">
            <%= render :partial => 'form_at_index', :locals => {:at => 'mini_blogs_index'} %>
            <%= render :partial => 'category', :locals => {:url => home_list_mini_blogs_url, :title => "我的首页"} %>
            <div class="mBlogPostList" id='mini_blogs_list'>
              <%= render :partial => 'interested_mini_blogs', :locals => {:mini_blogs => @mini_blogs} %>
            </div>
          </div>
        </div>
        <div class="mBlogExtra">
          <%= render :partial => 'hot_words', :locals => {:hot_words => @hot_words} %>
          <%= render :partial => 'game_category', :locals => {:user => current_user} %>
          <%= render :partial => 'interested_topics', :locals => {:topics => @interested_topics} %>
          <%= render :partial => 'pop_users', :locals => {:users => @pop_users} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
