<% content_for :javascript_include do %>
  <%= javascript_include_tag 'mini_blog' %>
<% end %>

<% canvas_tag do %>
	<% if @user == current_user %>
		<h1 class="app-status">微博</h1>
	<% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的微博"} %>
  <% end %>
  <div class="box02 canvas_int">
    <%= render :partial => 'tab', :locals => {:user => @user, :hover => 2} %>
    <div class="mainConWrap clear">
      <div class="mBlog fix">
        <div class="mBlogMain">
          <div class="mBlogMainWrap">
            <%= render :partial => 'category', :locals => {:url => index_list_mini_blogs_url(:uid => @user.id), :title => "#{get_subject @user}的微博"} %>
            <div class="mBlogPostList" id='mini_blogs_list'>
              <%= render :partial => 'personal_mini_blogs', :locals => {:mini_blogs => @mini_blogs} %>
            </div>
          </div>
        </div>
        <div class="mBlogExtra">
          <%= render :partial => 'game_category', :locals => {:user => @user} %>
          <%= render :partial => 'interested_topics', :locals => {:user => @user, :topics => @interested_topics} %>
          <% if !@interested_idols.blank? %>
            <%= render :partial => 'interested_idols', :locals => {:idols => @interested_idols, :user => @user} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !@mini_blog.nil? and !@reply_to.nil? %>
  <%= onload_javascript_tag "
    Iyxzone.Comment.toggleBox('mini_blog', #{@mini_blog.id}, #{@mini_blog.comments_count});
    Iyxzone.Comment.set('mini_blog', #{@mini_blog.id}, '#{@reply_to.login}', #{@reply_to.id});" 
  %>
<% end %>
