<% content_for :javascript_include do %>
  <%= javascript_include_tag 'mini_blog' %>
<% end %>

<% canvas_tag do %>
  <h1 class="app-status">微博</h1>
  <div class="box02 canvas_int">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 2} %>
    <div class="mainConWrap clear">
      <div class="mBlog fix">
        <div class="mBlogMain">
          <div class="mBlogMainWrap">
            <div class="mBlogPostList" id='mini_blogs_list'>
              <%= render :partial => 'interested_mini_blogs', :locals => {:mini_blogs => @mini_blogs} %>
            </div>
          </div>
        </div>
        <div class="mBlogExtra">
          <%= render :partial => 'game_category', :locals => {:user => current_user} %>
          <%= render :partial => 'interested_topics', :locals => {:topics => @interested_topics} %>
          <% if !@interested_idols.blank? %>
            <%= render :partial => 'interested_idols', :locals => {:user => current_user, :idols => @interested_idols} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
