<% content_for :javascript_include do %>
  <%= javascript_include_tag 'mini_blog' %>
<% end %>

<% canvas_tag do %>
  <h1 class="app-status">微博</h1>
  <div class="box02 canvas_int">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 0} %>
    <div class="mainConWrap clear">
      <div class="mBlog fix">
        <div class="mBlogMain">
          <div class="mBlogMainWrap">
            <%= render :partial => 'today_topic', :locals => {:mini_blogs => @shuffled_mini_blogs, :hot_word => @today_hot_word} %>
            <%= render :partial => 'search_bar' %>
            <div class="mBlogSearchTag fix">
              <span class="miniTitle"><span>热词</span><em></em></span>
              <div class="tags">
                <% @hot_words.each do |w| %>
                  <%= link_to w.name, search_mini_blogs_url(:key => w.search_key) %>
                <% end %>
              </div>
            </div> 
            <div class="tab tab01 mBlogTab">
              <ul>
                <li class="hover" id='mini_blog_category_recent'><span><%= link_to_function "大家在说", "Iyxzone.MiniBlog.Pub.fetch('recent');" %></span></li>
                <li id='mini_blog_category_hot'><span><%= link_to_function "热门转发", "Iyxzone.MiniBlog.Pub.fetch('hot');" %></span></li>
                <li id='mini_blog_category_sexy'><span><%= link_to_function "热门回复", "Iyxzone.MiniBlog.Pub.fetch('sexy');" %></span></li>
                <li id='mini_blog_category_random'><span><%= link_to_function "随便看看", "Iyxzone.MiniBlog.Pub.fetch('random');" %></span></li>
                <li id='mini_blog_category_same_game'><span><%= link_to_function "同游微博", "Iyxzone.MiniBlog.Pub.fetch('same_game');" %></span></li>
              </ul>
            </div>
            <div class="mBlogPostHead"><span class="topicTag"><%= @today_topic %></span>，已有<%= @today_mini_blogs.total_entries %>条参与话题讨论</div>
            <div class="mBlogPostList" id='mini_blogs_list'>
              <%= render :partial => 'interested_mini_blogs', :locals => {:mini_blogs => @mini_blogs, :at => 'mini_blog_public'} %>
            </div>
          </div>
        </div>
        <div class="mBlogExtra">
          <% unless @hot_topics.blank? %>
            <%= render :partial => 'hot_topics', :locals => {:start_time => @start_time, :topics => @hot_topics} %>
          <% end %>
          <%= render :partial => 'pop_users', :locals => {:users => @pop_users} %>
          <%= render :partial => 'hot_idols', :locals => {:idols => @hot_idols} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_tag "Iyxzone.MiniBlog.Pub.init('recent');" %>
