<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>邀请好友注册</title>
<%= stylesheet_link_tag "common", "home" %>
</head>
<body>
<div id="header">
  <!--navbar-->
  <div id="navbar">
    <div id="navwrap">
      <div id="navmid">
        <a href="#" class="logo-top png" title="17gaming"></a>
        <p class="top_link right">
          <%= link_to "登录", login_url, :class => "w-l" %> <%= link_to "17Gaming首页", login_url %>
        </p>
      </div>
    </div>
  </div>
  <!--navbar-->
</div>
<div id="page">
  <div class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
    <div class="round_m"><div class="round_body s_clear">
      <div class="pageSkinV2 inviteReg fix">
				<div class="sideBar">
				
						<div class="avatarXl">
								<div class="wrap">
									<%= avatar_image @sender, :size => :max %>
								</div>
						</div>
						<div class="ivtSlogon">
								<div class="bd">
										<p>一起游戏网(17gaming)是让网络游戏玩家分享游戏心情，共享心得体验,重拾昔日情意的社交平台。</p>
										<p>我们期待您的加入，与我们共建网络游戏玩家的精神家园。</p>
								</div>
								<div class="ft">
										<span class='button05'><span><%= link_to "<b>注册并成为 #{@as_fan ? "粉丝" : "好友"}</b>", signup_url(:invite_token => params[:token]) %></span></span>
										<div class="clear space">
											<!--或者去 <a href="#">李大海的个人主页</a> -->
										</div>
								</div>
						 </div>
						
				</div>
        
				<div class="mainWrap">
						<div class="mainContent">
								<h1>我是<%= @sender.login%>，邀请你来一起游戏网（17Gaming.com）</h1>
								<div class="ivtMyGame">
										<div class="tab tab01">
												<ul>
														 <li><span><b>我在玩的游戏</b></span></li>
												</ul>
										</div>
										<div class="myGameList">
											<ul class="fix">
												<% @games.each do |game| %>
													<li>
														<a href="/games/<%=game.id%>" id="game-display-<%=game.id%>">
															<span class="gameName"><%= game.name%></span>
															<span class="gameLogo"><%= game_image game.name, :width=>"70", :height=>"100" %></span>
														</a>
													</li>
												<% end %>
											</ul>
										</div>
								</div>
								<div class="ivtMyMBlog">
									<div class="tab tab01">
										<ul>
											<li><span><b>我发布的微博</b></span></li>
										</ul>
									</div>
									<div class="mBlogPostList mBlogProList">
										<% if !@mini_blogs.blank? %>
											<% @mini_blogs.each do |mb| %>
												<% render :layout => 'user/mini_blogs/mini_blog', :locals => {:mini_blog => mb, :at => 'public', :with_foot => false} do %>
													<div class="feedFunc icon-state"></div>
												<% end %>
											<% end %>
										<% else %>
												<div class='space'>我还没来得及写游戏微博</div>
										<% end %>
									</div>
								</div>

								<div class="ivtMyFriends">
										<div class="tab tab01">
											<ul>
												<li><span>
												<% if !@as_fan %>
													<b>我的好友</b>
												<% else %>
													<b>我的粉丝团</b>
												<% end %>
												</span></li>
											</ul>
										</div>
										<div class="photolist-box">
												<ul class="collection s_clear">
													<% @people.each do |f| %>
														<li>
															<div class="middle"><div class="middle-center"><div class="center"><%= avatar_image f, :class => "imgbox01" %></div></div></div>
															<p><%= f.login %></p>
														</li>
													<% end %>
												</ul>
										</div>
								</div>
							</div>
					</div>
				</div>
			</div></div>
		</div></div></div></div>
</div>

<div id="footer">
<%= copyright %>
</div>
</body>
</html>
