<% content_for :html_title, "龙之谷第一届pk赛" %>
<% content_for :javascript_include do %>
  <%= javascript_include_tag 'mini_blog' %>
	<%= javascript_include_tag 'facebox' %>
<% end %>
<% content_for :stylesheet_link do %>
  <%= stylesheet_link_tag 'promotions/dnpk1/dnpk1.css' %>
<% end %>

<div class="eventBanner">
	<div class="hd"></div>
	<div class="bd">
    	<div class="wrap">
            <div class="intro">
							比赛方式：1 v 1 （下次组织群p）<br/>
							奖品：第一名300元盛大点券，第二名150元盛大点券，第三名50元盛大点券<br/>
							报名时间：2010年8月19日—8月25号晚上12点。 分组时间：2010年8月26日。 比赛时间：初步定在2010年8月28日－8月29日<br/>
							报名等级：需要大家是满级32级<br/>
							比赛地图：圆形竞技场<br/>
							比赛服务器：我们取报名人数最多的那个服务器，大家都有机会<br/>
							报名方法：写一条报名的微博。要求：1，需要写关键词#龙之谷pk赛#。2，需要带有你游戏内的截图（确认确实有这个人）。3，一句自我介绍包括所在服务器，职业。
            </div>
						<% if logged_in? %>
							<%= link_to_function '立即参加', "Iyxzone.insertAtCursor($('mini_blog_text_area'),'#龙之谷pk赛#')", :class => "action "%>
						<% else %>
							<%= facebox_tip "立即参加","登录后才能执行此操作", :class => "action" %>
						<% end %>
        </div>
    </div>
</div>
<div class="eventBody">
     <div class="col-side">
        	<div class="r-t"></div>
             <div class="r-m">
                  <div class="sideNav">
                    <ul>
                      <li class="t01"><a href="javascript:void(0)"><strong>pk赛报名</strong></a></li>
                      <li class="t02"><a href="javascript:void(0)"><strong>活动详情确定</strong></a></li>
                      <li class="t03"><a href="javascript:void(0)"><strong>pk赛过程</strong></a></li>
                      <li class="t04"><a href="javascript:void(0)"><strong>pk赛结果</strong></a></li>
                    </ul>
                  </div>
             </div>
        	<div class="r-b"></div>
      </div>
      <div class="col-content">
        <div class="col-wrap">
        	<div class="r-t"></div>
            <div class="r-m">
             	<div class="eventTips">
								想证明自己的实力，就赶紧留下你的名字吧！
                请务必记住写下你的自我介绍和上传你在游戏中的截图，不然不算的哦～
              </div>
							<% if logged_in? %>
								<%= render :partial => 'user/mini_blogs/form_at_index', :locals => {:at => 'promotion'} %>
							<% end %>
							<div class="mBlogPostHead">以下是关于<span class="topicTag">龙之谷pk赛</span>的微博<%= @mini_blogs.total_entries %>条</div>
							<div class="mBlogPostList">
							<% if logged_in? %>
								<%= render :partial => '/user/mini_blogs/interested_mini_blogs', :locals => {:mini_blogs => @mini_blogs, :at => 'promotion'} %>
							<% else %>
								<%= render :partial => '/user/mini_blogs/outside_mini_blogs', :locals => {:mini_blogs => @mini_blogs, :at => 'promotion'} %>
							<% end %>
							</div>
						</div>
						<div class="r-b"></div>
				</div>
			</div>
	</div>
