<% blog = blog_item %>
<div class="feed-img-list" id='blog_<%= blog.id %>'>
  <div class='feed-list eval-list'>
    <div class='feed-img'>
      <%= avatar blog.poster, :class => 'imgbox01' %>
    </div>
    <div class='feed-header'>
      <% if blog.verified == 0 %>
        <%= verify_link blog %>
        <%= unverify_link blog %>
      <% elsif blog.verified == 1 %>
        <%= unverify_link blog %>
      <% elsif blog.verified == 2 %>
        <%= verify_link blog %>
      <% end %>
      <h3><%= blog_link blog %></h3>
      <p><%= profile_link blog.poster, :class => "shine"%> <%= ftime blog.created_at %></p>
    </div>
    <div class='feeds'>
      <p><%= blog_content blog, :length => 100, :omission => '...' %></p>
    </div>
    <div class='feeds'><%= link_to "阅读(#{blog.viewings_count})", blog_url(blog) %> | <%= link_to "评论(#{blog.comments_count})", blog_url(blog) %> | <%= link_to "分享(#{blog.sharings_count})", blog_url(blog) %> | <%= link_to "赞(#{blog.digs_count})", blog_url(blog) %></div>
  </div>
</div>
