<% status_items.each do |item| %>
<% status = item.originator %>
<li>
  <%= avatar status.poster %><br/>
	<%= link_to "更多...", statuses_url(:id => status.poster_id) %>
  <div class='status-content'>
    <p class='title'><span class='time'><%= ftime status.created_at %></span></p>
    <p class='body'>
      <%= status.content %>
      <%= link_to_function "#{status.comments_count}条回复", "" %>
    </p>
		<%= render :partial => 'comments/folded_comment_box', :locals => {:type => 'status', :commentable => status} %>	
	</div>
</li>
<% end %>

<% if @remote %>
  <%= will_paginate status_items, :renderer => :RemoteLinkRenderer, :remote => @remote %>
<% else %>
  <%= will_paginate status_items %>
<% end %>

