<div class='fby'>
  <h3> 应用: </h3>
  <div id='menus'>
    <li><%= link_to "日志", blogs_url(:uid => current_user.id) %></li>
    <li><%= link_to "视频", videos_url(:uid => current_user.id) %></li>
    <li><%= link_to "照片", personal_albums_url(:uid => current_user.id) %></li>
    <li><%= link_to "状态", statuses_url(:uid => current_user.id) %></li>
    <li><%= link_to "活动", events_url(:uid => current_user.id) %></li>
    <li><%= link_to "投票", polls_url(:uid => current_user.id) %></li>
    <li><%= link_to "公会", guilds_url(:uid => current_user.id) %></li>
  </div>
</div>
