<% unless notifications.blank? %>
<div class='inform-box'>
  <h4><%= title %></h4>
  <table class="inform-list" cellpadding="0">
  <% notifications.each do |n| %>
    <tr id='notification_<%= n.id %>'>
      <th class="img"><img src="images/photo/photo15.png" alt="" /></th>
      <td>
        <%= n.data %>
        <span>  <%= ftime n.created_at %></span>
      </td>
      <td class="close">
        <%= link_to_remote 'x', :url => notification_url(n), :method => :delete, :class => "icon-active" %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<% end %>
