<% facebox_tag '删除相册' do %>
  <% rows_form_remote_for :album, :url => personal_album_url(@album), :html=>{ :method => :delete, :onsubmit=> "Iyxzone.disableButton($(album_confirm_destroy_btn),'请等待..');"} do |f| %>
    <div class='formcontent'>
      <% if @album.photos_count == 0 or current_user.albums_count == 2 %>
        <%= f.span '你确实是否要删除这个相册吗' %>
      <% else %>
        <%= f.span '如果确定删除，请选择相册中的照片如何处理：' %>
      <% end %>
      <% if @album.photos_count != 0 and current_user.albums_count > 2 %>
        <% f.rows do %>
          <%= radio_button_tag 'migration', 0, true %>将照片一起删除<br/>
          <%= radio_button_tag 'migration', 1, false %>将照片转移到<%= collection_select :album, :id, current_user.albums.delete_if {|a| a == @album}, :id, :title, {}, {:id => 'migrate_to', :name => 'migrate_to'} %>
        <% end %>
      <% end %>
    </div>
    <%= f.z_submit :submit => {:text => '完成', :id => 'album_confirm_destroy_btn'}, :cancel => {:text => '取消', :onclick => "Iyxzone.Facebox.close();"} %>
  <% end %>
<% end %>
