<% facebox_tag '编辑相册' do %>
  <div id='error'></div>
  <% rows_form_remote_for :album, :url => personal_album_url(@album), :html => {:method => :put, :onsubmit=> "Iyxzone.disableButton($(edit_album_submit),'请等待..');"} do |f| %>
    <div class='formcontent'>
      <%= f.text_field 'title', :label => '相册名称' %>
      <%= f.text_area 'description', :label => '相册描述'  %>
      <%= f.collection_select :game_id, current_user.games, :id, :name, {:prompt => '---'}, :label => '游戏分类', :class => 'selector selector02' %>
      <%= f.select :privilege, privilege_options, {}, :label => '谁可以浏览', :class => 'selector selector02' %>
    </div>
    <%= f.z_submit '完成' => {:type => 'submit', :id => 'edit_album_submit'}, '取消' => {:style => 'gray', :onclick => 'facebox.close();'} %>
  <% end %>
<% end %>
