<% content_for :html_title, "#{current_user.login} - 最新相册 - 17Gaming.com" %>
<% content_for :html_description, "#{current_user.login}的最新列表 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{current_user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-photo">照片</h1>
    <div class="box02 canvas_int">
      <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 0} %>
      <div class="piclist-rows">
        <div class="nav-link">
          <ul class="s_clear">
            <li><%= link_to "<span>人气最高</span>", hot_personal_photos_url %></li>
            <li class='hover'><%= link_to "<span>最新上传</span>", recent_personal_albums_url %></li>
          </ul>
        </div>
        <% if @albums.total_entries != 0 %>
        <h3>最近共更新 <span><%= @albums.total_entries %></span> 个相册</h3>
          <table class='big' cellpadding="0" cellspacing="1">
            <%= render :partial => 'album_item2', :collection => @albums %>
					</table>
          <%= will_paginate @albums %>
        <% else %>
          <div class='tip'>最近大家都没有更新什么相册，你赶紧上传些图片吧</div>
        <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
