<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
	  <% if @user==current_user %>
      <h1 class="app-photo">照片</h1>
  	<% else %>
      <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的照片"} %>
	  <% end %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'tab', :locals => {:user => @user, :hover => 1} %> 
      <div class="pic-box">
        <%= render :partial => 'album_path' %>
        <% if @photos.total_entries != 0 %>
          <%= render :partial => 'album_table' %>
        <% else %>
          <% if @user == current_user %>
          <div class='tip'>还没有图片，你赶紧<%= link_to '上传', new_personal_photo_url(:album_id => @album.id) %>吧</div>
          <% else %>
          <div class='tip'>还没有图片</div>
          <% end %>
        <% end %>
        <%= render :partial => 'album_desc' %>
        <%= render :partial => 'album_func' %>
			</div>
    </div>
  </div></div>
</div></div></div></div>

