<div class="title01">
  <%= link_to_function '', "facebox.close();", :class => "icon-active icon-active-close" %>
  <h1>请求加入</h1>
</div>

<% form_remote_for :request, :url => event_requests_url(@event, :show => 0), :html => {:method => :post} do |f| %>
<div class='formcontent'>
  <div class="rows s_clear">
    <%= radio_button_tag 'status', 1 %><%= label_tag '', '肯定参加' %><br/>
    <%= radio_button_tag 'status', 2 %><%= label_tag '', '可能参加' %><br/>
  </div>
</div>
<div class="buttons s_clear">
  <table class="center" cellpadding="0"><tr><td>
    <span class="button"><span><button type="submit">完成</button></span></span>
    <span class="button button-gray"><span><button type="button" onclick="facebox.close();">取消</button></span></span>
  </td></tr></table>
</div>
<% end %>
