<% facebox_tag '回复邀请' do %>
<div class='formcontent'>
  <div class="rows s_clear">
    <div class="fldvalue">
      <%= radio_button :invitation, :status, 1, :onclick => "Iyxzone.Event.Invitation.accept2(#{@invitation.id}, #{@event.id}, #{Participation::Confirmed}, this);", :id => 'ei_btn1' %><%= label_tag '', '接受' %>
    </div>          
  </div>
  <div class="rows s_clear">
    <div class="fldvalue">
      <%= radio_button :invitation, :status, 2, :onclick => "Iyxzone.Event.Invitation.accept2(#{@invitation.id}, #{@event.id}, #{Participation::Maybe}, this);", :id => 'ei_btn2' %><%= label_tag '', '可能去' %>
    </div>          
  </div>
  <div class="rows s_clear">
    <div class="fldvalue">
      <%= radio_button :invitation, :status, 3, :onclick => "Iyxzone.Event.Invitation.decline2(#{@invitation.id}, #{@event.id}, this);", :id => 'ei_btn3' %><%= label_tag '', '拒绝' %>
    </div>
  </div>
</div>
<% end %>
