<% content_for :html_title, "#{@event.title}的邀请 - 17Gaming.com" %>
<% content_for :html_description, "#{@event.title}的邀请 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@event.title}, 游戏活动, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :javascript_include do %>
  <%= javascript_include_tag 'invitation' %>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <%= render :partial => 'user/events/event_header', :locals => {:text => "#{@event.title}活动邀请"} %>
    <div class="box02 canvas_int space">
      <div class="tab tab01">
        <div class="icon">
          <%= link_to "邀请更多人", new_event_invitation_url(@event), :class => 'icon-add-table' %>
        </div>
        <ul>
          <li><span><%= link_to "一定去的人", event_participations_url(@event, :type => 0) %></span></li>
          <li><span><%= link_to "可能去的人", event_participations_url(@event, :type => 1) %></span></li>
          <li><span><%= link_to "受邀请的人", event_participations_url(@event, :type => 2) %></span></li>
          <li><span><%= link_to "请求加入的人", event_participations_url(@event, :type => 3) %></span></li>
        </ul>
      </div>
      <div class="friend-box">
        <div class="appcontent01">
          <div class="path-box">
            <label>活动"<%= event_link @event %>"</label>
            <span>邀请好友</span>
          </div><br/>
          <div class="friend-invite-head">
          <% unless @characters.blank? %>
            <strong class="green"><% if @guild %>搜索公会战友的游戏角色：<% else %>搜索好友的游戏角色：<% end %></strong> 
            <%= text_field_tag 'search', '输入游戏角色的名字', :class => 'ipt', :onclick => "$(this).clear()", :onfocus => "Iyxzone.Invitation.Builder.startObserving($('search'));", :onblur => "Iyxzone.Invitation.Builder.stopObserving();"%>
          <% end %>  
          </div>
          <div class="friend-invite-list">
          <% if @characters.blank? %>
              你的好友没有可以参加该活动的游戏角色
          <% else %>
            <div id='invitations'><%= render :partial => 'characters' %></div>
            <div class="rows s_clear">
              <span class="button"><span><%= button_to_function '确定', "Iyxzone.Invitation.Builder.submit(this, $('invitation_form'))" %></span></span>
            </div>
          <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>
<% form_tag event_invitations_url(@event), :id => 'invitation_form' do %>
<% end %>
