<% members.each do |member| %>
	<% membership = @guild.memberships.find_by_user_id(member.id) %>
	<div class='friend' id='<%= "membership_#{membership.id}" %>'>
    <%= avatar member %>
    <div class='user-link' >
      <%= profile_link member %><br/>
    </div>
    <div class='operation'>
      <% if current_user == @guild.president %>
        <%= link_to '任命', edit_guild_membership_url(@guild, membership), :rel => 'facebox' %><br/>
        <%= facebox_confirm '删除', guild_membership_url(@guild, membership), {:method => :delete, :msg => '你确定要剔除这个会员吗'}%>
      <% end %>
    </div>
  </div>
<% end %>

<% if @remote %>
  <%= will_paginate members, :renderer => "RemoteLinkRenderer", :remote => @remote %>
<% else %>
  <%= will_paginate members %>
<% end %>

