        <div class="nav-link">
          <ul class="s_clear">
            <li <% if params[:type].to_i == 0 %>class="hover"<% end %>><%= link_to "<span>全部</span>", eval("#{url_func}(:uid => #{user.id}, :type => 0)") %></li>
            <li <% if params[:type].to_i == 1 %>class="hover"<% end %>><%= link_to "<span>日志</span>", eval("#{url_func}(:uid => #{user.id}, :type => 1)") %></li>
            <li <% if params[:type].to_i == 2 %>class="hover"<% end %>><%= link_to "<span>视频</span>", eval("#{url_func}(:uid => #{user.id}, :type => 2)") %></li>
            <li <% if params[:type].to_i == 3 %>class="hover"<% end %>><%= link_to "<span>连接</span>", eval("#{url_func}(:uid => #{user.id}, :type => 3)") %></li>
            <li <% if params[:type].to_i == 4 %>class="hover"<% end %>><%= link_to "<span>照片</span>", eval("#{url_func}(:uid => #{user.id}, :type => 4)") %></li>
            <li <% if params[:type].to_i == 5 %>class="hover"<% end %>><%= link_to "<span>相册</span>", eval("#{url_func}(:uid => #{user.id}, :type => 5)") %></li>
            <li <% if params[:type].to_i == 6 %>class="hover"<% end %>><%= link_to "<span>投票</span>", eval("#{url_func}(:uid => #{user.id}, :type => 6)") %></li>
            <li <% if params[:type].to_i == 7 %>class="hover"<% end %>><%= link_to "<span>游戏</span>", eval("#{url_func}(:uid => #{user.id}, :type => 7)") %></li>
            <li <% if params[:type].to_i == 8 %>class="hover"<% end %>><%= link_to "<span>玩家</span>", eval("#{url_func}(:uid => #{user.id}, :type => 8)") %></li>
            <li <% if params[:type].to_i == 9 %>class="hover"<% end %>><%= link_to "<span>话题</span>", eval("#{url_func}(:uid => #{user.id}, :type => 9)") %></li>
            <li <% if params[:type].to_i == 10 %>class="hover"<% end %>><%= link_to "<span>拾闻</span>", eval("#{url_func}(:uid => #{user.id}, :type => 10)") %></li>
          </ul>
        </div>

