<% link = share.shareable %>
<% first_sharer = link.first_sharer %>
<% poster = sharing.poster %>
<div class="feed-list feed-share">
  <%= dig_link share %>
  <div class="feed-header">
    <div class="right">
      <%= ftime share.created_at %><br/>
      首次分享人：<%= avatar first_sharer, :with => '27px', :height => '27px' %>
			<%= profile_link first_sharer %>
    </div>
    <h3><%= link_to link.url, sharing_url(sharing), :popup => true %></h3>
    <p class="con"><%= truncate sharing.reason, :length => 100, :omission => '...' %></p>
<<<<<<< HEAD:app/views/user/shares/_link_share.html.erb
    <div class="feeds"><%= link_to_function "评论(#{sharing.comments_count})", "Iyxzone.Comment.toggleBox('sharing', #{sharing.id}, #{sharing.comments_count})" %> | <%= facebox_link "我也分享", new_sharing_url(:url => link_url(link)), :width => 450 %><span>(<%= link.sharings_count %>)</span></a> | <%= link_to "更多分享", shares_url(:uid => poster.id) %></div>
=======
    <div class="feeds"><%= link_to_function "评论(#{sharing.comments_count})", "Iyxzone.Comment.toggleBox('sharing', #{sharing.id}, #{sharing.comments_count})" %> | <%= facebox_link "我也分享", new_sharing_url(:shareable_type => 'Link', :shareable_id => link.id) %><span>(<%= link.sharings_count %>)</span></a> | <%= link_to "更多分享", shares_url(:uid => poster.id) %></div>
>>>>>>> newcommit:app/views/user/shares/_link_share.html.erb
  </div>
  <div id="sharing_comment_box_<%= sharing.id %>" style="display: none">
    <%= render :partial => 'user/comments/comment_box', :locals => {:commentable => sharing, :recipient => poster} %>
  </div>
</div>
