      <div class="tab tab01">
        <div class="right">
  <%= link_to "分享到17gaming", "
javascript: void((
  function(s,d,e){
    if(/17gaming\.com/.test(d.location))
      return;
    var f='#{SITE_URL}/sharings/new?at=outside&url=',u=d.location,l=d.title,p=[e(u),'&title=',e(l)].join('');
    function a(){
      if(!window.open([f,p].join(''),'17gaming',['width=450,height=300,left=',(s.width-420)/2,',top=',(s.height-300)/2].join('')))
        u.href=[f,p].join('');
    };
    if(/Firefox/.test(navigator.userAgent))
      setTimeout(a,0);
    else 
      a();
  })
(screen,document,encodeURIComponent));", :class => 'btn-17gaming w-l', :onmouseover => "$('share_tip').show();", :onmouseout => "$('share_tip').hide()" %>
  <%= link_to "了解详情", application_url(:id => 7), :class => 'gray' %>
  <div style="position:absolute;top:33px;left:5px;background:#fff;width:180px;border:1px solid #bdd6ad;padding:10px;line-height:20px;color:#666; display:none" id='share_tip'>
    <span class="arrow-tip02"></span>
    <strong>添加浏览器按钮更方便</strong><br />
右键点击下面按钮并选择"添加到收藏夹"，或将下面的按钮拖动到浏览器标签工具栏，让分享更加方便快捷
  </div>
</div>
        <ul>
          <% subject = get_subject user %>
          <li <% if hover==0 %>class='hover'<% end %>><span><%= link_to "热门分享", hot_shares_url %></span></li>
          <li <% if hover==1 %>class='hover'<% end %>><span><%= link_to "最新创建", recent_shares_url %></span></li>
          <li <% if hover==2 %>class='hover'<% end %>><span><%= link_to "#{subject}的分享", shares_url(:uid => user.id) %></span></li>
          <% if user == current_user %>
          <li <% if hover==3 %>class='hover'<% end %>><span><%= link_to "好友的分享", friends_shares_url %></span></li>
          <% end %>
        </ul>
      </div>

