<% content_for :javascript_include do %>
  <%= javascript_include_merged :share %>
<% end %>

<% canvas_tag do %>
  <h1 class="app-share">分享</h1>
  <%= render :partial => 'new_link_sharing' %>
  <div class="box02 canvas_int rows">
    <%= render :partial => 'tab', :locals => {:user => current_user, :hover => 0} %>
    <div class="feed-box01">
      <%= render :partial => 'category', :locals => {:user => current_user, :url_func => "hot_shares_url"} %>
      <div class="feed-img-list rows">
      <% if @shares.total_entries != 0 %>
        <% @shares.each do |share| %>
          <%= render :partial => "#{share.shareable_type.underscore}_share", :locals => {:share => share, :sharing => share.sharings.first, :is_mine => false} %>
        <% end %>
        <%= will_paginate @shares %>
      <% else %>
        <div class='tip'>大家都死了，没人分享</div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
