    <div class="sidebar">
      <div id="appbar" class="round_title_r_t"><div class="round_title_l_t"><div class="round_r_b"><div class="round_l_b">
        <h1 class="round_title">我的应用</h1>
        <div class="round_m"><div class="round_body">
          <div class="applist">
            <ul>
              <li><%= link_to "状态", friends_statuses_url(:uid => current_user.id), :class => 'app-status' %></li>
              <li><%= link_to "分享", hot_shares_url(:uid => current_user.id), :class => 'app-share' %></li>
              <li><%= link_to "日志", hot_blogs_url(:uid => current_user.id), :class => 'app-log' %></li>
              <li><%= link_to "照片", hot_personal_photos_url(:uid => current_user.id), :class => 'app-photo' %></li>
              <li><%= link_to "视频", hot_videos_url(:uid => current_user.id), :class => 'app-video' %></li>
              <li><%= link_to "投票", hot_polls_url(:uid => current_user.id), :class => 'app-vote' %></li>
              <li><%= link_to "活动", hot_events_url(:uid => current_user.id), :class => 'app-ploy' %></li>
              <li><%= link_to "公会", hot_guilds_url(:uid => current_user.id), :class => 'app-cons' %></li>
              <li><%= link_to "游戏", sexy_games_url(:uid => current_user.id), :class => "app-game" %></li>
              <li><%= link_to "推荐游戏", game_suggestions_url, :class => 'app-vgame' %></li>
              <li><%= link_to "拾闻", news_index_url, :class => "app-news" %></li>
              <li><%= facebox_link "汇报错误", new_guestbook_url, :class => "app-error", :width => 400 %> </li>
            </ul>
          </div>
        </div></div>
      </div></div></div></div>
    </div>

