<div id="footer">
  <div class="info-foot">
    <%= link_to '关于我们', about_us_help_url %> | 
    <%= link_to '应用介绍', app_info_help_url %> | 
    <%= link_to '联系方式', contact_info_help_url %> | 
    <%= link_to '隐私说明', privacy_info_help_url %>
  </div>
  <%= copyright %>
</div>
