    <div class="im-tinybar" id='tiny-chat-bar' style="right:5px;top:100px;">
      <div class="im-toggle"><a class="r-t" href="javascript:void(0)" onclick="Iyxzone.Chat.showBar(event)"></a><p>在线好友<span id='tiny_online_friends_count'>[0]</span><a href="javascript:void(0)" id='tiny-im-icon'></a></p><span class="r-b"></span></div>
    </div>
    <div style="right: 5px; top: 100px;display:none" class="im-bar" id='chat-bar'>
      <div class="r-m">
        <div class="con">
          <div class="im-title s_clear">
            <span id='im-icon'><%= avatar_image current_user, :class => 'left w-l', :height => 20, :width => 20 %></span><strong class="left w-l"><%= current_user.login %></strong>
            <div class="im-state left">
              <a href="#"><span class="im-online"></span></a>
              <div class="selector01" style="display:none">
                <div class="drop-wrap">
                  <div class="wrap-bg">
                    <dl>
                      <dd class="jl-cutline"><a href="#"><span class="im-online"></span>在线</a></dd>
                      <dd class="jl-cutline"><a href="#"><span class="im-busy"></span>忙碌</a></dd>
                      <dd class="jl-cutline"><a href="#"><span class="im-leave"></span>离开</a></dd>
                      <dd><a href="#"><span class="im-hide"></span>隐身</a></dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="im-search rows">
            <%= text_field_tag '', '搜索好友', :onclick => "$(this).clear();", :onfocus => "Iyxzone.Chat.startObservingSearch($(this))", :onblur => "Iyxzone.Chat.stopObservingSearch()" %>
            <%= button_to_function '', '', :class => 'go' %> 
          </div>
          <div class="im-group s_clear">
            <dl class="im-expand" id='chat-list'>
              <dt>
                <a href="javascript:void(0)" onclick="Iyxzone.Chat.toggleOnline(this);">在线好友<span id='online_friends_count'>[0]</span></a>
              </dt>
            </dl>
          </div>
        </div>
        <div class="foot"><%= link_to "好友管理", friends_url, :class => 'im-manage' %></div>
      </div>
      <span class="r-b rows"></span>
    </div>

<% onload_javascript_tag do %>
  Iyxzone.Chat.init();
<% end %>
