<% if RAILS_ENV != 'test' %>
<% content_for :javascript_include do %>
<% end %>
<% end %>

<% content_for :body do %>
<body class='cut-side'>
  <% cache("navbar-#{current_user.id}-#{current_user.unread_notifications_count}-#{current_user.unread_recv_mails.count}") do %>
  <%= render :partial => 'layouts/navbar' %>
  <% end %>
  <div id="page" class="page_side_wrap s_clear">
    <% cache("appbar-#{current_user.id}") do %>
      <%= render :partial => 'layouts/appbar' %>
    <% end %> 
	  <div class="main">
  		<div class="content">
	  	<% flash.each do |key, msg| %>
		  	<div class="<%=key%>-msg" id="notice_<%=key%>">
			  	<span class="icon-<%= key %>"></span>
				  <%= msg %>
  			</div>
	  		<script type="text/javascript">
		  		setTimeout("new Effect.Fade('notice_<%= key %>');", 5000);
			  </script>
		  <% end %>
		  <%= yield %>
		  </div>
	  </div>
  </div>
  <%= render :partial => 'layouts/imbar' %>
  <%= render :partial => 'layouts/footer' %>
</body>
<% end %>

<%= render :file => 'layouts/base' %>
