<% content_for :javascript_include do %>
  <%= juggernaut :client_id => current_user.id %>
<% end %>

<% content_for :body do %>
<body>
  <%= render :partial => 'layouts/navbar' %>
  <div class='banner'>
    <div class='con'></div>
    <div class='foot'></div>
  </div>
  <div id="page">
  	<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	  	<div class="round_m"><div class="round_body canvas_wrap s_clear">
		  	<div id="leftsidebar" class="canvas_l">
			  	<%= yield :left %>
        </div>
        <div class="canvas_main"><div class="canvas_main_c s_clear">
		  		<div class="canvas_m">
			  		<div class="canvas_c">
				  	<% flash.each do |key, msg| %>
  						<div class="<%=key%>-msg" id="notice_<%=key%>">
	  						<span class="icon-<%= key %>"></span>
		  					<%= msg %>
			  			</div>
				  		<script type="text/javascript">
  							setTimeout("new Effect.Fade('notice_<%= key %>');", 5000);
	  					</script>
		  			<% end %>
			  		<%= yield %>
            </div>
          </div>
          <div id="rightsidebar" class="canvas_r">
			  		<%= yield :right %> 
          </div>
        </div></div>
      </div></div>
    </div></div></div></div>
  </div>
  <%= render :partial => 'layouts/footer' %>
</body>
<% end %>

<%= render :file => 'layouts/base' %>
