<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title><%= (html_title = yield :html_title) ? html_title : '欢迎您' %> - 一起游戏网</title>
    <meta name="description" content="<%= (html_description = yield :html_description) ? html_description :  '一起游戏网(17Gaming.com)愿做网络游戏玩家的精神家园。在这里，您能找到曾经一起战斗的游戏网友，结交到新的游戏战友，并一起分享，一起成长，一起快乐。' %>">
    <meta name="keywords" content="<%= (html_keywords = yield :html_keywords) ? html_keywords : '17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区' %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon" />
    <%= stylesheet_link_merged :base %>
    <%= yield :stylesheet_link %>
    <%= javascript_include_merged :base %>
    <!-- 下面这个文件打包有错，所以不打包了-->
    <%= javascript_include_tag "juggernaut/juggernaut" %>
    <%= javascript_include_tag "juggernaut/swfobject" %>
    <%= yield :javascript_include %>
    <% if RAILS_ENV == 'production' %> 
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12541869-1']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'yodao', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', 'www.17gaming.com']); 
_gaq.push(['_addIgnoredOrganic', '17gaming']);
_gaq.push(['_addIgnoredOrganic', '一起游戏网']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
    <% end %>
  </head>

  <%= yield :body %>

</html>

