<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title><%= (html_title = yield :html_title) ? html_title : '欢迎您' %> - 17Gaming.com</title>
    <meta name="description" content="<%= (html_description = yield :html_description) ? html_description : '17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。在这里，您能找到曾经一起战斗的游戏网友，结交到新的游戏战友，并一起分享，一起成长，一起快乐。' %>">
    <meta name="keywords" content="<%= (html_keywords = yield :html_keywords) ? html_keywords : '17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区' %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_merged :base %>
    <%= yield :stylesheet_link %>
    <%= javascript_include_merged :base %>
    <!-- 下面这个文件打包有错，所以不打包了-->
    <%= javascript_include_tag "juggernaut/juggernaut" %>
    <%= yield :javascript_include %>
  </head>

  <%= yield :body %>

</html>

