<% content_for :stylesheet_link do %>
  <%= stylesheet_link_tag 'welcome' %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :register %>
<% end %>
 
<% content_for :body do %>
    <div id="header">
    <div id="navbar">
      <div id="navwrap">
        <div id="navmid">
					<%= link_to '', home_url(), :class => "logo-top png", :title => "17gaming" %>
          <p class="top_link right">
					<%= link_to_function "设为主页", "homepage()" %> |
					<%= link_to_function "加入收藏", "addBookmark()" %> |
					<%= link_to '关于我们', about_us_help_url %>
          </p>
        </div>
      </div>
    </div>
		</div>
    <%= yield %>
		<%= render :partial => 'layouts/footer' %>  
</body>
<% end %>

<%= render :file => 'layouts/base' %>

