<% content_for :stylesheet_link do %>
  <%= stylesheet_link_tag 'welcome' %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :register %>
<% end %>
 
<% content_for :body do %>
<body class="body_bg01">
	<div class="welcome-box">
    <div id="navbar">
      <div id="navwrap">
        <div id="navmid">
					<%= link_to '', home_url(), :class => "logo-top png", :title => "17gaming" %>
          <p class="top_link right">
            <a href="#" onclick="Iyxzone.addToHomepage();">设为首页</a>　|　<a href="#">反映建议</a>　|　<a href="#" onclick="Iyxzone.addToBookmark();">加入收藏</a>　|　<a href="#">关于我们</a>
          </p>
        </div>
      </div>
    </div>
    <%= yield %>
    </div>
  </div>
  <%= render :partial => 'layouts/footer' %>  
</body>
<% end %>

<%= render :file => 'layouts/base' %>

