<% content_for :stylesheet_link do %>
  <%= stylesheet_link_tag 'welcome' %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :register %>
<% end %>
 
<% content_for :body do %>
<body>
<div class="eventHeader">
	<div class="wrap">
        <ul>
          <li class="logo"><a href= <%=SITE_URL%>>一起游戏网</a></li>
          <% if logged_in? %>
            <li class="nav" id='nav1'>
              <%= link_to "首页", home_url %>
              <%= link_to "个人主页", profile_url(current_user.profile) %>
              <%= link_to "微博", home_mini_blogs_url %>
              <%= link_to_function "加入收藏", "Iyxzone.addToBookmark()" %>
            </li>
          <% else %>
            <li class="nav" id='nav1'>
              <%= link_to "首页", home_url %>
              <%= link_to_function "加入收藏", "Iyxzone.addToBookmark()" %>
            </li>
          <% end %>
          <li class="signIn" id="login_info">
						<% if logged_in? %>
							<span class="txt"> 欢迎你，<span class="memberName"><%= self.current_user.login%></span>
							</span>
						<% else %>
							<% form_tag "", :onsubmit => "Iyxzone.loginFromPromotion(this, $('login_btn')); return false;" do %>
							<ol>
								<li><%= text_field_tag 'email', "邮箱地址", :class => "ipt" %></li>
								<li><%= password_field_tag 'password', "登录密码", :class=>"ipt"%></li>
								<li class="reMe"><%= check_box_tag 'remember_me', 1, true %>记住我</li>
								<li class="login"><span class="button04"><span><button type="submit" id="login_btn">登陆</button></span></span></li>
							</ol>
							<% end %>
						<% end %>
          </li>
          <% if !logged_in? %>
            <li class="nav" id='nav2'><%= link_to '忘记密码', forgot_password_url %><span class="pipe">|</span><%= link_to '立即注册', signup_url %></li>
          <% end %>
        </ul>
    </div>
</div>

  <%= yield %>
  <%= render :partial => 'layouts/footer' %>  
</body>
<% end %>

<%= render :file => 'layouts/base' %>

