                  <div class="photo-op">
                    <% if @relationship == 'owner' or @relationship == 'friend' %>
                      <span class="photo-op-mark"></span>
                      <%= link_to_function "标记", "tagger.start()" %> | 
                    <% end %>
                    <% if @user == current_user %>
                      <span class="photo-op-edit"></span>
                      <%= facebox_link '编辑', edit_avatar_url(@photo, :at => 'photo') %> |
                      <% if !@photo.is_cover? %> 
                        <span class="photo-op-del"></span>
                        <%= facebox_confirm '删除', avatar_url(@photo), {:method => :delete, :msg => '你确定要删除吗?'} %> |
                      <% end %>
                    <% end %>
                    <span class="photo-op-share" ></span>
                    <%= facebox_link "分享", new_sharing_url(:url => avatar_url(@photo)), :width => 450 %> |
                    <span class="photo-op-praise" ></span>
                    <%= text_dig_link @photo %>
                  </div>

