<% content_for :html_title, "#{@user.login} - 头像照片 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的头像照片 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :stylesheet_link do %>
  <%= stylesheet_link_merged :photo %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :photo %>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <% if @user == current_user %>
      <h1 class="app-photo">照片</h1>
    <% else %>
      <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的头像相册"} %>
    <% end %>
    <div class="box02 canvas_int space">
      <%= render :partial => 'user/albums/tab', :locals => {:user => @user, :hover => 1} %>
      <div class="pic-box">
        <div class="img-container-main s_clear">
          <div class="img-container-wrap">
            <div class="img-container">
              <%= render :partial => 'user/photos/photo_path' %>
              <div class="img-main">
                <div class="imgwrap box05">
                  <%= render :partial => 'photo_operations' %>
                  <p><%= resize_image @photo, :id => "photo_#{@photo.id}" %></p>
									<%= render :partial => 'user/photos/photo_desc' %>
								</div>
							</div>
						</div>
					</div>
          <%= render :partial => 'shared/photo_slide', :locals => {:album => @album, :photo => @photo} %>
        </div>
      </div>
      <%= render :partial => 'user/photos/photo_func' %>
    </div>
  </div></div>
</div></div></div></div>

<%= render :partial => 'user/photo_tags/control_panel', :locals => {:photo => @photo, :tags => @tags, :user => @user, :tagged_users => current_user.friends} %>

<% unless @reply_to.blank? %>
  <%= onload_javascript_tag "Iyxzone.Comment.set('avatar', #{@photo.id}, '#{@reply_to.login}', #{@reply_to.id});" %>
<% end %>

