<% content_for :html_title, "#{@user.login} - 头像照片 - 17Gaming.com" %>
<% content_for :html_description, "#{@user.login}的头像照片 - 17Gaming.com (一起游戏网)愿做网络游戏玩家的精神家园。" %>
<% content_for :html_keywords, "#{@user.login}, 17Gaming, 一起游戏, 一起游戏网, 网络游戏玩家, 游戏社区, 社交网站, 网络游戏社区" %>

<% content_for :stylesheet_link do %>
  <%= stylesheet_link_merged :photo %>
<% end %>

<% content_for :javascript_include do %>
  <%= javascript_include_merged :photo %>
  <%= javascript_include_tag 'avatar' %>
<% end %>

<% canvas_tag do %>
  <% if @user == current_user %>
    <h1 class="app-photo">照片</h1>
  <% else %>
    <%= render :partial => 'user/profiles/profile_header', :locals => {:text => "#{@user.login}的头像相册"} %>
  <% end %>
  <div class="box02 canvas_int space">
    <%= render :partial => 'user/albums/tab', :locals => {:user => @user, :hover => 1} %>
    <div class="pic-box">
      <div class="img-container-main s_clear">
        <div class="img-container-wrap">
          <div class="img-container">
            <%= render :partial => 'user/photos/photo_path', :locals => {:user => @user, :album => @album} %>
            <div class="img-main">
              <div class="imgwrap box05">
                <%= render :partial => 'user/photos/photo_operations', :locals => {:photo => @photo,
                    :taggable => (@relationship == 'owner' or @relationship == 'friend'),
                    :editable => (@relationship == 'owner'),
                    :deleteable => (@relationship == 'owner' and !@photo.is_cover?),
                    :shareable => true,
                    :diggable => true
                  }%>
                <p><%= resize_image @photo, :id => "photo_#{@photo.id}" %></p>
								<%= render :partial => 'user/photos/photo_desc', :locals => {:user => @user, :photo => @photo} %>
							</div>
						</div>
					</div>
				</div>
        <%= render :partial => 'user/photos/photo_slide', :locals => {:album => @album, :photo => @photo} %>
      </div>
    </div>
    <div class='page-foot s_clear'>
      <%= render :partial => 'user/resources/foot_func', :locals => {:resource => @photo, :commentable => true, :viewable => false, :diggable => true, :comment_opts => {:commentable => @photo, :recipient => @photo.poster}, :reply_to => @reply_to} %>
      <%= render :partial => 'user/resources/randoms', :locals => {:title => "#{get_subject @user}的其他相册", :randoms => @random_albums} %>
    </div>
  </div>
<% end %>

<% if @photo.is_taggable_by?(current_user) %>
<%= render :partial => 'user/photo_tags/control_panel', :locals => {:photo => @photo, :tags => @tags, :user => @user} %>
<% end %>
