<%= stylesheet_link_tag 'test' %>
<%= javascript_include_tag 'cropper' %>
<%= stylesheet_link_tag 'cropper' %> 
<%= javascript_include_tag 'textboxlist' %>
<%= javascript_include_tag 'friend' %>
<%= javascript_include_tag 'photo' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>
  
<div class='crumb'>
<div class='left'>
<% subject = get_subject @user %>
<%= link_to "#{subject}的照片", personal_albums_url(:id => @user.id) %> -> <%= album_link @album %> -> 照片<br/>
</div>
</div>
<br/>
<div class='photo-view'>
  <div class='photo-wrap' >
    <%= image_tag @photo.public_filename, :id => "photo_#{@photo.id}" %>
  </div>
  <div class='photo-info'>
	<% if @user == current_user %>
    <%= in_place_text_field :span, @photo, :notation, true, avatar_url(@photo), {}, {:parameter_name => 'photo[notation]', :empty_text => '点击增加照片描述', :rows => 2, :cols => 70}, {} %>
	<% else %>
		<%= @photo.notation %>
	<% end %>
  </div>
	<div id='photo_tags'></div>
</div>

<%= render :partial => 'user/photo_tags/control_panel', :locals => {:photo => @photo} %>

<div id='photo_options'>
  <%= dig_link @photo %> |
	<%= link_to_function '标记', "tagger.start();" %> |
  <% if @user == current_user %>
    <%= link_to '编辑', edit_avatar_url(@photo), :rel => 'facebox' %> |
    <%= facebox_confirm 'x', avatar_url(@photo), {:method => :delete, :msg => '你确定要删除这张照片吗?'} %>  
  <% end %>
</div>

<div id='photo_preview'>
  <div class='prev'>
    <% if @album.photos_count > 4 %>
      <%= link_to_function '上一张', "slide.prev();" %>
    <% end %>
  </div>
  <div class='photo-list'>
    <ul id='frames'>
    <% window_size = (@album.photos_count > 4)? 4 : @album.photos_count %>
    <% window_size.times do |i| %>
      <li></li>
    <% end %>
    </ul>
  <div class='next'>
    <% if @album.photos_count > 4 %>
      <%= link_to_function '下一张', "slide.next();" %>
    <% end %>
  </div>
</div>

<%= render :partial => 'user/comments/comment_box', :locals => {:commentable => @photo, :recipient => @user} %>

<% photo_ids = array_or_string_for_javascript @album.photos.map(&:id) %>
<% urls = array_or_string_for_javascript @album.photos.map {|p| p.public_filename(:small)} %>
<%= javascript_tag "
  slide = new Iyxzone.Photo.Slide('avatar', #{photo_ids}, #{urls}, #{window_size}, $('frames').childElements(), #{@photo.id});
  tagger = new Iyxzone.Photo.Tagger('avatar', #{@photo.id}, 'control_panel', 'confirm_btn', 'cancel_btn', #{@tags}, 'photo_tags', #{@user == current_user ? 1 : 0}, 'tag_content', 'toggle_button', 'friend_login', 'friend_list', 'friend_table', 'friend_items', 'game_selector', '#{form_authenticity_token}', {});
"%>
